Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2020-06, with the labels that each got.

#435 K8SPXC-300 Mention 32 chars limit for password
  source/users.rst
Labels: size/XS

#432 CLOUD-546 Upgrade to Helm v3
  Jenkinsfile
  e2e-tests/demand-backup-encrypted-with-tls/run
  e2e-tests/functions
  e2e-tests/monitoring-2-0/run
  e2e-tests/monitoring/run
  e2e-tests/restore-to-encrypted-cluster/run
Labels: size/S

#439 K8SPSMDB-213 use v symbol in version tag
  source/gke.rst
  source/kubernetes.rst
  source/minikube.rst
  source/openshift.rst
Labels: size/XS

#414 K8SPXC-283 mention storage size in backup docs
  source/backups.rst
Labels: size/L

#431 K8SPXC-288 eks quickstart - initial doc
  source/backups.rst
  source/eks.rst
Labels: size/L

#442 Fix checks for PXC images in e2e functions and tests
  e2e-tests/big-data/run
  e2e-tests/functions
  e2e-tests/self-healing-advanced/run
  e2e-tests/self-healing/run
Labels: size/S

#423 CLOUD-532 enhance main TOC
  source/index.rst
Labels: docs, size/M

#447 CLOUD-403 show different commands for OpenShift and Kubernetes
  source/monitoring.rst
Labels: docs, size/M

#448 CLOUD-556 Fix vars after update
  e2e-tests/self-healing/compare/proxy-vars-80.sql
Labels: size/M

#445 CLOUD-546 use helm v3 for monitoring tests
  e2e-tests/README.md
  e2e-tests/functions
  e2e-tests/monitoring-2-0/run
  e2e-tests/monitoring/run
Labels: size/M

#433 K8SPXC-298 Add auto sync PXC users with ProxySQL
  pkg/controller/pxc/controller.go
Labels: size/M

#436 K8SPXC-279 Add operator admin user
  build/pxc-entrypoint.sh
  deploy/secrets.yaml
  e2e-tests/affinity/compare/statefulset_custom-pxc-oc.yml
  e2e-tests/affinity/compare/statefulset_custom-pxc.yml
  e2e-tests/affinity/compare/statefulset_hostname-pxc-oc.yml
  e2e-tests/affinity/compare/statefulset_hostname-pxc.yml
  e2e-tests/affinity/compare/statefulset_region-pxc-oc.yml
  e2e-tests/affinity/compare/statefulset_region-pxc.yml
  e2e-tests/affinity/compare/statefulset_zone-pxc-oc.yml
  e2e-tests/affinity/compare/statefulset_zone-pxc.yml
  e2e-tests/conf/secrets.yml
  e2e-tests/init-deploy/compare/root-80.sql
  e2e-tests/init-deploy/compare/statefulset_no-proxysql-pxc-oc.yml
  e2e-tests/init-deploy/compare/statefulset_no-proxysql-pxc.yml
  e2e-tests/init-deploy/compare/statefulset_some-name-pxc-oc.yml
  e2e-tests/init-deploy/compare/statefulset_some-name-pxc.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-increased.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-pxc-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-pxc-increased.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-pxc-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-pxc.yml
  e2e-tests/limits/compare/statefulset_no-requests-pxc-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-pxc-increased.yml
  e2e-tests/limits/compare/statefulset_no-requests-pxc-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-pxc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc.yml
  e2e-tests/monitoring/compare/statefulset_monitoring-pxc-oc.yml
  e2e-tests/monitoring/compare/statefulset_monitoring-pxc.yml
  e2e-tests/security-context/compare/statefulset_sec-context-pxc-changes.yml
  e2e-tests/security-context/compare/statefulset_sec-context-pxc.yml
  e2e-tests/storage/compare/statefulset_emptydir-pxc-oc.yml
  e2e-tests/storage/compare/statefulset_emptydir-pxc.yml
  e2e-tests/storage/compare/statefulset_hostpath-pxc-oc.yml
  e2e-tests/storage/compare/statefulset_hostpath-pxc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-150-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-150.yml
  pkg/controller/pxc/secrets.go
  pkg/controller/pxc/users.go
  pkg/pxc/app/statefulset/node.go
  pkg/pxc/users/users.go
Labels: size/L

#421 K8SPXC-280 Add support for compressed backups
  deploy/backup/README.md
  deploy/backup/copy-backup.sh
  deploy/backup/restore-backup.sh
  deploy/cr.yaml
Labels: size/S

#453 K8SPXC-257 add service account only in 1.5.0
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-100-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-100.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-110-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-110.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-120-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-120.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-130-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-130.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-140-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-140.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-150.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-100-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-100.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-110-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-110.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-120-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-120.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-130-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-130.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-140-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-140.yml
  e2e-tests/upgrade-consistency/run
  pkg/controller/pxc/upgrade.go
  pkg/pxc/statefulset.go
Labels: size/L

#454 K8SPXC-320 fix broken link to options; try using a single-option link
  source/scaling.rst
Labels: size/XS

#449 K8SPXC-256 fix "no such file issue"
  build/pxc-entrypoint.sh
Labels: size/S

#451 K8SPXC-327 crash after interrupted SST
  build/pxc-entrypoint.sh
Labels: size/XS

#452 K8SPXC-252 Add operator user to proxysql
  e2e-tests/affinity/compare/statefulset_custom-proxysql-oc.yml
  e2e-tests/affinity/compare/statefulset_custom-proxysql.yml
  e2e-tests/affinity/compare/statefulset_hostname-proxysql-oc.yml
  e2e-tests/affinity/compare/statefulset_hostname-proxysql.yml
  e2e-tests/affinity/compare/statefulset_region-proxysql-oc.yml
  e2e-tests/affinity/compare/statefulset_region-proxysql.yml
  e2e-tests/affinity/compare/statefulset_zone-proxysql-oc.yml
  e2e-tests/affinity/compare/statefulset_zone-proxysql.yml
  e2e-tests/init-deploy/compare/statefulset_some-name-proxysql-oc.yml
  e2e-tests/init-deploy/compare/statefulset_some-name-proxysql.yml
  e2e-tests/limits/compare/statefulset_no-limits-proxysql-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-proxysql-increased.yml
  e2e-tests/limits/compare/statefulset_no-limits-proxysql-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-proxysql.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-proxysql-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-proxysql-increased.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-proxysql-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-proxysql.yml
  e2e-tests/limits/compare/statefulset_no-requests-proxysql-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-proxysql-increased.yml
  e2e-tests/limits/compare/statefulset_no-requests-proxysql-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-proxysql.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-proxysql-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-proxysql.yml
  e2e-tests/monitoring/compare/statefulset_monitoring-proxysql-oc.yml
  e2e-tests/monitoring/compare/statefulset_monitoring-proxysql.yml
  e2e-tests/proxysql-sidecar-res-limits/compare/statefulset_side-car-proxysql-oc.yml
  e2e-tests/proxysql-sidecar-res-limits/compare/statefulset_side-car-proxysql.yml
  e2e-tests/security-context/compare/statefulset_sec-context-proxysql-changes-oc.yml
  e2e-tests/security-context/compare/statefulset_sec-context-proxysql-changes.yml
  e2e-tests/security-context/compare/statefulset_sec-context-proxysql.yml
  e2e-tests/storage/compare/statefulset_emptydir-proxysql-oc.yml
  e2e-tests/storage/compare/statefulset_emptydir-proxysql.yml
  e2e-tests/storage/compare/statefulset_hostpath-proxysql-oc.yml
  e2e-tests/storage/compare/statefulset_hostpath-proxysql.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-150-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-150.yml
  e2e-tests/upgrade/run
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/upgrade.go
  pkg/controller/pxc/users.go
  pkg/pxc/app/statefulset/node.go
  pkg/pxc/app/statefulset/proxysql.go
  pkg/pxc/statefulset.go
  pkg/pxc/users/users.go
Labels: size/XL

#455 K8SPXC-326 fix empty hash if AllowUnsafeConfig enabled
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/upgrade.go
Labels: size/S

#446 CLOUD-544 Use version service
  deploy/cr.yaml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/status.go
  pkg/controller/pxc/upgrade.go
  pkg/controller/pxc/version.go
  pkg/controller/pxc/vs.go
  pkg/pxc/queries/queries.go
Labels: size/L

#457 K8SPXC-330: Check pod online
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/upgrade.go
  pkg/pxc/queries/queries.go
Labels: size/M
