Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2020-08, with the labels that each got.

#496 CLOUD-544 it is needed to disable version service in tests
  e2e-tests/functions
Labels: size/XS

#521 K8SPXC-390 - Fix PXC-Operator pod crashing on missing HAProxy PodDisruptionBudget
  pkg/controller/pxc/controller.go
Labels: size/XS

#526 K8SPSMDB-229 mention secret keys are base64 encoded
  source/backups.rst
Labels: size/XS

#534 Fix log messages when there are no old versions
  pkg/controller/pxc/version.go
Labels: size/M

#527 K8SPXC-366 Fix installation of vault
  e2e-tests/functions
  e2e-tests/restore-to-encrypted-cluster/run
Labels: size/S

#532 K8SPXC-395: Add missed namespace when access haproxy service
  pkg/controller/pxc/upgrade.go
Labels: size/XS

#530 K8SPXC-404: Fix issue with cached version service URL
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/version.go
  pkg/controller/pxc/vs.go
Labels: size/S

#529 K8SPXC-405 fix typo in vault doc
  source/encryption.rst
Labels: size/XS

#528 K8SPXC-356 - Update e2e-tests/upgrade-consistency after 1.5.0 release
  e2e-tests/upgrade-consistency/compare/service_some-name-proxysql-160.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-160.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-160-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-160.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-160-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-160.yml
  e2e-tests/upgrade-consistency/run
Labels: size/XL

#509 K8SPXC-274 force mysql_upgrade if version upgrade is detected
  build/pxc-entrypoint.sh
Labels: size/XS

#537 K8SPXC-397 Add namespaces to connection strings
  pkg/controller/pxc/users.go
Labels: size/XS

#502 K8SPXC-372 use new cert-manager API Group
  deploy/rbac.yaml
  e2e-tests/functions
  e2e-tests/init-deploy/compare/certificate_no-proxysql-ssl-internal.yml
  e2e-tests/init-deploy/compare/certificate_no-proxysql-ssl.yml
  e2e-tests/init-deploy/compare/issuer_no-proxysql-pxc-ca.yml
  e2e-tests/init-deploy/run
Labels: size/M

#513 K8SPXC-351: custom ProxySQL config
  deploy/cr.yaml
  pkg/controller/pxc/controller.go
  pkg/pxc/app/statefulset/proxysql.go
Labels: size/M

#539 K8SPXC-409 mention that root token is not necessary
  source/encryption.rst
Labels: docs, size/XS

#524 K8SPXC-391 check if pmm container should be added
  e2e-tests/functions
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-haproxy.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-proxysql-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-proxysql.yml
  e2e-tests/monitoring-2-0/conf/monitoring.yml
  e2e-tests/monitoring-2-0/run
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/upgrade.go
  pkg/pxc/app/statefulset/haproxy.go
  pkg/pxc/app/statefulset/node.go
  pkg/pxc/app/statefulset/proxysql.go
  pkg/pxc/statefulset.go
Labels: size/XL

#542 K8SPXC-417: fix certmanager api version
  pkg/controller/pxc/tls.go
Labels: size/XS

#544 K8SPSMDB-234 GKE version upgrade
  source/System-Requirements.rst
Labels: size/XS

#543 K8SPXC-428 Integration with vault-token-issuer
  .gitignore
  deploy/cr.yaml
  e2e-tests/conf/some-name.yml
  e2e-tests/conf/vault-secret.yaml
  go.sum
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/upgrade.go
  pkg/controller/pxcrestore/controller.go
Labels: size/M

#540 K8SPXC-394 fix 'security-context' for openshift
  e2e-tests/functions
  e2e-tests/security-context/compare/job.batch_restore-job-restore-pvc-sec-context.yml
  e2e-tests/security-context/compare/job.batch_restore-job-restore-s3-sec-context.yml
  e2e-tests/security-context/compare/pod_restore-src-restore-pvc-sec-context.yml
  e2e-tests/security-context/compare/statefulset_sec-context-proxysql-changes-oc.yml
  e2e-tests/security-context/compare/statefulset_sec-context-proxysql-changes.yml
  e2e-tests/security-context/compare/statefulset_sec-context-proxysql.yml
  e2e-tests/security-context/compare/statefulset_sec-context-pxc-changes.yml
  e2e-tests/security-context/compare/statefulset_sec-context-pxc.yml
  e2e-tests/security-context/conf/sec-context-changes.yml
  e2e-tests/security-context/conf/sec-context.yml
  e2e-tests/security-context/run
  pkg/pxc/backup/restore.go
Labels: size/M, tests

#518 CLOUD-526 Document the Operator API
  source/_static/custom.css
  source/_templates/page.html
  source/api.rst
  source/assets/code/api-backup-cluster-request-json.txt
  source/assets/code/api-backup-cluster-response-json.txt
  source/assets/code/api-create-cluster-request-json.txt
  source/assets/code/api-create-cluster-response-json.txt
  source/assets/code/api-get-status-of-cluster-response-json.txt
  source/assets/code/api-list-cluster-response-json.txt
  source/assets/code/api-pass-config-to-cluster-request-json.txt
  source/assets/code/api-pass-config-to-cluster-response-json.txt
  source/assets/code/api-restore-cluster-request-json.txt
  source/assets/code/api-restore-cluster-response-json.txt
  source/assets/code/api-scale-cluster-request-json.txt
  source/assets/code/api-scale-cluster-response-json.txt
  source/assets/code/api-update-cluster-image-request-json.txt
  source/assets/code/api-update-cluster-image-response-json.txt
  source/index.rst
Labels: docs, size/XXL

#547 K8SPXC-416 add support of admin port
  build/pxc-configure-pxc.sh
  build/pxc-entrypoint.sh
  e2e-tests/affinity/compare/statefulset_custom-pxc-oc.yml
  e2e-tests/affinity/compare/statefulset_custom-pxc.yml
  e2e-tests/affinity/compare/statefulset_hostname-pxc.yml
  e2e-tests/affinity/compare/statefulset_region-pxc-oc.yml
  e2e-tests/affinity/compare/statefulset_region-pxc.yml
  e2e-tests/affinity/compare/statefulset_zone-pxc-oc.yml
  e2e-tests/affinity/compare/statefulset_zone-pxc.yml
  e2e-tests/init-deploy/compare/monitor-80.sql
  e2e-tests/init-deploy/compare/service_no-proxysql-pxc.yml
  e2e-tests/init-deploy/compare/service_some-name-proxysql-unready.yml
  e2e-tests/init-deploy/compare/service_some-name-proxysql.yml
  e2e-tests/init-deploy/compare/service_some-name-pxc.yml
  e2e-tests/init-deploy/compare/statefulset_no-proxysql-pxc-oc.yml
  e2e-tests/init-deploy/compare/statefulset_no-proxysql-pxc.yml
  e2e-tests/init-deploy/compare/statefulset_some-name-pxc-oc.yml
  e2e-tests/init-deploy/compare/statefulset_some-name-pxc.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-increased.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-pxc-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-pxc-increased.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-pxc-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-pxc.yml
  e2e-tests/limits/compare/statefulset_no-requests-pxc-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-pxc-increased.yml
  e2e-tests/limits/compare/statefulset_no-requests-pxc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-haproxy.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc.yml
  e2e-tests/monitoring/compare/statefulset_monitoring-pxc-oc.yml
  e2e-tests/monitoring/compare/statefulset_monitoring-pxc.yml
  e2e-tests/proxysql-sidecar-res-limits/compare/service_side-car-proxysql.yml
  e2e-tests/security-context/compare/statefulset_sec-context-pxc-changes.yml
  e2e-tests/security-context/compare/statefulset_sec-context-pxc.yml
  e2e-tests/self-healing/compare/proxy-vars-80.sql
  e2e-tests/storage/compare/statefulset_emptydir-pxc-oc.yml
  e2e-tests/storage/compare/statefulset_emptydir-pxc.yml
  e2e-tests/storage/compare/statefulset_hostpath-pxc-oc.yml
  e2e-tests/storage/compare/statefulset_hostpath-pxc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-160-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-160.yml
  e2e-tests/upgrade-consistency/run
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/upgrade.go
  pkg/controller/pxc/version.go
  pkg/pxc/app/statefulset/haproxy.go
  pkg/pxc/app/statefulset/node.go
  pkg/pxc/service.go
Labels: size/L

#546 K8SPXC-408 Set monitor user max connections to 100
  build/pxc-entrypoint.sh
Labels: size/XS
