Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2020-09, with the labels that each got.

#549 K8SPXC-411 code
  deploy/cr.yaml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/tls.go
Labels: size/L

#550 Comment tls section
  deploy/cr.yaml
Labels: size/XS

#551 CLOUD-526 remove tr in favor of sed to avoid error when url contains …
  source/api.rst
Labels: size/XS

#552 K8SPXC-416 use admin port for 'pxc-configure-pxc.sh'
  build/pxc-configure-pxc.sh
Labels: size/XS

#554 try to fix width
  source/api.rst
Labels: size/XS

#553 K8SPXC-416 add ability to change 'externalTrafficPolicy' via cr
  deploy/cr.yaml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/controller.go
  pkg/pxc/service.go
Labels: size/L

#548 K8SPXC-416 Add auto update for monitor user, Auto adding env to haproxy
  go.mod
  go.sum
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/users.go
  pkg/controller/pxc/vs.go
  pkg/pxc/app/statefulset/haproxy.go
  pkg/pxc/users/users.go
  vendor/github.com/go-ini/ini/.gitignore
  vendor/github.com/go-ini/ini/.travis.yml
  vendor/github.com/go-ini/ini/LICENSE
  vendor/github.com/go-ini/ini/Makefile
  vendor/github.com/go-ini/ini/README.md
  vendor/github.com/go-ini/ini/README_ZH.md
  vendor/github.com/go-ini/ini/error.go
  vendor/github.com/go-ini/ini/ini.go
  vendor/github.com/go-ini/ini/key.go
  vendor/github.com/go-ini/ini/parser.go
  vendor/github.com/go-ini/ini/section.go
  vendor/github.com/go-ini/ini/struct.go
  vendor/modules.txt
Labels: size/L

#545 K8SPXC-317 Made imagePullPolicy configurable
  deploy/cr.yaml
  e2e-tests/limits/compare/statefulset_no-limits-proxysql-increased.yml
  e2e-tests/limits/compare/statefulset_no-limits-proxysql.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-increased.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc.yml
  e2e-tests/limits/conf/no-limits.yml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/pxc/app/pmm.go
  pkg/pxc/app/statefulset/haproxy.go
  pkg/pxc/app/statefulset/node.go
  pkg/pxc/app/statefulset/proxysql.go
Labels: size/L

#525 K8SPXC-341 : haproxy tests
  Jenkinsfile
  e2e-tests/haproxy/compare/pdb_haproxy-haproxy.yml
  e2e-tests/haproxy/compare/select-1.sql
  e2e-tests/haproxy/compare/service_haproxy-haproxy.yml
  e2e-tests/haproxy/compare/service_haproxy-proxysql.yml
  e2e-tests/haproxy/compare/statefulset_haproxy-haproxy.yml
  e2e-tests/haproxy/compare/statefulset_haproxy-proxysql.yml
  e2e-tests/haproxy/conf/haproxy-proxysql.yml
  e2e-tests/haproxy/conf/haproxy.yml
  e2e-tests/haproxy/run
  e2e-tests/run
Labels: size/XL, tests

#557 K8SPXC-419 rework readiness/liveness checks
  build/Dockerfile
  build/liveness-check.sh
  build/pxc-entrypoint.sh
  build/pxc-init-entrypoint.sh
  build/readiness-check.sh
  e2e-tests/affinity/compare/statefulset_custom-pxc-oc.yml
  e2e-tests/affinity/compare/statefulset_custom-pxc.yml
  e2e-tests/affinity/compare/statefulset_hostname-pxc-oc.yml
  e2e-tests/affinity/compare/statefulset_hostname-pxc.yml
  e2e-tests/affinity/compare/statefulset_region-pxc-oc.yml
  e2e-tests/affinity/compare/statefulset_region-pxc.yml
  e2e-tests/affinity/compare/statefulset_zone-pxc-oc.yml
  e2e-tests/affinity/compare/statefulset_zone-pxc.yml
  e2e-tests/big-data/run
  e2e-tests/functions
  e2e-tests/haproxy/compare/service_haproxy-haproxy.yml
  e2e-tests/haproxy/compare/service_haproxy-proxysql.yml
  e2e-tests/haproxy/compare/statefulset_haproxy-haproxy.yml
  e2e-tests/init-deploy/compare/statefulset_no-proxysql-pxc-oc.yml
  e2e-tests/init-deploy/compare/statefulset_no-proxysql-pxc.yml
  e2e-tests/init-deploy/compare/statefulset_some-name-pxc-oc.yml
  e2e-tests/init-deploy/compare/statefulset_some-name-pxc.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-increased.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-pxc-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-pxc-increased.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-pxc-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-pxc.yml
  e2e-tests/limits/compare/statefulset_no-requests-pxc-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-pxc-increased.yml
  e2e-tests/limits/compare/statefulset_no-requests-pxc-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-pxc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc.yml
  e2e-tests/monitoring/compare/statefulset_monitoring-pxc-oc.yml
  e2e-tests/monitoring/compare/statefulset_monitoring-pxc.yml
  e2e-tests/security-context/compare/statefulset_sec-context-pxc-changes.yml
  e2e-tests/security-context/compare/statefulset_sec-context-pxc.yml
  e2e-tests/storage/compare/statefulset_emptydir-pxc-oc.yml
  e2e-tests/storage/compare/statefulset_emptydir-pxc.yml
  e2e-tests/storage/compare/statefulset_hostpath-pxc-oc.yml
  e2e-tests/storage/compare/statefulset_hostpath-pxc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-160-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-160.yml
  pkg/pxc/app/statefulset/node.go
Labels: size/L

#556 K8SPXC-429 Add backupSource to restore resource
  e2e-tests/demand-backup/conf/on-demand-backup-pvc-bsource.yml
  e2e-tests/demand-backup/conf/restore-from-source-backup-aws-s3.json
  e2e-tests/demand-backup/conf/restore-on-demand-backup-pvc-bsource.yaml
  e2e-tests/demand-backup/run
  e2e-tests/functions
  pkg/apis/pxc/v1/pxc_prestore_types.go
  pkg/controller/pxcrestore/controller.go
  pkg/controller/pxcrestore/restore.go
  pkg/pxc/backup/restore.go
Labels: size/L

#541 K8SPXC-411: Extend certmanager configuration
  Jenkinsfile
  e2e-tests/conf/secrets_without_tls.yml
  e2e-tests/functions
  e2e-tests/tls-issue-cert-manager-ref/compare/certificate_some-name-tls-issueref-ssl.yml
  e2e-tests/tls-issue-cert-manager-ref/compare/clusterissuer_special-selfsigned-issuer.yml
  e2e-tests/tls-issue-cert-manager-ref/compare/select-1.sql
  e2e-tests/tls-issue-cert-manager-ref/compare/select-2.sql
  e2e-tests/tls-issue-cert-manager-ref/conf/client.yml
  e2e-tests/tls-issue-cert-manager-ref/conf/issuer.yml
  e2e-tests/tls-issue-cert-manager-ref/conf/some-name-tls-issueref.yml
  e2e-tests/tls-issue-cert-manager-ref/run
  e2e-tests/tls-issue-cert-manager/compare/certificate_some-name-tls-issue-ssl.yml
  e2e-tests/tls-issue-cert-manager/compare/issuer_some-name-tls-issue-pxc-ca.yml
  e2e-tests/tls-issue-cert-manager/compare/select-1.sql
  e2e-tests/tls-issue-cert-manager/compare/select-2.sql
  e2e-tests/tls-issue-cert-manager/conf/client.yml
  e2e-tests/tls-issue-cert-manager/conf/some-name-tls-issue.yml
  e2e-tests/tls-issue-cert-manager/run
  e2e-tests/tls-issue-self/compare/select-1.sql
  e2e-tests/tls-issue-self/compare/select-2.sql
  e2e-tests/tls-issue-self/run
  pkg/controller/pxc/tls.go
Labels: size/L, tests

#560 K8SPXC-438 add possibility to use 32 symbols for cluster name
  build/pxc-configure-pxc.sh
  pkg/apis/pxc/v1/pxc_types.go
  pkg/pxc/backup/restore.go
Labels: size/S

#564 K8SPXC-443: Fix version service URL
  deploy/cr.yaml
Labels: size/XS

#567 K8SPXC-370 Fix 'demand-backup' test
  e2e-tests/demand-backup/conf/restore-on-demand-backup-pvc-bsource.yaml
Labels: size/XS

#561 K8SPXC-406 - fix wsrep_sst_donor option
  build/pxc-configure-pxc.sh
Labels: size/XS

#571 K8SPXC-417: update certmanager version
  pkg/controller/pxc/tls.go
Labels: size/XS

#572 K8SPXC-448: fix demand-backup-encrypted-with-tls test
  e2e-tests/demand-backup-encrypted-with-tls/conf/client.yml
  e2e-tests/functions
Labels: size/XS

#575 K8SPXC-450 remove unneeded annotations from HAproxy pods
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/upgrade.go
Labels: size/S

#573 Do not return error if can't start smart update
  pkg/controller/pxc/upgrade.go
Labels: size/S

#574 Use bytes.Equal instead of bytes.Compare for equality comparison
  pkg/controller/pxc/users.go
Labels: size/XS

#419 Fix updating mysql hosts in proxysql for one node cluster
  cmd/peer-list/main.go
Labels: community

#579 K8SPXC-435 Do not show any passwords in log
  build/pxc-configure-pxc.sh
  build/pxc-entrypoint.sh
Labels: size/S

#580 K8SPXC-423 Use 'peer-list' for pxc from init container
  build/Dockerfile
  build/pxc-entrypoint.sh
  build/pxc-init-entrypoint.sh
  build/unsafe-bootstrap.sh
Labels: size/S

#581 Fix install of peer-list
  build/Dockerfile
  build/pxc-init-entrypoint.sh
Labels: size/XS

#583 Fix peer-list issue in pxc-init-entrypoint.sh
  build/pxc-entrypoint.sh
  build/pxc-init-entrypoint.sh
  build/unsafe-bootstrap.sh
Labels: ASAP, size/XS

#582 K8SPXC-454: add certificate checks
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/upgrade.go
Labels: ASAP, size/S

#576 Rise limit for smart update to 2 hours
  pkg/controller/pxc/upgrade.go
Labels: ASAP, size/S

#584 Update versions for 1.6.0 release
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
Labels: size/S

#585 K8SPXC-440 improve recovery documentation
  source/recovery.rst
Labels: docs, size/S

#587 K8SPXC-440 add minor syntax fixes
  source/recovery.rst
Labels: docs, size/XS

#589 Typo fix for peer-list in pxc-entrypoint.sh
  build/pxc-entrypoint.sh
Labels: size/XS

#592 K8SPXC-449 update minikube version and fix other versions in supporte…
  source/System-Requirements.rst
Labels: size/XS

#590 K8SPXC-398 document crVersion key and its usage with upgrades
  source/operator.rst
  source/update.rst
Labels: ASAP, docs, size/S

#595 K8SPXC-307 use percona-client 8.0 version in docs
  source/gke.rst
  source/kubernetes.rst
  source/minikube.rst
  source/openshift.rst
  source/users.rst
Labels: size/S

#588 K8SPXC-456: trim "/versions" in versionservice url
  pkg/controller/pxc/vs.go
Labels: ASAP, size/XS

#591 K8SPXC-457: Wait for certmanager certificate issue
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/tls.go
  pkg/controller/pxc/upgrade.go
Labels: ASAP, size/M

#597 Remove namespaces in background
  e2e-tests/demand-backup-encrypted-with-tls/run
  e2e-tests/functions
  e2e-tests/restore-to-encrypted-cluster/run
Labels: size/XS

#594 K8SPXC-339 fix output in installation examples (mysql, haproxy)
  source/assets/images/gke-quickstart-object-browser-details.png
  source/assets/images/gke-quickstart-object-browser-error.png
  source/assets/images/gke-quickstart-object-browser.png
  source/eks.rst
  source/gke.rst
  source/kubernetes.rst
  source/minikube.rst
  source/openshift.rst
Labels: docs, size/L

#593 K8SPXC-383 fix revDNS warning
  build/pxc-configure-pxc.sh
Labels: size/XS

#596 K8SPXC-462 add readiness probe for HAproxy
  e2e-tests/haproxy/compare/statefulset_haproxy-haproxy.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-haproxy.yml
  e2e-tests/self-healing/compare/proxy-vars-80.sql
  e2e-tests/self-healing/compare/proxy-vars.sql
  pkg/pxc/app/statefulset/haproxy.go
Labels: size/M

#598 K8SPXC-461 rework the doc about certified images
  source/custom-registry.rst
  source/debug.rst
  source/images.rst
  source/index.rst
Labels: docs, size/L

#600 Fix init-deploy and self-healing tests for PXC 8.0.20
  e2e-tests/init-deploy/compare/root-80.sql
  e2e-tests/self-healing/compare/proxy-vars-80.sql
Labels: ASAP, size/XS

#601 K8SPXC-469 Fix typo
  pkg/controller/pxc/controller.go
Labels: size/XS

#602 Update PXC image in cr.yaml
  deploy/cr.yaml
Labels: size/XS

#578 K8SPXC-429 document restoring backup on different cluster
  source/backups.rst
Labels: ASAP, docs, size/M

#604 K8SPXC-471 Fix node labeling for Openshift
  e2e-tests/scheduled-backup/run
Labels: size/S

#603 K8SPXC-471 - Fix for running security-context test in EKS
  e2e-tests/functions
Labels: size/XS
