Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2020-07, with the labels that each got.

#443 K8SPXC-294 : creating layout for haproxy statefulset
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/status.go
  pkg/controller/pxc/upgrade.go
  pkg/pxc/app/statefulset/haproxy.go
  pkg/pxc/app/statefulset/node.go
  pkg/pxc/app/volumes.go
  pkg/pxc/service.go
  pkg/pxc/statefulset.go
Labels: size/XL

#461 Use HA proxy in smart update
  pkg/controller/pxc/upgrade.go
  pkg/pxc/queries/queries.go
Labels: size/M

#466 K8SPXC-332 improve scaling command
  source/scaling.rst
Labels: docs, size/S

#464 CLOUD-556 Remove extra fields
  e2e-tests/functions
Labels: size/XS, tests

#468 K8SPXC-333 pass extra fields
  deploy/cr.yaml
  deploy/operator.yaml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/apis/pxc/v1/zz_generated.deepcopy.go
  pkg/controller/pxc/version.go
  pkg/controller/pxc/vs.go
Labels: size/L

#463 K8SPXC-344 fix donor priority
  build/Dockerfile
  build/pxc-configure-pxc.sh
  build/pxc-entrypoint.sh
  build/pxc-init-entrypoint.sh
Labels: size/L

#472 K8SPXC-352 dont recreate cronjob on each reconcile loop
  pkg/pxc/backup/names.go
  pkg/pxc/backup/scheduled.go
Labels: size/S

#473 K8SPXC-353 haproxy-replicas service should forward from 3306 to 3307
  pkg/pxc/service.go
Labels: size/XS

#476 K8SPXC-338 Remove confusing log message
  pkg/controller/pxc/version.go
Labels: size/XS

#477 Fix version service URL path
  pkg/controller/pxc/vs.go
Labels: size/XS

#480 K8SPXC-294 HAProxy pods should be restarted on config change
  pkg/controller/pxc/upgrade.go
Labels: size/XS

#479 K8SPXC-358 UpgradeOptions.Apply should be case insensitive
  pkg/controller/pxc/version.go
Labels: size/S

#482 Added HAProxy check for nil
  pkg/controller/pxc/upgrade.go
Labels: size/XS

#481 K8SPXC-357: Fix version service URL
  pkg/controller/pxc/vs.go
Labels: size/XS

#484 K8SPXC-360: keep HAProxy version during status update
  pkg/controller/pxc/status.go
Labels: size/XS

#485 K8SPXC-344 add only ready PXC members into the config
  build/pxc-configure-pxc.sh
Labels: size/S

#488 K8SPXC-356 Openshift related adjustments
  e2e-tests/init-deploy/compare/statefulset_no-proxysql-pxc-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-pxc-oc.yml
  e2e-tests/monitoring/compare/statefulset_monitoring-pxc-oc.yml
  e2e-tests/security-context/compare/pod_restore-src-restore-pvc-sec-context-oc.yml
Labels: size/L

#490 K8SPXC-361: Prevent panic
  pkg/controller/pxc/upgrade.go
Labels: size/XS

#487 CLOUD-505 remove pmm from docs
  source/index.rst
  source/monitoring.rst
Labels: size/M

#471 K8SPXC-348 document backup compression
  source/backups.rst
Labels: docs, size/M

#475 K8SPXC-342 document haproxy options and update proxysql ones
  source/operator.rst
Labels: docs, size/L

#470 K8SPXC-349 automated system users management
  source/users.rst
Labels: docs, size/L

#491 K8SPXC-365 run version detection on image change if SmartUpdate disabled
  pkg/controller/pxc/version.go
Labels: size/S

#492 K8SPXC-361: Check if version in spec is nil
  pkg/apis/pxc/v1/pxc_types.go
Labels: size/XS

#494 K8SPXC-365 fix detection of Proxy image changes
  pkg/controller/pxc/version.go
  pkg/controller/pxc/vs.go
Labels: size/M

#467 K8SPXC-335 Add tests for users rotation and sync
  Jenkinsfile
  e2e-tests/functions
  e2e-tests/run
  e2e-tests/users/compare/select-1.sql
  e2e-tests/users/compare/select-2.sql
  e2e-tests/users/compare/select-3.sql
  e2e-tests/users/compare/select-4.sql
  e2e-tests/users/compare/select-5.sql
  e2e-tests/users/run
Labels: size/L, tests

#478 K8SPXC-342 haproxy doc
  source/haproxy-conf.rst
  source/proxysql-conf.rst
Labels: docs, size/L

#465 K8SPXC-340 document smartupdates functionality
  source/operator.rst
  source/update.rst
Labels: docs, size/L

#497 Fix test self-healing compare for proxy-vars for PXC 5.7
  e2e-tests/self-healing/compare/proxy-vars.sql
Labels: size/M

#499 K8SPXC-366 Fix the command which cleans up unused namespaces
  e2e-tests/functions
Labels: size/XS

#501 K8SPXC-356 Adjustments for Openshift
  e2e-tests/functions
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-150-oc.yml
  e2e-tests/users/compare/select-4-80.sql
  e2e-tests/users/compare/select-4.sql
Labels: size/L

#503 K8SPXC-342 fix minor HAProxy related formatting issues in docs
  source/haproxy-conf.rst
  source/index.rst
  source/operator.rst
  source/proxysql-conf.rst
Labels: size/XS

#500 K8SPXC-356 Fix scaling test for minikube
  e2e-tests/scaling/run
Labels: size/XS

#504 K8SPXC-356 Release adjustment for Openshift
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-150-oc.yml
Labels: size/XS

#506 K8SPXC-342 mention that SmartUpdates with Latest and Recommended inst…
  source/update.rst
Labels: size/S

#505 K8SPXC-342 minor formatting fix for the options table
  source/eks.rst
  source/operator.rst
Labels: size/XS

#507 CLOUD-560 fix controversial terminology in docs
  source/ReleaseNotes/Kubernetes-Operator-for-PXC-RN1.1.0.rst
  source/ReleaseNotes/Kubernetes-Operator-for-PXC-RN1.2.0.rst
  source/ReleaseNotes/Kubernetes-Operator-for-PXC-RN1.3.0.rst
  source/architecture.rst
Labels: size/XS

#508 Merge release-1.5.0 branch to master
  e2e-tests/self-healing/compare/proxy-vars.sql
Labels: size/M

#440 RN, initial version
  source/ReleaseNotes/Kubernetes-Operator-for-PXC-RN1.5.0.rst
  source/ReleaseNotes/index.rst
  source/conf.py
Labels: size/M

#510 K8 spxc 356 doc update followup for the release
  source/custom-registry.rst
Labels: size/S

#511 K8SPXC-356 hotfix forURLs in update doc
  source/update.rst
Labels: size/XS

#514 K8SPXC-376 update images names
  source/backups.rst
  source/conf.py
  source/custom-registry.rst
  source/debug.rst
  source/operator.rst
  source/recovery.rst
  source/update.rst
Labels: docs, size/M

#516 K8SPXC-380 fix the installation instructions link jirabot inserts in RN
  source/ReleaseNotes/Kubernetes-Operator-for-PXC-RN1.5.0.rst
Labels: size/XS

#486 K8SPXC-355 Swap day/month in S3 backup date format
  pkg/controller/pxcbackup/controller.go
Labels: community, size/XS

#512 New version code preparations after 1.5.0 release
  deploy/crd.yaml
  e2e-tests/functions
  e2e-tests/upgrade-consistency/run
  version/version.go
Labels: size/S

#519 K8SPXC-385 Add example of 'configuration' for HAProxy
  deploy/cr.yaml
Labels: size/S

#517 K8SPXC-366 Run cleanup of namespaces in background
  e2e-tests/functions
Labels: size/XS

#515 K8SPXC-356 Fix security-context test on EKS
  e2e-tests/functions
Labels: size/XS
