Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2020-10, with the labels that each got.

#607 Do not remove 'openshift*' namespaces
  e2e-tests/functions
Labels: size/XS

#610 K8SPXC-473: make current version as stored
  cmd/peer-list/main.go
  deploy/crd.yaml
Labels: size/S

#612 K8SPXC-471 - Regenerate bundle after K8SPXC-473 fix
  deploy/bundle.yaml
Labels: size/XS

#614 remove erroneously placed enabled option from yaml file example
  source/backups.rst
Labels: size/XS

#606 K8SPXC-343 documenting helm chart following the PSMDB Operator doc
  source/helm.rst
  source/index.rst
Labels: size/M

#605 K8SPXC-351 add doc about ProxySQL conguration following the existing …
  source/operator.rst
  source/proxysql-conf.rst
Labels: size/M

#615 K8SPXC-416 describe proxy protocol in docs
  source/haproxy-conf.rst
  source/operator.rst
Labels: docs, size/M

#611 K8SPXC-474: add resource requests to init containers
  e2e-tests/README.md
  e2e-tests/affinity/compare/statefulset_custom-pxc-oc.yml
  e2e-tests/affinity/compare/statefulset_custom-pxc.yml
  e2e-tests/affinity/compare/statefulset_hostname-pxc-oc.yml
  e2e-tests/affinity/compare/statefulset_hostname-pxc.yml
  e2e-tests/affinity/compare/statefulset_region-pxc-oc.yml
  e2e-tests/affinity/compare/statefulset_region-pxc.yml
  e2e-tests/affinity/compare/statefulset_zone-pxc-oc.yml
  e2e-tests/affinity/compare/statefulset_zone-pxc.yml
  e2e-tests/init-deploy/compare/statefulset_no-proxysql-pxc-oc.yml
  e2e-tests/init-deploy/compare/statefulset_no-proxysql-pxc.yml
  e2e-tests/init-deploy/compare/statefulset_some-name-pxc-oc.yml
  e2e-tests/init-deploy/compare/statefulset_some-name-pxc.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-increased.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc.yml
  e2e-tests/limits/compare/statefulset_no-requests-pxc-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-pxc-increased.yml
  e2e-tests/limits/compare/statefulset_no-requests-pxc-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-pxc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc.yml
  e2e-tests/monitoring/compare/statefulset_monitoring-pxc-oc.yml
  e2e-tests/monitoring/compare/statefulset_monitoring-pxc.yml
  e2e-tests/security-context/compare/statefulset_sec-context-pxc-changes.yml
  e2e-tests/security-context/compare/statefulset_sec-context-pxc.yml
  e2e-tests/storage/compare/statefulset_emptydir-pxc-oc.yml
  e2e-tests/storage/compare/statefulset_emptydir-pxc.yml
  e2e-tests/storage/compare/statefulset_hostpath-pxc-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-160-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-160.yml
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/upgrade.go
  pkg/pxc/app/statefulset/init.go
  pkg/pxc/statefulset.go
Labels: size/L

#616 add label to facilitate external refs in docs
  source/cluster-wide.rst
Labels: docs, size/XS

#620 Update versions in cw-bundle.yaml
  deploy/cw-bundle.yaml
Labels: size/XS

#621 Revert "K8SPXC-438 add possibility to use 32 symbols for cluster name"
  build/pxc-configure-pxc.sh
  pkg/apis/pxc/v1/pxc_types.go
  pkg/pxc/backup/restore.go
Labels: size/S

#625 K8SPXC-481 improve readiness check for recovery process
  build/readiness-check.sh
Labels: size/XS

#623 K8SPXC-479 fix update issue
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-150-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-150.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-160-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-160.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-150-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-150.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-160-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-160.yml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/controller.go
  pkg/pxc/app/statefulset/haproxy.go
Labels: ASAP, size/M

#627 Fix patch command on upgrade page
  source/update.rst
Labels: ASAP, size/S

#626 K8SPXC-480 Moved monitor user upgrade method
  e2e-tests/upgrade-consistency/conf/secrets.yml
  e2e-tests/upgrade-consistency/run
  pkg/controller/pxc/users.go
  pkg/pxc/users/users.go
Labels: ASAP, size/M

#630 K8SPXC-480 in case of update use '33062' port when proxy protocol is …
  pkg/controller/pxc/upgrade.go
Labels: size/S

#624 K8SPXC-394 remove editing of cw-bundle.yaml from docs
  source/cluster-wide.rst
Labels: ASAP, docs, size/M

#629 K8SPXC-306 better explanation of S3 and PV backups
  source/backups.rst
Labels: size/S

#631 Update ports when upgrade to newer CR version
  e2e-tests/upgrade-consistency/compare/service_some-name-proxysql-160.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-160.yml
  pkg/controller/pxc/controller.go
Labels: size/L

#633 K8SPXC-471 update image hashes, recovery steps
  source/images.rst
  source/recovery.rst
Labels: size/M

#565 PXC Operator 1.6.0 Release Notes
  source/ReleaseNotes/Kubernetes-Operator-for-PXC-RN1.6.0.rst
  source/ReleaseNotes/index.rst
  source/conf.py
Labels: ASAP, docs, size/M

#635 K8SPXC-471 update formatting & labels
  source/ReleaseNotes/Kubernetes-Operator-for-PXC-RN1.6.0.rst
  source/haproxy-conf.rst
Labels: size/XS

#619 K8SPXC-463 add additional output of 'wsrep_recovery_verbose' log
  build/pxc-entrypoint.sh
Labels: size/XS

#617 K8SPXC-487 Improve haproxy reload
  pkg/pxc/statefulset.go
Labels: size/XS

#636 K8SPXC-471 Replace branch with tag
  e2e-tests/upgrade-consistency/run
Labels: size/XS

#638 K8SPXC-429 mention user passwords should be the same on a new cluster…
  source/backups.rst
Labels: size/XS

#628 enable reproducible-builds
  Jenkinsfile
  e2e-tests/build
Labels: size/S

#577 Improve smart-update limit logic
  pkg/controller/pxc/upgrade.go
Labels: size/L

#599 K8SPXC-464 add 'pc.weight' option
  build/pxc-configure-pxc.sh
  e2e-tests/one-pod/conf/one-pod.yml
Labels: size/XS

#535 K8SPXC-253 roll out pxc annotation updates
  pkg/controller/pxc/upgrade.go
Labels: community, hacktoberfest-accepted, size/XS

#523 K8SPXC-367 SmartUpdate e2e test
  Jenkinsfile
  e2e-tests/functions
  e2e-tests/run
  e2e-tests/smart-update/compare/select-1.sql
  e2e-tests/smart-update/conf/smart-update-haproxy.yml
  e2e-tests/smart-update/conf/smart-update-version-service-reachable.yml
  e2e-tests/smart-update/conf/smart-update-version-service-unreachable.yml
  e2e-tests/smart-update/conf/smart-update.yml
  e2e-tests/smart-update/run
Labels: size/XL, tests

#639 K8SPXC-491 add XtraBackup compression for PXC 5.7
  deploy/cr.yaml
  e2e-tests/demand-backup/conf/demand-backup.yml
  e2e-tests/demand-backup/conf/on-demand-backup-aws-s3.yml
  e2e-tests/demand-backup/conf/on-demand-backup-gcp-cs.yml
  e2e-tests/demand-backup/conf/on-demand-backup-minio.yml
  e2e-tests/demand-backup/conf/on-demand-backup-pvc-bsource.yml
  e2e-tests/demand-backup/conf/on-demand-backup-pvc.yml
  e2e-tests/demand-backup/conf/restore-on-demand-backup-aws-s3.yaml
  e2e-tests/demand-backup/conf/restore-on-demand-backup-gcp-cs.yaml
  e2e-tests/demand-backup/conf/restore-on-demand-backup-minio.yaml
  e2e-tests/demand-backup/conf/restore-on-demand-backup-pvc-bsource.yaml
  e2e-tests/demand-backup/conf/restore-on-demand-backup-pvc.yaml
  e2e-tests/demand-backup/run
  e2e-tests/functions
Labels: size/L

#643 Update upgrade-consistency diff files after 1.6.0 release
  e2e-tests/upgrade-consistency/compare/service_some-name-proxysql-170.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-170.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-170-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-170.yml
Labels: size/L

#642 K8SPXC-500 use default service account for backups
  deploy/cr.yaml
Labels: size/XS

#608 K8SPXC-389 add possibility to set service type for replicas service
  deploy/cr.yaml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/controller.go
  pkg/pxc/service.go
Labels: size/M

#641 K8SPXC-491 mention limitation with compressed backups
  source/ReleaseNotes/Kubernetes-Operator-for-PXC-RN1.6.0.rst
Labels: size/S

#647 K8SPXC-503 Added init container image to spec
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/controller.go
Labels: hacktoberfest-accepted, size/XS

#648 K8SPXC-503 - remove check for v1.7.0 when applying init image
  pkg/controller/pxc/controller.go
Labels: size/XS

#653 K8SPXC-516 mention Vault is needed for default PXC encrytption
  source/encryption.rst
Labels: docs, size/XS

#654 K8SPXC-517 fix crash on missing backup section
  pkg/controller/pxc/version.go
Labels: hacktoberfest-accepted, size/XS

#656 K8SPXC-416 mention Proxy potocol needs compatible PXC version
  source/ReleaseNotes/Kubernetes-Operator-for-PXC-RN1.6.0.rst
  source/haproxy-conf.rst
Labels: size/S

#640 K8SPXC-499 fix: primary detection in cluster-wide if HAProxy enabled
  pkg/controller/pxc/upgrade.go
  pkg/controller/pxc/version.go
Labels: hacktoberfest-accepted, size/S

#645 K8SPXC-502 add annotations only if ssl hash is not empty
  pkg/controller/pxc/controller.go
Labels: hacktoberfest-accepted, size/S
