Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2020-12, with the labels that each got.

#680 K8SPXC-485 Add test for logcollector
  e2e-tests/conf/some-name.yml
  e2e-tests/functions
  e2e-tests/init-deploy/compare/statefulset_some-name-pxc.yml
  e2e-tests/init-deploy/run
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-170.yml
  e2e-tests/users/run
  pkg/apis/pxc/v1/pxc_types.go
Labels: size/L, tests

#672 K8SPXC-537: fix e2e tests
  e2e-tests/limits/run
  e2e-tests/one-pod/conf/one-pod.yml
  e2e-tests/operator-self-healing/run
  e2e-tests/self-healing/compare/proxy-vars-80.sql
  e2e-tests/validation-hook/conf/cr-with-no-storage.yaml
  e2e-tests/validation-hook/run
  pkg/controller/pxc/backup.go
  pkg/controller/pxc/controller.go
  pkg/k8s/operator_pod.go
  pkg/webhook/hook.go
Labels: size/L, tests

#679 K8SPXC-551 Doc update for secret update
  source/kubernetes.rst
  source/openshift.rst
  source/users.rst
Labels: docs, size/M

#682 CLOUD-596 Use the same minio version as psmdb
  e2e-tests/functions
Labels: size/XS

#683 K8SPXC-546: reduce number of configmaps update
  pkg/controller/pxc/backup.go
  pkg/controller/pxc/controller.go
Labels: size/L

#685 Fix operator-self-healing test for non cluster-wide environment
  e2e-tests/operator-self-healing/run
Labels: size/XS

#650 K8SPXC-497 integrate pmm into PXCO
  Jenkinsfile
  deploy/cr.yaml
  e2e-tests/functions
  e2e-tests/limits/compare/statefulset_no-limits-proxysql-increased.yml
  e2e-tests/limits/compare/statefulset_no-limits-proxysql.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-increased.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc.yml
  e2e-tests/monitoring-2-0/conf/monitoring.yml
  e2e-tests/monitoring-2-0/run
  pkg/apis/pxc/v1/pxc_types.go
  pkg/pxc/app/pmm.go
  pkg/pxc/app/statefulset/node.go
  pkg/pxc/app/statefulset/proxysql.go
Labels: size/XL

#686 K8SPXC-563 update recovery doc
  source/recovery.rst
Labels: docs, size/XS

#688 K8SPXC-521: Delete job if cluster was not found
  pkg/controller/pxc/version.go
Labels: size/XS

#687 K8SPXC-526: Make smart update work with multiple clusters
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/version.go
Labels: size/M

#673 K8SPXC-530 recovery part added
  build/pxc-entrypoint.sh
  cmd/pitr/collector/collector.go
  cmd/pitr/main.go
  cmd/pitr/pxc/pxc.go
  cmd/pitr/recoverer/recoverer.go
  cmd/pitr/recoverer/recoverer_test.go
  cmd/pitr/storage/storage.go
  e2e-tests/init-deploy/compare/xtrabackup-80.sql
  e2e-tests/security-context/compare/job.batch_xb-on-demand-backup-pvc.yml
  e2e-tests/security-context/compare/job.batch_xb-on-demand-backup-s3.yml
  go.mod
  go.sum
  pkg/apis/pxc/v1/pxc_prestore_types.go
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/backup.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/users.go
  pkg/controller/pxcrestore/controller.go
  pkg/controller/pxcrestore/restore.go
  pkg/pxc/app/config/configmap.go
  pkg/pxc/app/deployment/binlog-collector.go
  pkg/pxc/backup/backup.go
  pkg/pxc/backup/job.go
  pkg/pxc/backup/restore.go
  pkg/pxc/backup/scheduled.go
  pkg/pxc/users/users.go
Labels: size/XXL

#695 Fix url for version service endpoint
  source/operator.rst
  source/update.rst
Labels: size/XS

#694 K8SPXC-544 add liveness probe for haproxy
  e2e-tests/haproxy/compare/statefulset_haproxy-haproxy.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-haproxy.yml
  e2e-tests/security-context/compare/job.batch_restore-job-restore-s3-sec-context.yml
  e2e-tests/upgrade-haproxy/compare/statefulset_upgrade-haproxy-haproxy.yml
  pkg/pxc/app/statefulset/haproxy.go
Labels: size/M

#696 Always install the latest stable helm
  Jenkinsfile
Labels: size/XS

#691 K8SPXC-552 Add secrets volume to haproxy and pxc
  build/liveness-check.sh
  build/pxc-entrypoint.sh
  build/readiness-check.sh
  e2e-tests/affinity/compare/statefulset_custom-pxc-oc.yml
  e2e-tests/affinity/compare/statefulset_custom-pxc.yml
  e2e-tests/affinity/compare/statefulset_hostname-pxc-oc.yml
  e2e-tests/affinity/compare/statefulset_hostname-pxc.yml
  e2e-tests/affinity/compare/statefulset_region-pxc-oc.yml
  e2e-tests/affinity/compare/statefulset_region-pxc.yml
  e2e-tests/affinity/compare/statefulset_zone-pxc-oc.yml
  e2e-tests/affinity/compare/statefulset_zone-pxc.yml
  e2e-tests/build-and-run
  e2e-tests/haproxy/compare/statefulset_haproxy-haproxy.yml
  e2e-tests/init-deploy/compare/statefulset_no-proxysql-pxc-oc.yml
  e2e-tests/init-deploy/compare/statefulset_no-proxysql-pxc.yml
  e2e-tests/init-deploy/compare/statefulset_some-name-pxc-oc.yml
  e2e-tests/init-deploy/compare/statefulset_some-name-pxc.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-increased.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-pxc-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-pxc-increased.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-pxc-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-pxc.yml
  e2e-tests/limits/compare/statefulset_no-requests-pxc-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-pxc-increased.yml
  e2e-tests/limits/compare/statefulset_no-requests-pxc-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-pxc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-haproxy.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc.yml
  e2e-tests/monitoring/compare/statefulset_monitoring-pxc-oc.yml
  e2e-tests/monitoring/compare/statefulset_monitoring-pxc.yml
  e2e-tests/security-context/compare/statefulset_sec-context-pxc-changes.yml
  e2e-tests/security-context/compare/statefulset_sec-context-pxc.yml
  e2e-tests/storage/compare/statefulset_emptydir-pxc-oc.yml
  e2e-tests/storage/compare/statefulset_emptydir-pxc.yml
  e2e-tests/storage/compare/statefulset_hostpath-pxc-oc.yml
  e2e-tests/storage/compare/statefulset_hostpath-pxc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-170-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-170.yml
  e2e-tests/upgrade-haproxy/compare/statefulset_upgrade-haproxy-haproxy.yml
  e2e-tests/upgrade-haproxy/compare/statefulset_upgrade-haproxy-pxc.yml
  e2e-tests/upgrade-proxysql/compare/statefulset_upgrade-proxysql-pxc.yml
  e2e-tests/users/conf/some-name.yml
  e2e-tests/users/run
  go.mod
  go.sum
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/users.go
  pkg/pxc/app/statefulset/haproxy.go
  pkg/pxc/app/statefulset/node.go
Labels: size/XL

#699 K8SPXC-566 fix grep patern
  build/pxc-entrypoint.sh
Labels: size/XS

#689 K8SPXC-529: add graceful operator shutdown
  cmd/manager/main.go
  e2e-tests/operator-self-healing/run
  pkg/k8s/graceful_shutdown.go
Labels: size/M

#697 K8SPXC-566 Add PITR e2e tests
  Jenkinsfile
  cmd/pitr/collector/collector.go
  cmd/pitr/main.go
  cmd/pitr/pxc/pxc.go
  cmd/pitr/recoverer/recoverer.go
  cmd/pitr/recoverer/recoverer_test.go
  cmd/pitr/storage/storage.go
  e2e-tests/init-deploy/compare/root-80.sql
  e2e-tests/init-deploy/compare/xtrabackup-80.sql
  e2e-tests/pitr/compare/select-1.sql
  e2e-tests/pitr/compare/select-2.sql
  e2e-tests/pitr/compare/select-3.sql
  e2e-tests/pitr/compare/select-4.sql
  e2e-tests/pitr/conf/on-pitr-minio.yml
  e2e-tests/pitr/conf/pitr.yml
  e2e-tests/pitr/conf/restore-on-pitr-minio-time.yaml
  e2e-tests/pitr/conf/restore-on-pitr-minio.yaml
  e2e-tests/pitr/run
  e2e-tests/self-healing/compare/proxy-vars-80.sql
  e2e-tests/users/compare/select-4-80.sql
  go.mod
  go.sum
  pkg/controller/pxc/backup.go
  pkg/pxc/app/deployment/binlog-collector.go
Labels: size/XL

#702 K8SPXC-510 Removing obsolete steps
  pkg/apis/pxc/v1/pxc_types.go
Labels: size/S

#677 K8SPXC-510 ENV variables for offline operator
  deploy/csv/redhat/1.6.0/manifests/percona-xtradb-cluster-operator.v1.6.0.clusterserviceversion.yaml
  deploy/csv/redhat/1.6.0/tests/scorecard/config.yaml
  deploy/csv/redhat/bundle-1.6.0.Dockerfile
Labels: size/M
