Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2020-11, with the labels that each got.

#651 K8SPXC-512 feature Add support for comma separated namespaces in WATCH_NAMESPACE
  cmd/manager/main.go
Labels: community, hacktoberfest-accepted, size/S

#568 K8SPXC-343 unify and beautify operator deployment
  deploy/bundle.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
Labels: size/L

#660 Fix operator pod selector in e2e-tests functions
  e2e-tests/functions
Labels: size/XS

#661 K8SPXC-503 - read initImage on initial deployment
  pkg/controller/pxc/controller.go
Labels: size/XS

#663 Fix get_operator_pod to recognize old and new operator pod labels
  e2e-tests/functions
Labels: size/XS

#652 K8SPXC-510 Use ENV variables for images
  e2e-tests/operator-self-healing/conf/pumba.yml
  e2e-tests/upgrade/run
  pkg/apis/pxc/v1/pxc_types.go
Labels: size/S

#657 K8SPXC-524 cleanup cluster wide operator correctly after the test
  Jenkinsfile
  e2e-tests/affinity/run
  e2e-tests/demand-backup-encrypted-with-tls/run
  e2e-tests/functions
  e2e-tests/restore-to-encrypted-cluster/run
  e2e-tests/scheduled-backup/run
  e2e-tests/upgrade/run
Labels: size/M

#664 K8SPXC-445 mention debug images are for PXC only
  source/debug.rst
Labels: docs, size/XS

#665 Cleanup of deploy_cert_manager usage
  e2e-tests/big-data/run
  e2e-tests/functions
  e2e-tests/init-deploy/run
  e2e-tests/proxysql-sidecar-res-limits/run
  e2e-tests/security-context/run
  e2e-tests/smart-update/run
  e2e-tests/tls-issue-cert-manager-ref/run
  e2e-tests/tls-issue-cert-manager/run
  e2e-tests/users/run
Labels: size/S, tests

#649 CLOUD-579 - Add additional upgrade tests
  Jenkinsfile
  e2e-tests/functions
  e2e-tests/run
  e2e-tests/upgrade-haproxy/compare/select-1.sql
  e2e-tests/upgrade-haproxy/compare/statefulset_upgrade-haproxy-haproxy.yml
  e2e-tests/upgrade-haproxy/compare/statefulset_upgrade-haproxy-pxc.yml
  e2e-tests/upgrade-haproxy/run
  e2e-tests/upgrade-proxysql/compare/select-1.sql
  e2e-tests/upgrade-proxysql/compare/statefulset_upgrade-proxysql-proxysql.yml
  e2e-tests/upgrade-proxysql/compare/statefulset_upgrade-proxysql-pxc.yml
  e2e-tests/upgrade-proxysql/run
  e2e-tests/upgrade/conf/upgrade.yml
  e2e-tests/upgrade/run
Labels: tests

#668 K8SPXC-523 Fix annotations merge
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/upgrade.go
  pkg/pxc/statefulset.go
Labels: size/S

#669 K8SPXC-527 Add files for redhat certification
  deploy/csv/redhat/1.4.0/manifests/percona-xtradb-cluster-operator.v1.4.0.clusterserviceversion.yaml
  deploy/csv/redhat/1.4.0/manifests/perconaxtradbbackups.pxc.percona.com.crd.yaml
  deploy/csv/redhat/1.4.0/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  deploy/csv/redhat/1.4.0/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  deploy/csv/redhat/1.4.0/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  deploy/csv/redhat/1.4.0/metadata/annotations.yaml
  deploy/csv/redhat/1.5.0/manifests/percona-xtradb-cluster-operator.v1.5.0.clusterserviceversion.yaml
  deploy/csv/redhat/1.5.0/manifests/perconaxtradbbackups.pxc.percona.com.crd.yaml
  deploy/csv/redhat/1.5.0/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  deploy/csv/redhat/1.5.0/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  deploy/csv/redhat/1.5.0/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  deploy/csv/redhat/1.5.0/metadata/annotations.yaml
  deploy/csv/redhat/1.6.0/manifests/percona-xtradb-cluster-operator.v1.6.0.clusterserviceversion.yaml
  deploy/csv/redhat/1.6.0/manifests/perconaxtradbbackups.pxc.percona.com.crd.yaml
  deploy/csv/redhat/1.6.0/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  deploy/csv/redhat/1.6.0/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  deploy/csv/redhat/1.6.0/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  deploy/csv/redhat/1.6.0/metadata/annotations.yaml
  deploy/csv/redhat/README.md
  deploy/csv/redhat/bundle-1.4.0.Dockerfile
  deploy/csv/redhat/bundle-1.5.0.Dockerfile
  deploy/csv/redhat/bundle-1.6.0.Dockerfile
Labels: size/XXL

#662 K8SPXC-504 create faq
  source/faq.rst
  source/index.rst
Labels: docs, size/M

#671 Remove ValidatingWebhookConfiguration on namespace destroy in e2e test
  e2e-tests/functions
Labels: size/XS

#670 Fix init-deploy to use cert manager as issuer
  e2e-tests/functions
  e2e-tests/init-deploy/run
  e2e-tests/upgrade-haproxy/run
  e2e-tests/upgrade-proxysql/run
Labels: size/S, tests

#676 Fix timeout in Jenkinsfile and cleanup of upgrade tests
  Jenkinsfile
  e2e-tests/upgrade-haproxy/run
  e2e-tests/upgrade-proxysql/run
Labels: size/M

#666 CLOUD-579 - fix smart-update test
  e2e-tests/smart-update/conf/operator.9.9.9.pxc-operator.dep.json
  e2e-tests/smart-update/conf/operator.9.9.9.pxc-operator.json
  e2e-tests/smart-update/conf/smart-update-haproxy.yml
  e2e-tests/smart-update/conf/smart-update-version-service-reachable.yml
  e2e-tests/smart-update/conf/smart-update-version-service-unreachable.yml
  e2e-tests/smart-update/conf/smart-update.yml
  e2e-tests/smart-update/conf/vs.yml
  e2e-tests/smart-update/run
Labels: size/XL, tests

#658 K8SPXC-485 add ability to run logcollector as a sidecar for pxc pod
  build/pxc-configure-pxc.sh
  deploy/cr.yaml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/upgrade.go
  pkg/pxc/app/statefulset/haproxy.go
  pkg/pxc/app/statefulset/node.go
  pkg/pxc/app/statefulset/proxysql.go
  pkg/pxc/statefulset.go
Labels: size/L

#678 K8SPXC-551 Use plaintext user secret
  deploy/secrets.yaml
Labels: size/S
