Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2021-10, with the labels that each got.

#1001 K8SPXC-883 fix deprecated API admissionregistration.k8s.io/v1beta1
  pkg/webhook/hook.go
Labels: size/XS

#1003 Update golange to 1.17
  .github/workflows/reviewdog.yml
  Jenkinsfile
  build/Dockerfile
Labels: size/XS, hacktoberfest-accepted

#1002 K8SPXC-789: allow to configure and change replication parameters
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/replication.go
  pkg/pxc/queries/queries.go
Labels: size/L, hacktoberfest-accepted
