Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2021-04, with the labels that each got.

#830 Update proxysql version in self-healing test
  e2e-tests/self-healing/compare/proxy-vars-80.sql
  e2e-tests/self-healing/compare/proxy-vars.sql
Labels: size/XS

#836 Fix scheduled-backup test on openshift
  e2e-tests/scheduled-backup/compare/cronjob_f875c-each-min-aws-s3-oc.yml
  e2e-tests/scheduled-backup/compare/cronjob_f875c-each-min-gcp-cs-oc.yml
  e2e-tests/scheduled-backup/compare/cronjob_f875c-each-min-minio-oc.yml
  e2e-tests/scheduled-backup/compare/cronjob_f875c-each-min-pvc-oc.yml
Labels: size/XS

#818 add redhat marketplace to the installation instructions
  source/img/marketplace-operator-install.png
  source/img/marketplace-operator-page.png
  source/openshift.rst
Labels: docs

#833 K8SPXC-693 custom sidecar containers
  source/faq.rst
Labels: docs, size/S

#829 K8SPXC-699 fix container runtime
  Jenkinsfile
  e2e-tests/functions
  e2e-tests/haproxy/conf/container-rc.yaml
  e2e-tests/haproxy/run
Labels: size/S

#819 K8SPXC-624 mention tthat purging binlogs before backup breaks PITR
  source/backups.rst
Labels: docs, size/XS

#835 K8SPXC-695 PITR improvements
  source/backups.rst
Labels: docs, size/XS

#826 K8SPXC-574 add haproxy vs proxysql to faq
  source/faq.rst
Labels: docs, size/S

#839 K8SPXC-696 smart update updates
  source/update.rst
Labels: docs, size/S

#834 K8SPXC-694 document-backup-retention
  source/backups.rst
  source/operator.rst
Labels: docs, size/S

#842 Fix sed command
  e2e-tests/functions
Labels: size/XS

#802 K8SPXC-321 feature: Restrict running less than 2 pods of proxySQL if unsafe flag is not set
  e2e-tests/affinity/compare/statefulset_custom-proxysql-oc.yml
  e2e-tests/affinity/compare/statefulset_custom-proxysql.yml
  e2e-tests/affinity/compare/statefulset_hostname-proxysql-oc.yml
  e2e-tests/affinity/compare/statefulset_hostname-proxysql.yml
  e2e-tests/affinity/compare/statefulset_region-proxysql-oc.yml
  e2e-tests/affinity/compare/statefulset_region-proxysql.yml
  e2e-tests/affinity/compare/statefulset_zone-proxysql-oc.yml
  e2e-tests/affinity/compare/statefulset_zone-proxysql.yml
  e2e-tests/haproxy/compare/statefulset_haproxy-proxysql-oc.yml
  e2e-tests/haproxy/compare/statefulset_haproxy-proxysql.yml
  e2e-tests/init-deploy/compare/statefulset_some-name-proxysql-oc.yml
  e2e-tests/init-deploy/compare/statefulset_some-name-proxysql.yml
  e2e-tests/limits/compare/statefulset_no-limits-proxysql-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-proxysql-increased.yml
  e2e-tests/limits/compare/statefulset_no-limits-proxysql-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-proxysql.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-proxysql-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-proxysql-increased.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-proxysql-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-proxysql.yml
  e2e-tests/limits/compare/statefulset_no-requests-proxysql-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-proxysql-increased.yml
  e2e-tests/limits/compare/statefulset_no-requests-proxysql-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-proxysql.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-haproxy.yml
  e2e-tests/proxysql-sidecar-res-limits/compare/statefulset_side-car-proxysql-oc.yml
  e2e-tests/proxysql-sidecar-res-limits/compare/statefulset_side-car-proxysql.yml
  e2e-tests/scaling-proxysql/run
  e2e-tests/security-context/compare/statefulset_sec-context-proxysql-changes-4-oc.yml
  e2e-tests/security-context/compare/statefulset_sec-context-proxysql-changes-oc.yml
  e2e-tests/security-context/compare/statefulset_sec-context-proxysql-changes.yml
  e2e-tests/security-context/compare/statefulset_sec-context-proxysql.yml
  e2e-tests/security-context/run
  e2e-tests/self-healing/compare/proxy-vars-80.sql
  e2e-tests/smart-update/run
  e2e-tests/storage/compare/statefulset_emptydir-proxysql-oc.yml
  e2e-tests/storage/compare/statefulset_emptydir-proxysql.yml
  e2e-tests/storage/compare/statefulset_hostpath-proxysql-oc.yml
  e2e-tests/storage/compare/statefulset_hostpath-proxysql.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-100-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-100.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-110-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-110.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-120-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-120.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-130-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-130.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-140-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-140.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-150-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-150.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-160-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-160.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-170-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-170.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-180-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-180.yml
  e2e-tests/upgrade-consistency/run
  e2e-tests/users/run
  pkg/apis/pxc/v1/pxc_types.go
Labels: size/L

#831 K8SPXC-692 document horizontal scaling
  source/scaling.rst
Labels: docs, size/S

#843 K8SPXC-568 feature: Restrict running more than 5 pods of PXC if unsafe flag is not set
  pkg/apis/pxc/v1/pxc_types.go
Labels: size/XS

#823 K8SPXC-688 Add possibility of defining env variables via CR
  deploy/cr.yaml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/upgrade.go
  pkg/pxc/app/statefulset/haproxy.go
  pkg/pxc/app/statefulset/node.go
  pkg/pxc/app/statefulset/proxysql.go
Labels: size/L

#846 K8SPSMDB-431: Add finalizer to on-demand backup spec
  deploy/backup/backup.yaml
  pkg/controller/pxcbackup/controller.go
Labels: size/S

#848 K8SPXC-656 Use PXC ImagePullPolicy for init containers
  e2e-tests/limits/compare/statefulset_no-limits-pxc-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-increased.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc.yml
  pkg/controller/pxc/controller.go
  pkg/pxc/app/statefulset/init.go
Labels: size/S

#850 Remove trailing slash in backup endpoint
  pkg/controller/pxcbackup/controller.go
Labels: size/XS

#849 K8SPXC-642: Update labels in sts template
  pkg/controller/pxc/upgrade.go
Labels: size/XS

#852 K8SPXC-707: read current gtid from sst_info file
  cmd/pitr/collector/collector.go
  cmd/pitr/recoverer/recoverer.go
  cmd/pitr/storage/storage.go
  pkg/controller/pxcrestore/controller.go
Labels: size/L

#855 Remove commented finalizer in backup.yaml
  deploy/backup/backup.yaml
Labels: size/XS

#857 K8SPXC-721 Update TLS certificates
  e2e-tests/conf/secrets.yml
Labels: size/S

#856 K8SPXC-724 Don't show password in the log
  build/pxc-entrypoint.sh
Labels: size/XS

#854 K8SPXC-722 init adopters commit
  ADOPTERS.md
  adopters/example/README.md
  adopters/users/spron-in/README.md
Labels: size/M

#859 Comment delete-s3-backup finalizer because K8SPXC-726
  deploy/backup/backup.yaml
Labels: size/XS

#844 Rn 1.8.0 options update
  source/System-Requirements.rst
  source/backups.rst
  source/conf.py
  source/faq.rst
  source/operator.rst
  source/scaling.rst
Labels: docs, size/L

#832 RN 1.8.0
  source/ReleaseNotes/Kubernetes-Operator-for-PXC-RN1.8.0.rst
  source/ReleaseNotes/index.rst
  source/conf.py
  source/images.rst
  source/scaling.rst
Labels: docs, size/L

#860 K8SPXC-674 minor release-related updates
  source/ReleaseNotes/Kubernetes-Operator-for-PXC-RN1.8.0.rst
  source/TLS.rst
  source/api.rst
  source/monitoring.rst
  source/operator.rst
Labels: docs, size/S

#861 Release 1.8.0
  Jenkinsfile
  deploy/backup/backup.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/functions
  e2e-tests/scheduled-backup/compare/cronjob_f875c-each-min-aws-s3-oc.yml
  e2e-tests/scheduled-backup/compare/cronjob_f875c-each-min-gcp-cs-oc.yml
  e2e-tests/scheduled-backup/compare/cronjob_f875c-each-min-minio-oc.yml
  e2e-tests/scheduled-backup/compare/cronjob_f875c-each-min-pvc-oc.yml
  e2e-tests/self-healing/compare/proxy-vars.sql
Labels: size/M

#863 updating ADOPTERS.md with Laimis Valatka
  ADOPTERS.md
  adopters/users/laimison/README.md
Labels: size/M

#851 K8SPXC-673: Add PMM client sidecar to HAProxy statefulset
  pkg/pxc/app/pmm.go
  pkg/pxc/app/statefulset/haproxy.go
Labels: size/M
