Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2021-05, with the labels that each got.

#858 K8SPXC-726: Extra checks for backup finalizer
  pkg/controller/pxcbackup/controller.go
Labels: size/XS

#869 Fix monitoring-2-0 test
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-haproxy.yml
  e2e-tests/monitoring-2-0/run
Labels: size/L

#864 K8SPXC-734: Include namespace in maual recovery command
  build/pxc-entrypoint.sh
Labels: community, size/XS

#853 K8SPXC-509 Make peer-list handle SIGUSR1
  cmd/peer-list/main.go
Labels: community, size/S

#867 K8SPXC-511: Delete secrets on PVC finalizer
  pkg/controller/pxc/controller.go
Labels: size/M

#872 Leviatan adopter story
  ADOPTERS.md
  adopters/leviatan/README.md
Labels: size/S

#873 K8PXC-736 automate gke versions update in docs
  source/System-Requirements.rst
  source/conf.py
  source/gke.rst
Labels: docs, size/XS

#874 K8SPXC-727: improve pitr on frequent uploads
  cmd/pitr/recoverer/recoverer.go
Labels: size/S

#878 K8SPXC-657 feature: Store custom configuration in Secrets
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/upgrade.go
  pkg/pxc/app/statefulset/haproxy.go
  pkg/pxc/app/statefulset/node.go
  pkg/pxc/app/statefulset/proxysql.go
  pkg/pxc/statefulset.go
Labels: size/M

#875 CLOUD-623 add PXC and PXCO intro and link to the index page
  source/index.rst
Labels: docs, size/S

#879 K8SPXC-630 fix cluster deletion
  Jenkinsfile
Labels: size/XS

#868 CLOUD-622 add examples of architecture decision records
  docs/architecture/README.md
  docs/architecture/decisions/0001-record-architecture-decisions.md
  docs/architecture/decisions/index.md
  docs/architecture/decisions/template.md
Labels: size/M

#871 fix K8SPXC-716 by checking ownership and uid before deleting sts
  pkg/controller/pxc/controller.go
Labels: community, size/XS

#883 K8SPXC-757 prevent mysql update in case of manual recovery process
  build/pxc-entrypoint.sh
Labels: size/XS

#870 K8SPXC-674 RedHat certification files
  deploy/csv/redhat/1.8.0/manifests/percona-xtradb-cluster-operator.v1.8.0.clusterserviceversion.yaml
  deploy/csv/redhat/1.8.0/manifests/perconaxtradbbackups.pxc.percona.com.crd.yaml
  deploy/csv/redhat/1.8.0/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  deploy/csv/redhat/1.8.0/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  deploy/csv/redhat/1.8.0/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  deploy/csv/redhat/1.8.0/metadata/annotations.yaml
  deploy/csv/redhat/1.8.0/tests/scorecard/config.yaml
  deploy/csv/redhat/bundle-1.8.0.Dockerfile
Labels: size/XL

#881 CLOUD-625 - Add chaos-mesh e2e-tests
  Jenkinsfile
  e2e-tests/conf/chaos-network-loss.yml
  e2e-tests/conf/chaos-pod-failure.yml
  e2e-tests/conf/chaos-pod-kill.yml
  e2e-tests/functions
  e2e-tests/operator-self-healing-chaos/compare/select-1.sql
  e2e-tests/operator-self-healing-chaos/conf/operator-chaos.yml
  e2e-tests/operator-self-healing-chaos/run
  e2e-tests/operator-self-healing/run
  e2e-tests/run
  e2e-tests/self-healing-advanced-chaos/compare/select-1.sql
  e2e-tests/self-healing-advanced-chaos/conf/self-healing-advanced.yml
  e2e-tests/self-healing-advanced-chaos/run
  e2e-tests/self-healing-advanced/run
  e2e-tests/self-healing-chaos/compare/proxy-vars-80.sql
  e2e-tests/self-healing-chaos/compare/proxy-vars.sql
  e2e-tests/self-healing-chaos/compare/select-1-2nd.sql
  e2e-tests/self-healing-chaos/compare/select-1-3rd.sql
  e2e-tests/self-healing-chaos/compare/select-1.sql
  e2e-tests/self-healing-chaos/run
  e2e-tests/self-healing/run
Labels: size/XL

#887 K8SPXC-740 mention cluster name limitations
  source/operator.rst
Labels: docs, size/XS

#882 K8SPXC-682: Adjust innodb_buffer_pool_chunk_size to respect memory limit
  pkg/pxc/app/config/autotune.go
Labels: size/S
