Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2021-09, with the labels that each got.

#958 Fix cleanup of chaos-mesh when test fails
  e2e-tests/functions
Labels: tests, size/XS

#981 K8SPXC-851: handle replication password change
  clientcmd/clientcmd.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/replication.go
  pkg/controller/pxc/status_test.go
  pkg/controller/pxc/users.go
  pkg/pxc/queries/queries.go
Labels: size/L

#983 K8SPXC-588: allow disabling k8s service for haproxy-replicas with a flag
  deploy/cr.yaml
  e2e-tests/functions
  e2e-tests/haproxy/compare/service_haproxy-haproxy-replicas.yml
  e2e-tests/haproxy/run
  pkg/apis/pxc/v1/pxc_types.go
  pkg/apis/pxc/v1/zz_generated.deepcopy.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/status.go
  pkg/controller/pxc/status_test.go
Labels: size/L

#975 K8SPXC-856 feature to add volumes for sidecars
  pkg/apis/pxc/v1/pxc_types.go
  pkg/apis/pxc/v1/zz_generated.deepcopy.go
  pkg/controller/pxc/upgrade.go
  pkg/pxc/statefulset.go
Labels: size/M, community

#988 K8SPXC-796: S3 backup deletion doesn't delete Pods
  pkg/controller/pxcbackup/controller.go
Labels: size/S

#987 K8SPXC-871: update finalizers in etcd for manually deleted pvc backup
  pkg/controller/pxcbackup/controller.go
Labels: size/M

#989 K8SPXC-831: remove forceUnsafeBootstrap
  cmd/pitr/recoverer/recoverer_test.go
  deploy/cr.yaml
  e2e-tests/validation-hook/conf/cr-with-haproxy-and-proxysql.yaml
  e2e-tests/validation-hook/conf/cr-with-too-long-name.yaml
  pkg/controller/pxc/upgrade.go
  pkg/pxc/statefulset.go
Labels: size/M

#990 Update cer-manager for e2e tests
  e2e-tests/functions
  e2e-tests/init-deploy/compare/certificate_no-proxysql-ssl-internal.yml
  e2e-tests/init-deploy/compare/certificate_no-proxysql-ssl.yml
  e2e-tests/init-deploy/compare/issuer_no-proxysql-pxc-issuer.yml
  e2e-tests/scheduled-backup/run
  e2e-tests/tls-issue-cert-manager-ref/compare/certificate_some-name-tls-issueref-ssl.yml
  e2e-tests/tls-issue-cert-manager-ref/compare/clusterissuer_special-selfsigned-issuer.yml
  e2e-tests/tls-issue-cert-manager-ref/conf/issuer.yml
  e2e-tests/tls-issue-cert-manager/compare/certificate_some-name-tls-issue-ssl.yml
  e2e-tests/tls-issue-cert-manager/compare/issuer_some-name-tls-issue-pxc-ca-issuer.yml
  e2e-tests/tls-issue-cert-manager/compare/issuer_some-name-tls-issue-pxc-issuer.yml
Labels: size/S

#991 Fix conflict error on status update
  pkg/controller/pxc/status.go
Labels: size/S

#993 [K8SPXC-762] Validating webhook not accepting scale operation
  e2e-tests/validation-hook/conf/cr-simple.yaml
  e2e-tests/validation-hook/run
  pkg/webhook/hook.go
Labels: size/M

#992 Fix for K8SPXC-824 Cluster may get into an unrecoverable state
  build/pxc-entrypoint.sh
Labels: size/S

#994 [K8SPXC-783]: grant SYSTEM_USER for monitor and clustercheck users
  build/pxc-entrypoint.sh
  e2e-tests/init-deploy/compare/clustercheck-80.sql
  e2e-tests/init-deploy/compare/clustercheck.sql
  e2e-tests/init-deploy/compare/monitor-80.sql
  e2e-tests/init-deploy/compare/monitor.sql
  pkg/controller/pxc/users.go
  pkg/pxc/users/users.go
Labels: size/L

#997 CLOUD-647 remove unused travis artefacts
  .travis.yml
  client-secret.json.enc
Labels: size/M

#998 K8SPXC-876: fix tests for EKS 1.21
  e2e-tests/functions
  e2e-tests/one-pod/run
Labels: size/S

#1000 K8SPXC-845: do not stuck in case of wrong cr
  pkg/controller/pxc/controller.go
Labels: size/M

#999 K8SPXC-842: delete backup from folder
  pkg/controller/pxcbackup/controller.go
Labels: size/S
