Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2021-11, with the labels that each got.

#1023 K8SPXC-895 - Fixes in tests for kubernetes 1.22
  e2e-tests/default-cr/compare/service_cluster1-haproxy-k122.yml
  e2e-tests/default-cr/compare/service_cluster1-pxc-k122.yml
  e2e-tests/functions
  e2e-tests/haproxy/compare/service_haproxy-haproxy-k122.yml
  e2e-tests/haproxy/compare/service_haproxy-haproxy-replicas-k122.yml
  e2e-tests/haproxy/compare/service_haproxy-proxysql-k122.yml
  e2e-tests/haproxy/run
  e2e-tests/init-deploy/compare/service_no-proxysql-pxc-k122.yml
  e2e-tests/init-deploy/compare/service_some-name-proxysql-k122.yml
  e2e-tests/init-deploy/compare/service_some-name-proxysql-unready-k121.yml
  e2e-tests/init-deploy/compare/service_some-name-proxysql-unready-k122.yml
  e2e-tests/init-deploy/compare/service_some-name-pxc-k122.yml
  e2e-tests/proxysql-sidecar-res-limits/compare/service_side-car-proxysql-k122.yml
  e2e-tests/run
  e2e-tests/security-context/compare/job.batch_restore-job-restore-pvc-sec-context-k122.yml
  e2e-tests/security-context/compare/job.batch_restore-job-restore-s3-sec-context-k122.yml
  e2e-tests/security-context/compare/job.batch_xb-on-demand-backup-pvc-k122.yml
  e2e-tests/security-context/compare/job.batch_xb-on-demand-backup-s3-k122.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-proxysql-100-k122.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-proxysql-110-k122.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-proxysql-1100-k122.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-proxysql-120-k122.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-proxysql-130-k122.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-proxysql-140-k122.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-proxysql-150-k122.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-proxysql-160-k122.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-proxysql-170-k122.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-proxysql-180-k122.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-proxysql-190-k122.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-100-k122.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-110-k122.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-1100-k122.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-120-k122.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-130-k122.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-140-k122.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-150-k122.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-160-k122.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-170-k122.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-180-k122.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-190-k122.yml
  e2e-tests/upgrade-consistency/run
Labels: size/XXL, hacktoberfest-accepted

#1034 K8SPXC-860 initimage option
  source/custom-registry.rst
  source/operator.rst
Labels: size/S, docs

#1038 K8SPXC-895 - Update versions for PXCO 1.10.0 release
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/monitoring-2-0/run
Labels: size/M

#1041 Make docker push optional in e2e-tests/build script
  e2e-tests/build
Labels: size/XS

#1044 K8SPXC-895 - Fixes for OpenShift tests
  e2e-tests/functions
  e2e-tests/init-deploy/compare/service_some-name-proxysql-unready-oc-k122.yml
  e2e-tests/init-deploy/compare/service_some-name-proxysql-unready-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-proxysql-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-proxysql-oc.yml
  e2e-tests/security-context/compare/pod_restore-src-restore-pvc-sec-context-4-oc.yml
Labels: size/L

#1040 CLOUD-651 fix: smartupdate starts after pod deletion
  pkg/controller/pxc/upgrade.go
Labels: size/M

#1047 K8SPXC-895 - Fixes for tests on different platforms
  e2e-tests/default-cr/compare/statefulset_cluster1-pxc-oc.yml
  e2e-tests/default-cr/compare/statefulset_minimal-cluster-pxc-oc.yml
  e2e-tests/default-cr/run
  e2e-tests/functions
  e2e-tests/init-deploy/compare/clustercheck.sql
  e2e-tests/init-deploy/compare/monitor.sql
  e2e-tests/operator-self-healing-chaos/run
  e2e-tests/self-healing-advanced-chaos/run
  e2e-tests/self-healing-chaos/run
Labels: size/XL

#1037 K8SPXC-900 disable syncing of mysql and admin variables
  deploy/cr.yaml
Labels: size/XS

#1048 K8SPXC-895 - Fix certificate generation for vault server on 1.22
  e2e-tests/functions
Labels: size/XS

#1052 K8SPXC-895 - Fix vault start in tests for older kubernetes
  e2e-tests/functions
Labels: size/XS

#1046 K8SPXC-880 mention labels not updated at upgrade
  source/update.rst
Labels: size/XS, docs

#1055 K8SPXC-895 - Fix init-deploy test on EKS
  e2e-tests/functions
  e2e-tests/init-deploy/compare/service_some-name-proxysql-unready-eks-k121.yml
  e2e-tests/init-deploy/compare/service_some-name-proxysql-unready-eks.yml
Labels: size/M

#1050 K8SPXC-892 fix docs with cr-minimal release tag
  source/minikube.rst
Labels: size/XS, docs

#1036 K8SPXC-789 add replication retry options
  source/glossary.options.rst
  source/operator.rst
Labels: size/M, docs

#1054 K8SPXC-904 use admin port in get-pxc-state
  build/Dockerfile
  build/get-pxc-state
  build/pxc-entrypoint.sh
  build/pxc-init-entrypoint.sh
Labels: size/M

#1033 K8SPXC-865 document OpenEBS storage
  source/storage.rst
Labels: size/M, docs

#1056 K8SPXC-895 - Fix upgrade tests on EKS/OpenShift and Kubernetes 1.21+
  e2e-tests/functions
  e2e-tests/upgrade-consistency/run
Labels: size/XS

#1035 K8SPXC-895 add release notes
  Makefile
  requirements.txt
  runtime.txt
  source/ReleaseNotes/Kubernetes-Operator-for-PXC-RN1.10.0.rst
  source/ReleaseNotes/index.rst
  source/System-Requirements.rst
  source/_static/images/percona-logo.svg
  source/_static/images/percona_favicon.ico
  source/conf-netlify/conf.py
  source/conf.py
  source/helm.rst
  source/operator.rst
Labels: size/L, docs

#1058 K8SPXC-895 fixes for RN
  source/ReleaseNotes/Kubernetes-Operator-for-PXC-RN1.10.0.rst
  source/glossary.options.rst
Labels: size/S, docs

#1060 K8SPXC-908 add mysql timeouts
  pkg/controller/pxc/replication.go
  pkg/controller/pxc/upgrade.go
  pkg/controller/pxc/users.go
  pkg/controller/pxc/version.go
  pkg/pxc/queries/queries.go
  pkg/pxc/users/users.go
Labels: size/M

#1053 CLOUD-654 - don't set defaults in CR
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/version.go
  pkg/controller/pxcrestore/controller.go
Labels: size/M

#1061 K8SPXC-901: Add default resource limits for Operator's pod containers
  deploy/bundle.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
Labels: size/S

#1064 K8SPXC-738 feature: add `serviceLabels` to pod specification
  pkg/apis/pxc/v1/pxc_types.go
  pkg/apis/pxc/v1/zz_generated.deepcopy.go
  pkg/pxc/service.go
Labels: size/L

#1067 K8SPXC-911 - increase memory limits for operator pod
  deploy/bundle.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
Labels: size/XS

#1065 K8SPXC-910 specify database name by default
  pkg/pxc/queries/queries.go
  pkg/pxc/users/users.go
Labels: size/XS

#1066 CLOUD-656 - Add support for chaos-mesh 2.0.4 and kubernetes 1.22
  e2e-tests/conf/chaos-network-loss.yml
  e2e-tests/conf/chaos-pod-failure.yml
  e2e-tests/conf/chaos-pod-kill.yml
  e2e-tests/functions
  e2e-tests/operator-self-healing-chaos/conf/operator-chaos.yml
  e2e-tests/operator-self-healing-chaos/run
  e2e-tests/self-healing-advanced-chaos/run
  e2e-tests/self-healing-chaos/run
Labels: size/M

#1069 K8SPXC-738: Add `serviceLabels` example in `cr.yaml`
  deploy/cr.yaml
Labels: size/XS

#1070 K8SPX-780 document issuerConf custom resource subsection
  source/operator.rst
Labels: size/M, docs

#1062 make changes specific to the internal preview release
  source/ReleaseNotes/Kubernetes-Operator-for-PXC-RN1.10.0.rst
  source/TLS.rst
  source/conf.py
  source/glossary.options.rst
  source/images.rst
Labels: size/M, docs

#1072 K8SPXC-895 - Update versions after 1.10.0 release
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  deploy/operator.yaml
  e2e-tests/functions
  e2e-tests/operator-self-healing-chaos/run
  e2e-tests/self-healing-advanced-chaos/run
  e2e-tests/self-healing-chaos/run
  e2e-tests/upgrade-consistency/compare/service_some-name-proxysql-1110-k122.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-proxysql-1110.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-1110-k122.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-1110.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1110-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1110.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1110-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1110.yml
  e2e-tests/upgrade-consistency/run
  version/version.go
Labels: size/XXL
