Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2021-02, with the labels that each got.

#755 K8SPXC-530 mention PITR and backup compression can't be used together
  source/backups.rst
Labels: docs, size/XS

#757 Release 1.7.0 addons
  source/ReleaseNotes/Kubernetes-Operator-for-PXC-RN1.7.0.rst
  source/backups.rst
  source/faq.rst
  source/haproxy-conf.rst
  source/images.rst
  source/operator.rst
  source/proxysql-conf.rst
  source/update.rst
Labels: docs, size/M

#758 Release 1.7.0
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/functions
  e2e-tests/monitoring-2-0/run
  e2e-tests/one-pod/run
  e2e-tests/pitr/run
  e2e-tests/security-context/compare/pod_restore-src-restore-pvc-sec-context-oc.yml
  e2e-tests/self-healing/compare/proxy-vars.sql
  pkg/controller/pxc/status.go
Labels: size/M

#759 Update operator.rst
  source/operator.rst
Labels: docs, size/XS

#756 Use correct default user and password for pmm2 server
  deploy/cr.yaml
  deploy/secrets.yaml
Labels: size/XS

#725 K8SPXC-519: operator logs improvements
  go.mod
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/full_crash_recovery.go
  pkg/controller/pxc/upgrade.go
  pkg/controller/pxc/version.go
Labels: size/L

#752 CLOUD-591 feature: Add support for sidecar containers for operators
  e2e-tests/haproxy/compare/statefulset_haproxy-haproxy.yml
  e2e-tests/haproxy/compare/statefulset_haproxy-proxysql-oc.yml
  e2e-tests/haproxy/compare/statefulset_haproxy-proxysql.yml
  e2e-tests/haproxy/conf/haproxy-proxysql.yml
  e2e-tests/haproxy/conf/haproxy.yml
  e2e-tests/init-deploy/compare/statefulset_no-proxysql-pxc-oc.yml
  e2e-tests/init-deploy/compare/statefulset_no-proxysql-pxc.yml
  e2e-tests/init-deploy/conf/no-proxysql.yml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/apis/pxc/v1/zz_generated.deepcopy.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/upgrade.go
  pkg/pxc/statefulset.go
Labels: size/L

#760 Update after PXC 1.7.0 release and prepare for 1.8.0
  deploy/crd.yaml
  e2e-tests/functions
  e2e-tests/upgrade-consistency/compare/service_some-name-proxysql-180.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-180.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-180-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-180.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-180-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-180.yml
  e2e-tests/upgrade-consistency/run
  version/version.go
Labels: size/XL

#763 minor fix in the monitoring doc
  source/monitoring.rst
Labels: size/XS

#764 fix logging
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/upgrade.go
  pkg/controller/pxc/version.go
  pkg/controller/pxcbackup/controller.go
  pkg/controller/pxcrestore/controller.go
Labels: size/M

#765 K8SPXC-596 improve mysql connection timeouts for liveness/readiness checks
  build/liveness-check.sh
  build/readiness-check.sh
Labels: size/S

#743 K8SPXC-598 Add support for compressed backups for PITR
  Jenkinsfile
  cmd/pitr/recoverer/recoverer.go
  cmd/pitr/recoverer/recoverer_test.go
  e2e-tests/pitr/conf/pitr.yml
Labels: size/M

#766 K8SPXC-637 improve crash recovery message
  build/pxc-entrypoint.sh
Labels: size/XS

#767 K8SPXC-636 fix wrong line removal
  source/backups.rst
Labels: docs, size/XS

#769 Fix upgrade tests after 1.7.0 release
  e2e-tests/upgrade-haproxy/compare/statefulset_upgrade-haproxy-haproxy.yml
  e2e-tests/upgrade-haproxy/compare/statefulset_upgrade-haproxy-pxc-oc.yml
  e2e-tests/upgrade-haproxy/compare/statefulset_upgrade-haproxy-pxc.yml
  e2e-tests/upgrade-haproxy/run
  e2e-tests/upgrade-proxysql/compare/statefulset_upgrade-proxysql-pxc-oc.yml
  e2e-tests/upgrade-proxysql/compare/statefulset_upgrade-proxysql-pxc.yml
  e2e-tests/upgrade-proxysql/run
Labels: size/L

#761 K8SPXC-627 Add logic for choosing host with oldest binlogs
  Jenkinsfile
  cmd/pitr/collector/collector.go
  cmd/pitr/pxc/pxc.go
  cmd/pitr/recoverer/recoverer.go
Labels: size/L

#762 CLOUD-611: Fix usage of deprecated runtime/scheme package
  cmd/manager/main.go
  pkg/apis/pxc/v1/register.go
  pkg/controller/pxcbackup/controller.go
  pkg/pxc/backup/restore.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/runtime/log/log.go
  vendor/sigs.k8s.io/controller-runtime/pkg/runtime/scheme/scheme.go
  vendor/sigs.k8s.io/controller-runtime/pkg/runtime/signals/signal.go
Labels: size/S

#771 rename the default branch to 'main' for PXC Operator
  e2e-tests/functions
  e2e-tests/smart-update/conf/operator.9.9.9.pxc-operator.json
  e2e-tests/smart-update/run
  e2e-tests/upgrade-consistency/run
Labels: size/M

#772 K8SPXC-640 wrong doc
  source/operator.rst
Labels: docs, size/XS

#774 K8SPXC-643 restart node if it has non-Primary state
  build/liveness-check.sh
Labels: size/XS

#779 K8SPXC-655 fix typo in TLS doc, PXC version
  source/TLS.rst
Labels: docs, size/XS

#768 K8SPXC-631 Add errors handling to collector
  cmd/pitr/collector/collector.go
Labels: size/S

#773 K8SPXC-647 allow change replicas count with "kubectl scale" command
  deploy/crd.yaml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/status.go
Labels: size/S

#775 CLOUD-615 automatically cleanup obsolete tests results in PR
  Jenkinsfile
Labels: size/M, tests

#780 K8SPXC-632 Get last gtid from backup last gtid set
  cmd/pitr/pxc/pxc.go
  cmd/pitr/recoverer/recoverer.go
Labels: size/S

#778 K8SPXC-654 use admin port for liveness/readiness probs
  build/liveness-check.sh
  build/readiness-check.sh
  e2e-tests/big-data/conf/backup.yml
Labels: size/S

#781 K8SPXC-622 add possibility of skipping backups to aws/gcp S3 storage
  e2e-tests/big-data/run
  e2e-tests/demand-backup-encrypted-with-tls/run
  e2e-tests/demand-backup/run
  e2e-tests/functions
  e2e-tests/one-pod/run
  e2e-tests/pitr/run
  e2e-tests/restore-to-encrypted-cluster/run
  e2e-tests/scheduled-backup/run
  e2e-tests/security-context/run
Labels: size/L

#784 fix a typo in a log message
  cmd/pitr/collector/collector.go
Labels: size/XS

#782 K8SPXC-622 add contributing guide
  CONTRIBUTING.md
  code-of-conduct.md
Labels: docs, size/M

#785 K8SPXC-622 minor polish in contributing guide
  CONTRIBUTING.md
Labels: docs, size/XS

#786 add runtimeClassName and sidecars options
  deploy/cr.yaml
Labels: size/S

#783 CLOUD-615 rework license check
  Jenkinsfile
  e2e-tests/license/compare/go-licenses
  e2e-tests/license/compare/license-detector
Labels: size/M
