Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2021-01, with the labels that each got.

#700 CLOUD-562 add links to autogenerated RN to genindex
  source/ReleaseNotes/Kubernetes-Operator-for-PXC-RN1.3.0.rst
  source/ReleaseNotes/Kubernetes-Operator-for-PXC-RN1.4.0.rst
  source/ReleaseNotes/Kubernetes-Operator-for-PXC-RN1.5.0.rst
  source/ReleaseNotes/Kubernetes-Operator-for-PXC-RN1.6.0.rst
Labels: docs, size/XS

#711 K8SPXC-587 Intelligent release CRD application
  e2e-tests/functions
Labels: size/XS

#712 K8SPXC-586 Some tests fixes
  e2e-tests/monitoring-2-0/run
  e2e-tests/upgrade-proxysql/compare/statefulset_upgrade-proxysql-pxc-oc.yml
Labels: size/L

#703 K8SPXC-572 Add default aws endpoints
  cmd/pitr/collector/collector.go
  cmd/pitr/recoverer/recoverer.go
  pkg/pxc/app/deployment/binlog-collector.go
Labels: size/S

#706 K8SPXC-582 Mount password into pitr pod
  cmd/pitr/collector/collector.go
  pkg/pxc/app/deployment/binlog-collector.go
Labels: size/S

#708 Update controller.go
  pkg/controller/pxc/controller.go
Labels: size/XS

#713 K8SPXC-133 - Add template for PITR backup/restore
  deploy/backup/restore.yaml
  deploy/cr.yaml
Labels: size/S

#701 CLOUD-577 remove pxc abbreviations from docs
  source/System-Requirements.rst
  source/TLS.rst
  source/api.rst
  source/architecture.rst
  source/backups.rst
  source/encryption.rst
  source/faq.rst
  source/haproxy-conf.rst
  source/kubernetes.rst
  source/minikube.rst
  source/openshift.rst
  source/operator.rst
  source/options.rst
  source/pause.rst
  source/proxysql-conf.rst
  source/recovery.rst
  source/update.rst
  source/users.rst
Labels: docs, size/L

#715 K8SPXC-587 Add file missing for openshift
  e2e-tests/upgrade-proxysql/compare/statefulset_upgrade-proxysql-proxysql-oc.yml
Labels: size/L

#714 K8SPXC-490 - improve error message when not enough mem
  pkg/pxc/app/config/autotune.go
Labels: size/XS

#717 Fix restore error message typo
  pkg/pxc/backup/restore.go
Labels: size/XS

#690 K8SPXC-564 Improve recovery process
  Jenkinsfile
  build/liveness-check.sh
  build/pxc-entrypoint.sh
  clientcmd/clientcmd.go
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-rbac.yaml
  deploy/rbac.yaml
  e2e-tests/functions
  e2e-tests/pitr/run
  e2e-tests/security-context/compare/pod_restore-src-restore-pvc-sec-context-4-oc.yml
  e2e-tests/security-context/compare/pod_restore-src-restore-pvc-sec-context.yml
  e2e-tests/security-context/run
  e2e-tests/self-healing-advanced/conf/self-healing-advanced.yml
  e2e-tests/self-healing-advanced/run
  pkg/apis/pxc/v1/pxc_prestore_types.go
  pkg/apis/pxc/v1/pxc_types.go
  pkg/apis/pxc/v1/zz_generated.deepcopy.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/full_crash_recovery.go
  pkg/controller/pxc/status.go
  pkg/controller/pxc/users.go
  pkg/controller/pxcrestore/controller.go
  pkg/controller/pxcrestore/restore.go
Labels: size/XL

#721 K8SPXC-595: Change disableHookValidation field in cr
  deploy/cr.yaml
  e2e-tests/validation-hook/conf/cr-with-haproxy-and-proxysql.yaml
  e2e-tests/validation-hook/conf/cr-with-no-storage.yaml
  e2e-tests/validation-hook/conf/cr-with-too-long-name.yaml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/webhook/hook.go
Labels: size/M

#722 CLOUD-605 PMM server chart version upgrade
  e2e-tests/monitoring-2-0/run
Labels: size/XS

#724 Remove whitespace in cw-rbac.yaml
  deploy/cw-rbac.yaml
Labels: size/XS

#723 K8SPXC-593 Add binlog buffer
  cmd/pitr/collector/collector.go
  cmd/pitr/pxc/pxc.go
  cmd/pitr/storage/storage.go
Labels: size/L

#726 K8SPXC-572 Add defaults to recover
  cmd/pitr/recoverer/recoverer.go
Labels: size/S

#727 K8SPXC-604: add owner references to webhook
  e2e-tests/self-healing/compare/proxy-vars-80.sql
  e2e-tests/self-healing/compare/proxy-vars.sql
  pkg/webhook/hook.go
Labels: size/L

#684 K8SPXC-299 clarify unsafe configurations
  source/operator.rst
Labels: docs, size/XS

#681 CLOUD-538-add-pictures-to-backups-doc
  source/assets/images/backup-pv.png
  source/assets/images/backup-s3.png
  source/assets/images/sources/backups.odg
  source/backups.rst
Labels: docs

#718 K8SPXC-497 add PMM doc
  source/index.rst
  source/monitoring.rst
Labels: docs, size/M

#729 K8SPXC-607 enable libcoredumper for PXCO
  build/pxc-configure-pxc.sh
Labels: size/XS

#728 Updates for 1.7.0 release
  build/pxc-configure-pxc.sh
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
Labels: size/M

#730 Revert "rollback proxysql"
  e2e-tests/self-healing/compare/proxy-vars-80.sql
  e2e-tests/self-healing/compare/proxy-vars.sql
Labels: size/M

#732 K8SPXC-608 Allow log check only for 1.7.0 or greater
  pkg/controller/pxc/status.go
Labels: size/S

#733 K8SPXC-608 deletionGracePeriodSeconds is no loger in file
  e2e-tests/security-context/compare/pod_restore-src-restore-pvc-sec-context-oc.yml
Labels: size/XS

#710 K8SPXC-567 remove forceUnsafeBootstrap option from docs
  source/operator.rst
Labels: docs, size/S

#716 K8SPXC-485 document log collector
  source/debug.rst
  source/operator.rst
Labels: docs, size/L

#736 K8SPXC-610 Change host selection
  cmd/pitr/pxc/pxc.go
Labels: size/XS

#731 K8SPXC-460 add TPCC-like workload pod
  e2e-tests/conf/sysbench-tpcc.yaml
Labels: size/M, tests

#737 K8SPXC-608 Fixing cluster wide openshift configuration
  e2e-tests/monitoring-2-0/run
Labels: size/S

#734 Update waits in e2e functions for Minikube
  e2e-tests/functions
  e2e-tests/one-pod/run
Labels: size/XS, tests

#675 CLOUD-538 update clusterwide doc with graphics and note for the 1.7 v…
  source/assets/images/cluster-wide-1.png
  source/assets/images/cluster-wide-2.png
  source/assets/images/sources/cluster-wide.odp
  source/cluster-wide.rst
Labels: docs

#740 Removal of duplicate options
  deploy/cr.yaml
Labels: size/XS

#741 Unify the suffixes for resources values
  deploy/cr.yaml
Labels: size/S

#739 Change autoRecovery option in cr.yaml
  deploy/cr.yaml
Labels: size/XS

#742 Fix diff in self-healing test for PXC 5.7
  e2e-tests/self-healing/compare/proxy-vars.sql
Labels: size/XS

#747 Skip PITR test for PXC 5.7
  e2e-tests/pitr/run
Labels: size/XS

#745 K8SPXC-608 Wait for operator namespace deletion on 3.11
  e2e-tests/functions
Labels: size/XS

#735 K8SPXC-518 document core dumps
  source/faq.rst
Labels: docs, size/M

#744 K8SPXC-545: Update imagePullSecrets
  pkg/controller/pxc/upgrade.go
Labels: size/XS

#748 K8SPXC-558: Add log message about safe configuration
  pkg/apis/pxc/v1/pxc_types.go
Labels: size/M

#738 K8SPXC-493 update options
  source/operator.rst
Labels: docs, size/L

#751 K8SPXC-615: fix binlog uploading
  cmd/pitr/collector/collector.go
  cmd/pitr/main.go
Labels: size/L

#753 K8SPXC-621: check error buffer before closing pipe
  cmd/pitr/collector/collector.go
  cmd/pitr/recoverer/recoverer.go
Labels: size/XS

#750 Cloud 604 remove helm2 from docs
  source/helm.rst
Labels: docs, size/XS

#709 K8SPXC-567 update crash recovery doc and add relevant option
  source/operator.rst
  source/recovery.rst
Labels: docs, size/M

#674 K8SPXC-530 document PITR
  source/backups.rst
  source/operator.rst
Labels: docs, size/L

#719 Rn 1.7.0
  source/ReleaseNotes/Kubernetes-Operator-for-PXC-RN1.7.0.rst
  source/ReleaseNotes/index.rst
  source/System-Requirements.rst
  source/conf.py
  source/images.rst
  source/update.rst
Labels: docs, size/L

#746 K8SPXC-522 feature: Add support for runtimeClassName
  e2e-tests/haproxy/compare/statefulset_haproxy-haproxy.yml
  e2e-tests/haproxy/compare/statefulset_haproxy-proxysql-oc.yml
  e2e-tests/haproxy/compare/statefulset_haproxy-proxysql.yml
  e2e-tests/haproxy/conf/docker-rc.yaml
  e2e-tests/haproxy/conf/haproxy-proxysql.yml
  e2e-tests/haproxy/conf/haproxy.yml
  e2e-tests/haproxy/run
  pkg/apis/pxc/v1/pxc_types.go
  pkg/apis/pxc/v1/zz_generated.deepcopy.go
  pkg/pxc/app/deployment/binlog-collector.go
  pkg/pxc/backup/job.go
  pkg/pxc/backup/restore.go
  pkg/pxc/backup/scheduled.go
  pkg/pxc/statefulset.go
Labels: size/M
