Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2021-03, with the labels that each got.

#791 CLOUD-616 run linters automatically on each PR
  .github/linters/go.mod
  .github/workflows/reviewdog.yml
  .reviewdog.yml
  build/Dockerfile
Labels: size/L

#793 K8SPXC-622 set 'SKIP_BACKUPS_TO_AWS_GCP=1' by default
  e2e-tests/functions
Labels: size/XS

#777 K8SPXC-622 update doc on tests
  e2e-tests/README.md
Labels: docs, size/L

#790 K8SPXC-645: improve pitr
  cmd/pitr/collector/collector.go
  cmd/pitr/pxc/pxc.go
  cmd/pitr/recoverer/recoverer.go
Labels: size/L

#798 Update code-of-conduct.md
  code-of-conduct.md
Labels: docs, size/XS

#799 K8SPXC-665 udpate readme file
  README.md
  operator.png
Labels: docs

#797 K8SPXC-619 Add tolerations to PXC pod
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/upgrade.go
Labels: size/XS

#776 RedHat CSV 1.7.0 files
  deploy/csv/redhat/1.7.0/manifests/percona-xtradb-cluster-operator.v1.7.0.clusterserviceversion.yaml
  deploy/csv/redhat/1.7.0/manifests/perconaxtradbbackups.pxc.percona.com.crd.yaml
  deploy/csv/redhat/1.7.0/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  deploy/csv/redhat/1.7.0/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  deploy/csv/redhat/1.7.0/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  deploy/csv/redhat/1.7.0/metadata/annotations.yaml
  deploy/csv/redhat/1.7.0/tests/scorecard/config.yaml
  deploy/csv/redhat/bundle-1.7.0.Dockerfile
Labels: size/XL

#795 K8SPXC-641 Update proxy users on each node
  .github/workflows/reviewdog.yml
  .reviewdog.yml
  e2e-tests/users/run
  pkg/controller/pxc/users.go
Labels: size/L

#807 Consolidate sidecars and runtimeClassName options in cr.yaml
  deploy/cr.yaml
Labels: size/S

#805 add license
  LICENSE
Labels: docs, size/L

#806 mention the documentation license
  CONTRIBUTING.md
Labels: docs, size/XS

#804 K8SPXC-614: Fix updateOrCreate function
  e2e-tests/security-context/compare/cronjob_adc5a-each-hour-pvc.yml
  pkg/controller/pxc/controller.go
  pkg/pxc/service.go
Labels: size/S

#801 K8SPXC-599 Add recovery to specific GTID
  cmd/pitr/recoverer/recoverer.go
  cmd/pitr/recoverer/recoverer_test.go
  deploy/backup/restore.yaml
  e2e-tests/pitr/conf/restore-on-pitr-minio-gtid.yaml
  e2e-tests/pitr/run
  pkg/apis/pxc/v1/pxc_prestore_types.go
  pkg/pxc/backup/restore.go
Labels: size/L

#810 K8SPXC-573 escaped special symbols for 'XTRABACKUP_PASSWORD'
  build/pxc-configure-pxc.sh
Labels: size/M

#812 K8SPXC-675: Fix returning of nil error
  pkg/controller/pxcbackup/controller.go
Labels: size/XS

#813 K8SPXC-679: Add real logger to PXC
  e2e-tests/self-healing/compare/proxy-vars-80.sql
  e2e-tests/users/compare/select-4-80.sql
  go.mod
  pkg/controller/pxc/controller.go
  pkg/controller/pxcbackup/controller.go
  pkg/controller/pxcrestore/controller.go
Labels: size/M

#816 Update versions for 1.8.0 release
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
Labels: size/M

#817 Add commented delete-s3-backup finalizer into backup.yaml example
  deploy/backup/backup.yaml
Labels: size/XS

#820 K8SPXC-681 Add validation for backup.pitr.storageName field
  pkg/apis/pxc/v1/pxc_types.go
Labels: size/XS

#821 Fix restore-on-pitr-minio.yaml config in PITR e2e test
  e2e-tests/pitr/conf/restore-on-pitr-minio.yaml
Labels: size/S

#815 Fix minio backup test
  e2e-tests/functions
  e2e-tests/scheduled-backup/conf/scheduled-backup2.yml
  e2e-tests/scheduled-backup/conf/scheduled-backup3.yml
  pkg/controller/pxc/controller.go
  pkg/controller/pxcbackup/controller.go
  pkg/controller/pxcrestore/controller.go
  pkg/pxc/backup/job.go
  pkg/pxc/backup/names.go
  pkg/pxc/backup/volume.go
Labels: size/L

#822 K8SPXC-683 Add check for backupName and backuoSource fields simultane…
  pkg/apis/pxc/v1/pxc_prestore_types.go
Labels: size/XS

#824 K8SPXC-684 Trim '/' from endpoint URL
  cmd/pitr/storage/storage.go
Labels: size/XS

#792 add namespace support in copy-backup script
  deploy/backup/copy-backup.sh
Labels: community, size/L

#825 Remove clusterIPs from e2e tests diff comparison
  e2e-tests/functions
Labels: size/XS, tests
