Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2021-07, with the labels that each got.

#915 K8SPXC-798 fix typo
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
Labels: size/XS

#914 K8SPXC-800: fix stale backup due to finalizer
  pkg/controller/pxcbackup/controller.go
  vendor/k8s.io/apimachinery/pkg/util/rand/rand.go
  vendor/k8s.io/client-go/testing/actions.go
  vendor/k8s.io/client-go/testing/fake.go
  vendor/k8s.io/client-go/testing/fixture.go
  vendor/k8s.io/client-go/util/retry/OWNERS
  vendor/k8s.io/client-go/util/retry/util.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/client.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/doc.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/objectutil/filter.go
Labels: size/M

#917 K8SPXC-808 - Fix cleanup of previous chaos-mesh installation
  e2e-tests/functions
Labels: size/XS, tests

#919 K8SPXC-811 fix haproxy status
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
Labels: size/S

#900 K8SPXC-740 cluster name limitations wording fix
  source/operator.rst
Labels: docs, size/XS

#924 K8SPXC-808 - Fix diff in tests for Kubernetes 1.21
  e2e-tests/functions
Labels: size/XS, tests

#921 K8SPXC-815: Fix status ready count on downscale
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/status.go
Labels: size/XS

#901 K8SPXC-569 update unsafe configuration option
  source/operator.rst
Labels: docs, size/S

#931 K8SPXC-808 - Fix init-deploy and haproxy on kubernetes 1.21
  e2e-tests/functions
  e2e-tests/haproxy/compare/pdb_haproxy-haproxy.yml
  e2e-tests/haproxy/run
  e2e-tests/init-deploy/compare/pdb_some-name-proxysql.yml
  e2e-tests/init-deploy/compare/pdb_some-name-pxc.yml
Labels: size/S, tests

#936 K8SPXC-808 - Update PMM version in monitoring test to 2.18
  e2e-tests/monitoring-2-0/run
Labels: tests

#934 K8SPXC-808 - Fix self-healing tests for ProxySQL version
  e2e-tests/self-healing-chaos/compare/proxy-vars-80.sql
  e2e-tests/self-healing-chaos/compare/proxy-vars.sql
  e2e-tests/self-healing/compare/proxy-vars-80.sql
  e2e-tests/self-healing/compare/proxy-vars.sql
Labels: tests

#928 K8SPXC-813: Handle failed restore jobs
  pkg/controller/pxcrestore/restore.go
Labels: size/XS

#932 K8SPXC-821: fix proxysql volume mount condition
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/upgrade.go
  pkg/pxc/app/statefulset/haproxy.go
  pkg/pxc/app/statefulset/node.go
  pkg/pxc/app/statefulset/proxysql.go
  pkg/pxc/statefulset.go
Labels: size/L

#942 K8SPXC-808 - Fix tests on different platforms
  e2e-tests/functions
  e2e-tests/init-deploy/run
  e2e-tests/pitr/run
  e2e-tests/self-healing-chaos/compare/proxy-vars.sql
  e2e-tests/self-healing/compare/proxy-vars.sql
  e2e-tests/users/run
Labels: tests

#926 K8SPXC-799 mention backup finalizer
  source/backups.rst
Labels: docs, size/XS

#946 K8SPXC-749 add possibility of changing all probes options via CR
  build/liveness-check.sh
  build/readiness-check.sh
  deploy/cr.yaml
  e2e-tests/affinity/compare/statefulset_custom-pxc-oc.yml
  e2e-tests/affinity/compare/statefulset_custom-pxc.yml
  e2e-tests/affinity/compare/statefulset_hostname-pxc.yml
  e2e-tests/affinity/compare/statefulset_region-pxc-oc.yml
  e2e-tests/affinity/compare/statefulset_region-pxc.yml
  e2e-tests/affinity/compare/statefulset_zone-pxc.yml
  e2e-tests/haproxy/compare/statefulset_haproxy-haproxy-secret.yml
  e2e-tests/haproxy/compare/statefulset_haproxy-haproxy.yml
  e2e-tests/haproxy/conf/haproxy.yml
  e2e-tests/init-deploy/compare/statefulset_no-proxysql-pxc-oc.yml
  e2e-tests/init-deploy/compare/statefulset_no-proxysql-pxc.yml
  e2e-tests/init-deploy/compare/statefulset_some-name-pxc.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-increased.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-pxc-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-pxc-increased.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-pxc-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-pxc.yml
  e2e-tests/limits/compare/statefulset_no-requests-pxc-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-pxc-increased.yml
  e2e-tests/limits/compare/statefulset_no-requests-pxc-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-pxc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-haproxy.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc.yml
  e2e-tests/monitoring/compare/operator.log
  e2e-tests/monitoring/compare/select-1.sql
  e2e-tests/monitoring/compare/statefulset_monitoring-proxysql-oc.yml
  e2e-tests/monitoring/compare/statefulset_monitoring-proxysql.yml
  e2e-tests/monitoring/compare/statefulset_monitoring-pxc-oc.yml
  e2e-tests/monitoring/compare/statefulset_monitoring-pxc.yml
  e2e-tests/monitoring/conf/monitoring.yml
  e2e-tests/monitoring/run
  e2e-tests/one-pod/compare/statefulset_one-pod-pxc-oc.yml
  e2e-tests/one-pod/compare/statefulset_one-pod-pxc-secret-oc.yml
  e2e-tests/one-pod/compare/statefulset_one-pod-pxc-secret.yml
  e2e-tests/one-pod/compare/statefulset_one-pod-pxc.yml
  e2e-tests/security-context/compare/statefulset_sec-context-pxc-changes.yml
  e2e-tests/security-context/compare/statefulset_sec-context-pxc.yml
  e2e-tests/storage/compare/statefulset_emptydir-pxc-oc.yml
  e2e-tests/storage/compare/statefulset_emptydir-pxc.yml
  e2e-tests/storage/compare/statefulset_hostpath-pxc-oc.yml
  e2e-tests/storage/compare/statefulset_hostpath-pxc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-190-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-190.yml
  e2e-tests/upgrade-haproxy/compare/statefulset_upgrade-haproxy-haproxy.yml
  e2e-tests/upgrade-haproxy/compare/statefulset_upgrade-haproxy-pxc-oc.yml
  e2e-tests/upgrade-haproxy/compare/statefulset_upgrade-haproxy-pxc.yml
  e2e-tests/upgrade-proxysql/compare/statefulset_upgrade-proxysql-pxc-oc.yml
  e2e-tests/upgrade-proxysql/compare/statefulset_upgrade-proxysql-pxc.yml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/pxc/app/statefulset/haproxy.go
  pkg/pxc/app/statefulset/node.go
Labels: size/XXL

#941 K8SPXC-308: implement pxc replication
  build/pxc-configure-pxc.sh
  build/pxc-entrypoint.sh
  deploy/cr.yaml
  e2e-tests/functions
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/replication.go
  pkg/controller/pxc/upgrade.go
  pkg/controller/pxc/version.go
  pkg/pxc/app/statefulset/node.go
  pkg/pxc/queries/queries.go
Labels: size/XL

#952 K8SPXC-808 - Fix indentation for replication channels in cr.yaml
  deploy/cr.yaml
Labels: size/S
