Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2021-06, with the labels that each got.

#889 K8SPXC-765: add ConfigMaps deletion for custom configurations
  pkg/controller/pxc/controller.go
Labels: size/M

#841 K8SPXC-701 fix cronjob updates
  e2e-tests/scheduled-backup/compare/cronjob_f875c-each-min-aws-s3-oc.yml
  e2e-tests/scheduled-backup/compare/cronjob_f875c-each-min-aws-s3.yml
  e2e-tests/scheduled-backup/compare/cronjob_f875c-each-min-gcp-cs-oc.yml
  e2e-tests/scheduled-backup/compare/cronjob_f875c-each-min-gcp-cs.yml
  e2e-tests/scheduled-backup/compare/cronjob_f875c-each-min-minio-oc.yml
  e2e-tests/scheduled-backup/compare/cronjob_f875c-each-min-minio.yml
  e2e-tests/scheduled-backup/compare/cronjob_f875c-each-min-pvc-oc.yml
  e2e-tests/scheduled-backup/compare/cronjob_f875c-each-min-pvc.yml
  e2e-tests/scheduled-backup/run
  e2e-tests/security-context/compare/cronjob_adc5a-each-hour-pvc.yml
  e2e-tests/security-context/run
  pkg/controller/pxc/backup.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/version.go
Labels: size/XL

#892 CLOUD-625 gke started to use containerd from 1.19
  e2e-tests/functions
  e2e-tests/haproxy/run
  e2e-tests/operator-self-healing/run
  e2e-tests/self-healing-advanced/run
  e2e-tests/self-healing/run
Labels: size/S

#866 K8SPXC-336: Refactor status handling
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/status.go
  pkg/controller/pxc/status_test.go
  pkg/pxc/app/statefulset/haproxy.go
  pkg/pxc/app/statefulset/node.go
  pkg/pxc/app/statefulset/proxysql.go
Labels: size/XL

#893 K8SPXC-767: fix one pod test
  pkg/controller/pxcbackup/controller.go
Labels: size/S

#890 CLOUD-625 - Update for chaos-mesh tests for non-cluster wide run
  e2e-tests/functions
  e2e-tests/operator-self-healing-chaos/run
  e2e-tests/self-healing-advanced-chaos/run
  e2e-tests/self-healing-chaos/run
Labels: size/M

#895 K8SPXC-731: Add progress visibility to CR
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/status.go
Labels: size/XS

#896 K8SPXC-740 addon for cluster name limitations
  source/operator.rst
Labels: docs, size/XS

#884 K8SPXC-757 fix recovery documentation
  source/recovery.rst
Labels: docs, size/M

#899 K8SPXC-775 check custom mysqld config
  build/pxc-entrypoint.sh
Labels: size/XS

#898 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: docs, size/XS

#894 K8SPXC-730: Rework statuses for the Custom Resource
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/status.go
  pkg/controller/pxc/status_test.go
  pkg/controller/pxc/upgrade.go
Labels: size/L

#891 K8SPXC-308: add service per pod functionality
  deploy/cr.yaml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/replication.go
  pkg/controller/pxc/upgrade.go
Labels: size/L

#897 K8SPXC-673: Check haproxy metrics in monitoring-2-0
  e2e-tests/monitoring-2-0/run
Labels: size/XS, tests

#903 K8SPXC-784: parameterize operator deployment name with env var from helm chart
  pkg/webhook/hook.go
Labels: community, size/XS

#902 K8SPXC-781: remove unused file
  cmd/pitr/main.go
  pkg/pxc/backup/names.go
  pkg/pxc/backup/scheduled.go
Labels: size/L

#888 K8SPXC-772: Add labels to service to make them distinguishable
  e2e-tests/haproxy/compare/service_haproxy-proxysql.yml
  e2e-tests/init-deploy/compare/service_no-proxysql-pxc.yml
  e2e-tests/init-deploy/compare/service_some-name-proxysql-unready.yml
  e2e-tests/init-deploy/compare/service_some-name-proxysql.yml
  e2e-tests/init-deploy/compare/service_some-name-pxc.yml
  e2e-tests/proxysql-sidecar-res-limits/compare/service_side-car-proxysql.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-proxysql-190.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-190.yml
  pkg/controller/pxc/controller.go
  pkg/pxc/service.go
Labels: community, size/M

#908 K8SPXC-764: Allow backups even if just a single node is available
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxcbackup/controller.go
Labels: size/S

#906 K8SPXC-791 allow "sleep infinity" on non-debug images
  build/liveness-check.sh
  build/pxc-entrypoint.sh
  build/readiness-check.sh
Labels: size/L

#910 K8SPXC-787: fix smart upgrade
  pkg/controller/pxc/upgrade.go
Labels: size/S

#907 K8SPXC-421: Expose mysqlx port
  e2e-tests/affinity/compare/statefulset_custom-pxc-oc.yml
  e2e-tests/affinity/compare/statefulset_custom-pxc.yml
  e2e-tests/affinity/compare/statefulset_hostname-pxc-oc.yml
  e2e-tests/affinity/compare/statefulset_hostname-pxc.yml
  e2e-tests/affinity/compare/statefulset_region-pxc-oc.yml
  e2e-tests/affinity/compare/statefulset_region-pxc.yml
  e2e-tests/affinity/compare/statefulset_zone-pxc-oc.yml
  e2e-tests/affinity/compare/statefulset_zone-pxc.yml
  e2e-tests/haproxy/compare/service_haproxy-haproxy.yml
  e2e-tests/haproxy/compare/statefulset_haproxy-haproxy-secret.yml
  e2e-tests/haproxy/compare/statefulset_haproxy-haproxy.yml
  e2e-tests/init-deploy/compare/service_no-proxysql-pxc.yml
  e2e-tests/init-deploy/compare/service_some-name-pxc.yml
  e2e-tests/init-deploy/compare/statefulset_no-proxysql-pxc-oc.yml
  e2e-tests/init-deploy/compare/statefulset_no-proxysql-pxc.yml
  e2e-tests/init-deploy/compare/statefulset_some-name-pxc-oc.yml
  e2e-tests/init-deploy/compare/statefulset_some-name-pxc.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-increased.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-pxc-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-pxc-increased.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-pxc-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-pxc.yml
  e2e-tests/limits/compare/statefulset_no-requests-pxc-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-pxc-increased.yml
  e2e-tests/limits/compare/statefulset_no-requests-pxc-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-pxc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-haproxy.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc.yml
  e2e-tests/monitoring/compare/statefulset_monitoring-pxc-oc.yml
  e2e-tests/monitoring/compare/statefulset_monitoring-pxc.yml
  e2e-tests/one-pod/compare/statefulset_one-pod-pxc-secret.yml
  e2e-tests/one-pod/compare/statefulset_one-pod-pxc.yml
  e2e-tests/security-context/compare/statefulset_sec-context-pxc-changes.yml
  e2e-tests/security-context/compare/statefulset_sec-context-pxc.yml
  e2e-tests/storage/compare/statefulset_emptydir-pxc-oc.yml
  e2e-tests/storage/compare/statefulset_emptydir-pxc.yml
  e2e-tests/storage/compare/statefulset_hostpath-pxc-oc.yml
  e2e-tests/storage/compare/statefulset_hostpath-pxc.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-190.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-190-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-190.yml
  e2e-tests/upgrade-haproxy/compare/statefulset_upgrade-haproxy-haproxy.yml
  e2e-tests/upgrade-haproxy/compare/statefulset_upgrade-haproxy-pxc-oc.yml
  e2e-tests/upgrade-haproxy/compare/statefulset_upgrade-haproxy-pxc.yml
  e2e-tests/upgrade-proxysql/compare/statefulset_upgrade-proxysql-pxc.yml
  pkg/controller/pxc/controller.go
  pkg/pxc/app/statefulset/haproxy.go
  pkg/pxc/app/statefulset/node.go
  pkg/pxc/service.go
Labels: size/L

#909 K8SPXC-801: fix update and scale down concurrent
  pkg/controller/pxc/upgrade.go
Labels: community, size/S

#911 K8SPXC-798 Replace deprecated Kubernetes APIs
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  deploy/cw-rbac.yaml
  deploy/rbac.yaml
  e2e-tests/big-data/conf/crd_backup.yml
  e2e-tests/init-deploy/compare/root-80.sql
  e2e-tests/init-deploy/compare/xtrabackup-80.sql
  e2e-tests/self-healing-chaos/compare/proxy-vars-80.sql
  e2e-tests/self-healing/compare/proxy-vars-80.sql
  e2e-tests/smart-update/run
Labels: size/XXL

#904 K8SPXC-308: add replication user
  build/pxc-entrypoint.sh
  deploy/secrets.yaml
  e2e-tests/conf/secrets_without_tls.yml
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/secrets.go
  pkg/controller/pxc/users.go
  pkg/controller/pxc/version.go
  pkg/pxc/app/statefulset/node.go
  pkg/pxc/users/users.go
Labels: size/L

#912 K8SPXC-730: Fix stale status during smart update
  pkg/controller/pxc/upgrade.go
Labels: size/S

#886 Fix for K8SPXC-706: moving from self-signed to CA-signed certificates with cert-manager
  e2e-tests/functions
  e2e-tests/init-deploy/compare/certificate_no-proxysql-ssl-internal.yml
  e2e-tests/init-deploy/compare/certificate_no-proxysql-ssl.yml
  e2e-tests/init-deploy/compare/issuer_no-proxysql-pxc-issuer.yml
  e2e-tests/init-deploy/run
  e2e-tests/tls-issue-cert-manager/compare/certificate_some-name-tls-issue-ssl.yml
  e2e-tests/tls-issue-cert-manager/compare/issuer_some-name-tls-issue-pxc-ca-issuer.yml
  e2e-tests/tls-issue-cert-manager/compare/issuer_some-name-tls-issue-pxc-issuer.yml
  e2e-tests/tls-issue-cert-manager/run
  pkg/controller/pxc/tls.go
Labels: community, size/L
