Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2021-08, with the labels that each got.

#953 K8SPXC-808 - Update versions for release 1.9.0
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
Labels: size/S

#954 K8SPXC-808 - Update chaos test for older proxysql version
  e2e-tests/self-healing-chaos/compare/proxy-vars-80.sql
  e2e-tests/self-healing-chaos/compare/proxy-vars.sql
  e2e-tests/self-healing/compare/proxy-vars-80.sql
  e2e-tests/self-healing/compare/proxy-vars.sql
Labels: size/M

#955 K8SPXC-808 - Update diff files in e2e tests for OpenShift
  e2e-tests/affinity/compare/statefulset_hostname-pxc-oc.yml
  e2e-tests/affinity/compare/statefulset_zone-pxc-oc.yml
  e2e-tests/init-deploy/compare/statefulset_some-name-pxc-oc.yml
Labels: size/S

#956 K8SPXC-832: proper new replica pod info message
  pkg/controller/pxc/replication.go
Labels: size/M

#944 K8SPXC-821 tests: custom config from secret is not mounted to proxysql
  e2e-tests/haproxy/compare/haproxy_maxconn-secret.txt
  e2e-tests/haproxy/compare/haproxy_maxconn.txt
  e2e-tests/haproxy/compare/ping_timeout_server-secret.sql
  e2e-tests/haproxy/compare/ping_timeout_server.sql
  e2e-tests/haproxy/conf/haproxy-proxysql.yml
  e2e-tests/haproxy/conf/haproxy.yml
  e2e-tests/haproxy/run
Labels: size/S, tests

#957 K8SPXC-808 - Update functions to filter annotations for GKE in tests
  e2e-tests/functions
Labels: size/XS

#913 CLOUD-632 rename the operator in docs
  Makefile
  source/ReleaseNotes/index.rst
  source/TLS.rst
  source/api.rst
  source/architecture.rst
  source/assets/images/sources/certificates.odp
  source/broker.rst
  source/cluster-wide.rst
  source/conf.py
  source/constraints.rst
  source/custom-registry.rst
  source/eks.rst
  source/ext/fulltoc.py
  source/faq.rst
  source/gke.rst
  source/haproxy-conf.rst
  source/helm.rst
  source/images.rst
  source/index.rst
  source/minikube.rst
  source/openshift.rst
  source/proxysql-conf.rst
  source/recovery.rst
  source/storage.rst
  source/update.rst
Labels: docs, size/L

#960 K8SPXC-808 - Fix wait in haproxy test
  e2e-tests/haproxy/run
Labels: size/XS

#961 K8SPXC-808 - Fix wait in scaling-proxysql test
  e2e-tests/scaling-proxysql/run
Labels: size/S

#959 K8SPXC-688 create environment variables doc
  source/containers-conf.rst
  source/index.rst
Labels: docs, size/M

#962 K8SPXC-791 document stopping restart on fail
  source/debug.rst
Labels: docs, size/M

#949 K8SPXC-828 update the update docs
  source/update.rst
Labels: docs, size/L

#940 K8SPXC-744 doc on updating certs
  source/TLS.rst
  source/assets/images/certificates.pdf
  source/assets/images/certificates.svg
  source/pause.rst
Labels: docs, size/XL

#930 K8SPXC-751 cross-site replication doc
  source/assets/images/pxc-replication.svg
  source/assets/images/sources/pxc-replication.odp
  source/assets/images/sources/pxc-replication.pdf
  source/index.rst
  source/replication.rst
  source/users.rst
Labels: docs, size/L

#923 K8SPXC-718 add information about storing configuration in secrets
  source/haproxy-conf.rst
  source/options.rst
  source/proxysql-conf.rst
Labels: docs, size/XL

#929 K8SPXC-308 update operator options doc
  source/_static/js/toggle-menu.js
  source/_templates/page.html
  source/conf.py
  source/glossary.options.rst
  source/operator.rst
Labels: docs, size/XXL

#927 K8SPXC-808 the operator 1.9.0 release notes
  source/ReleaseNotes/Kubernetes-Operator-for-PXC-RN1.9.0.rst
  source/ReleaseNotes/index.rst
  source/conf.py
Labels: docs, size/L

#963 fix version service current cr version
  pkg/controller/pxc/vs.go
Labels: size/XS

#950 CLOUD-637 - doc minikube minimize
  source/assets/code/kubectl-get-minimal-response.txt
  source/assets/code/mysql-welcome-response.txt
  source/minikube.rst
Labels: size/M, docs

#965 Update minikube.rst
  source/minikube.rst
Labels: size/XS, docs

#966 K8SPXC-839: fix mysql version comparing
  pkg/controller/pxc/replication.go
Labels: size/XS

#948 K8SPXC-818: fix custom config hash annotations
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/upgrade.go
Labels: size/M

#970 Update replication.rst
  source/replication.rst
Labels: size/XS, docs

#971 CLOUD-637 - introduce cr-minimal
  deploy/cr-minimal.yaml
Labels: size/S

#969 K8SPXC-808 - Prepare main branch after 1.9.0 release
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/functions
  e2e-tests/upgrade-consistency/compare/service_some-name-proxysql-1100.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-1100.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1100-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1100.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1100-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1100.yml
  e2e-tests/upgrade-consistency/run
  version/version.go
Labels: size/XXL

#973 Update minikube.rst
  source/minikube.rst
Labels: size/XS, docs

#972 Update helm.rst
  source/helm.rst
Labels: size/XS, docs

#964 Update encryption.rst
  source/encryption.rst
Labels: size/S, docs

#974 K8SPXC-852 fix password change command
  source/replication.rst
Labels: size/XS, docs

#979 Update System-Requirements.rst
  source/System-Requirements.rst
Labels: size/S, docs

#976 K8SPXC-850: fix setting array defaults
  pkg/apis/pxc/v1/pxc_types.go
Labels: size/S

#977 K8SPXC-852 fix weight and password change instruction
  source/operator.rst
  source/replication.rst
Labels: size/M, docs

#982 typo fix
  source/update.rst
Labels: size/XS, docs

#985 K8SPXC-868 - Fix examples for custom sidecar resources in cr.yaml
  deploy/cr.yaml
Labels: size/S

#984 main tags for main branch
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
Labels: size/S

#920 K8SPXC-816 fix sporadic issues with resolver
  build/liveness-check.sh
  build/readiness-check.sh
Labels: size/XS
