Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2022-04, with the labels that each got.

#1117 K8SPXC-985: Remove binlog filter
  cmd/pitr/recoverer/recoverer.go
Labels: size/XS

#1121 CLOUD-695_jenkinsfile_improvements add finally to log push
  Jenkinsfile
Labels: size/S

#1132 K8SPXC-1003 add support of PXC 8.0.27
  e2e-tests/init-deploy/compare/root-80.sql
  e2e-tests/init-deploy/compare/xtrabackup-80.sql
Labels: size/XS

#1129 K8SPXC-625: improve logs for PITR
  cmd/pitr/recoverer/recoverer.go
Labels: size/XS

#1134 K8SPXC-1003 fix self-healing and self-healing-chaos tests
  e2e-tests/self-healing-chaos/compare/proxy-vars-80.sql
  e2e-tests/self-healing/compare/proxy-vars-80.sql
Labels: size/XS

#1130 K8SPXC-936: add hookable init scripts
  build/pxc-entrypoint.sh
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/controller.go
  pkg/pxc/app/statefulset/haproxy.go
  pkg/pxc/app/statefulset/node.go
  pkg/pxc/app/statefulset/proxysql.go
Labels: size/L

#1114 K8SPXC-975: typo `xtrabcupUser`
  pkg/controller/pxc/users.go
Labels: size/XS

#1126 quick fix and remove old file
  deploy/backup/README.md
  deploy/backup/restore-backup.sh
Labels: size/L

#1122 K8SPXC-550 - Add proxy-protocol test
  Jenkinsfile
  e2e-tests/functions
  e2e-tests/proxy-protocol/compare/select-1.sql
  e2e-tests/proxy-protocol/compare/service_proxy-protocol-haproxy-k122.yml
  e2e-tests/proxy-protocol/compare/service_proxy-protocol-haproxy-replicas-k122.yml
  e2e-tests/proxy-protocol/compare/service_proxy-protocol-haproxy-replicas.yml
  e2e-tests/proxy-protocol/compare/service_proxy-protocol-haproxy.yml
  e2e-tests/proxy-protocol/compare/service_proxy-protocol-pxc-k122.yml
  e2e-tests/proxy-protocol/compare/service_proxy-protocol-pxc-unready.yml
  e2e-tests/proxy-protocol/compare/service_proxy-protocol-pxc.yml
  e2e-tests/proxy-protocol/compare/statefulset_proxy-protocol-haproxy.yml
  e2e-tests/proxy-protocol/compare/statefulset_proxy-protocol-pxc.yml
  e2e-tests/proxy-protocol/conf/client.yml
  e2e-tests/proxy-protocol/conf/proxy-protocol.yml
  e2e-tests/proxy-protocol/run
  e2e-tests/run
Labels: size/XL

#986 K8SPXC-725&763: delete resources consistently using UID
  pkg/controller/pxc/controller.go
Labels: size/XS, community, hacktoberfest-accepted
