Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2022-08, with the labels that each got.

#1197 CLOUD-714 - Fix monitoring test for PMM dev-latest image
  e2e-tests/functions
Labels: size/XS

#1199 CLOUD-726 remove service broker from docs
  source/broker.rst
  source/img/broker-create-service-instance.png
  source/img/broker-creation.png
  source/img/broker-dev-catalog.png
  source/img/broker-pods.png
  source/index.rst
Labels: size/M, docs

#1185 Update monitoring.rst and other docs with non-wrapping base64 encoder
  source/backups.rst
  source/containers-conf.rst
  source/haproxy-conf.rst
  source/monitoring.rst
  source/options.rst
  source/proxysql-conf.rst
  source/users.rst
Labels: size/S, docs
