Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2022-10, with the labels that each got.

#1194 K8SPXC-630 add mysql 5.7 for tests
  Jenkinsfile
  e2e-tests/functions
  e2e-tests/self-healing-chaos/compare/proxy-vars-80.sql
  e2e-tests/self-healing/compare/proxy-vars-80.sql
Labels: size/L, hacktoberfest-accepted

#1209 K8SPXC-1109 start to use dependabot for PXC operator
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/scan.yml
  go.mod
  go.sum
Labels: size/M, hacktoberfest-accepted

#1208 K8SPXC-983 update PodDisruptionBudget to policy/v1
  pkg/pxc/pdb.go
Labels: size/S, hacktoberfest-accepted

#1200 CLOUD-735: Add preserveUnknownFields to CRD
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  pkg/apis/pxc/v1/pxc_types.go
Labels: size/XS, hacktoberfest-accepted

#1234 PMM-10724 Added v1-11-1 API version
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
Labels: size/XXL

#1189 K8SPXC-1095 - process the sigterm signal
  build/pxc-entrypoint.sh
Labels: size/XS, community

#1244 K8SPXC-630 add test sorting
  Jenkinsfile
  go.mod
  go.sum
Labels: size/XS

#1223 K8SPXC-1050 rename secrets to use default names
  deploy/cr.yaml
  deploy/secrets.yaml
  deploy/ssl-secrets.yaml
Labels: size/S, hacktoberfest-accepted

#1207 K8SPXC-1089 fix build-versionservice-client.sh
  build/build-versionservice-client.sh
Labels: size/XS, hacktoberfest-accepted

#1233 K8SPXC-1065: add seconds to scheduled backups
  pkg/controller/pxc/backup.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/version.go
Labels: size/S

#1249 CLOUD-705 delete unused clusters
  .github/CODEOWNERS
  Jenkinsfile
Labels: size/XS

#1252 CLOUD-705 temporarily remove labels
  Jenkinsfile
Labels: size/XS

#1253 K8SPXC-1111 - Revert number of clusters and timeout
  Jenkinsfile
Labels: size/M

#1250 K8SPXC-1111 - Abort old builds when new started
  Jenkinsfile
Labels: size/S

#1242 K8SPXC-1120: Add support for headless service
  pkg/pxc/backup/restore.go
Labels: size/XS, community, hacktoberfest-accepted

#1235 K8SPXC-1010: add template vars to custom config
  .github/workflows/reviewdog.yml
  e2e-tests/auto-tuning/conf/auto-tuning4.yml
  e2e-tests/auto-tuning/conf/auto-tuning5.yml
  e2e-tests/auto-tuning/run
  go.mod
  go.sum
  pkg/apis/pxc/v1/pxc_types.go
Labels: size/L

#1196 K8SPXC-955: Provide static IP-address for LoadBalancer
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/apis/pxc/v1/zz_generated.deepcopy.go
  pkg/pxc/service.go
Labels: size/L

#1236 K8SPXC-1032: Disable automated upgrade by default
  build/build-versionservice-client.sh
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/functions
  e2e-tests/smart-update1/conf/vs.yml
  e2e-tests/smart-update2/compare/disabled_telemetry.version-service-cr-cw.log.json
  e2e-tests/smart-update2/compare/disabled_telemetry.version-service-cr.log.json
  e2e-tests/smart-update2/compare/enabled_telemetry.version-service-cr.log.json
  e2e-tests/smart-update2/compare/enabled_telemetry.version-service-cw.log.json
  e2e-tests/smart-update2/compare/enabled_telemetry.version-service.log.json
  e2e-tests/smart-update2/conf/vs.yml
  e2e-tests/smart-update2/run
  go.mod
  go.sum
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/version.go
  pkg/controller/pxc/vs.go
  version/client/api_version_proto_client.go
  version/client/models/googlerpc_status.go
  version/client/models/protobuf_any.go
  version/client/models/version_operator_response.go
  version/client/models/version_operator_version.go
  version/client/models/version_product_response.go
  version/client/models/version_status.go
  version/client/models/version_version.go
  version/client/models/version_version_matrix.go
  version/client/models/version_version_response.go
  version/client/version_service/version_service_apply_parameters.go
  version/client/version_service/version_service_apply_responses.go
  version/client/version_service/version_service_client.go
  version/client/version_service/version_service_operator_parameters.go
  version/client/version_service/version_service_operator_responses.go
  version/client/version_service/version_service_product_parameters.go
  version/client/version_service/version_service_product_responses.go
  version/version.swagger.yaml
  versionserviceclient/models/version_version_matrix.go
Labels: size/XXL

#1251 K8SPXC-1123 Use operators' namespace as key reference for go-client
  cmd/manager/main.go
Labels: size/S

#1166 K8SPXC-1028: Fix buffer pool autotuning
  e2e-tests/auto-tuning/run
  pkg/pxc/app/config/autotune.go
  pkg/pxc/app/config/configmap.go
Labels: size/L
