Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2022-05, with the labels that each got.

#1139 K8SPXC-1007 update go version to 1.18
  build/Dockerfile
  go.mod
  go.sum
Labels: size/XS

#1123 K8SPXC-995-running-out-of-memory
  pkg/pxc/app/config/autotune.go
Labels: size/XS

#1128 K8SPXC-899 fix: certificates created by cert-manager and operator should be almost the same
  e2e-tests/init-deploy/compare/certificate_no-proxysql-ssl.yml
  e2e-tests/tls-issue-cert-manager-ref/compare/certificate_some-name-tls-issueref-ssl.yml
  e2e-tests/tls-issue-cert-manager/compare/certificate_some-name-tls-issue-ssl.yml
  pkg/controller/pxc/tls.go
  pkg/pxctls/pxctls.go
Labels: size/S

#1124 K8SPXC-974: fill empty user secret passwords
  build/pxc-entrypoint.sh
  pkg/controller/pxc/secrets.go
Labels: size/M

#1141 K8SPXC-995 fix auto-tuning test
  e2e-tests/auto-tuning/conf/auto-tuning1.yml
  e2e-tests/auto-tuning/conf/auto-tuning2.yml
  e2e-tests/auto-tuning/conf/auto-tuning3.yml
  e2e-tests/auto-tuning/run
Labels: size/S

#1079 K8SPXC-933: Fix deprecated affinity keys
  pkg/apis/pxc/v1/pxc_types.go
Labels: size/XS

#1127 K8SPXC-935: add possibility to specify nodePort for HAProxy and ProxySQL
  deploy/cr.yaml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/replication.go
  pkg/pxc/service.go
Labels: size/M

#1137 K8SPXC-947: add `backupBackoffLimit` to `cr`
  deploy/cr.yaml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/apis/pxc/v1/zz_generated.deepcopy.go
  pkg/controller/pxcbackup/controller.go
  pkg/pxc/backup/job.go
Labels: size/M

#1145 Revert "K8SPXC-935: add possibility to specify nodePort for HAProxy and ProxySQL"
  deploy/cr.yaml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/replication.go
  pkg/pxc/service.go
Labels: size/M

#1146 K8SPXC-935 fix trafficPolicy issue for replica services
  pkg/controller/pxc/replication.go
Labels: size/S

#1116 K8SPXC-961 fix: operator assumes there is no other containers on operator pod
  pkg/controller/pxc/controller.go
Labels: size/M

#1115 K8SPXC-986-cleaning-users.go:
  pkg/pxc/users/users.go
Labels: size/L

#1150 updare crypto go module
  go.mod
  go.sum
  vendor/golang.org/x/crypto/argon2/argon2.go
  vendor/modules.txt
Labels: size/XS

#1152 CLOUD-691 rename the operator in README and other md docs
  ADOPTERS.md
  CONTRIBUTING.md
  README.md
Labels: size/S, docs

#1098 K8SPXC-862 fix: Changing resources might lead to cluster getting stuck
  pkg/apis/pxc/v1/pxc_types.go
  pkg/apis/pxc/v1/zz_generated.deepcopy.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/upgrade.go
  pkg/pxc/app/config/autotune.go
  pkg/pxc/app/config/configmap.go
  pkg/pxc/app/deployment/binlog-collector.go
  pkg/pxc/app/resources.go
  pkg/pxc/app/statefulset/haproxy.go
  pkg/pxc/app/statefulset/init.go
  pkg/pxc/app/statefulset/node.go
  pkg/pxc/app/statefulset/proxysql.go
  pkg/pxc/backup/job.go
  pkg/pxc/backup/restore.go
  pkg/pxc/statefulset.go
Labels: size/L

#1136 K8SPXC-814: generate crds to prohibit invalid values in cr
  .gitignore
  cmd/manager/main.go
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/functions
  e2e-tests/manifest
  e2e-tests/upgrade-haproxy/run
  e2e-tests/upgrade-proxysql/run
  go.mod
  pkg/apis/pxc/v1/pxc_backup_types.go
  pkg/apis/pxc/v1/pxc_prestore_types.go
  pkg/apis/pxc/v1/pxc_types.go
Labels: size/XXL

#1119 K8SPXC-823: use API keys for PMM auth
  deploy/cr.yaml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-haproxy.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc.yml
  e2e-tests/monitoring-2-0/run
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/upgrade.go
  pkg/controller/pxc/users.go
  pkg/pxc/app/pmm.go
  pkg/pxc/app/statefulset/haproxy.go
  pkg/pxc/app/statefulset/node.go
  pkg/pxc/app/statefulset/proxysql.go
  pkg/pxc/statefulset.go
Labels: size/L

#1149 K8SPXC-1014: Don't overwrite HAProxy/ProxySQL statuses
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/status.go
  pkg/controller/pxc/tls.go
  pkg/controller/pxc/version.go
  pkg/controller/pxcbackup/controller.go
  pkg/controller/pxcrestore/controller.go
Labels: size/M

#1148 K8SPXC-1021: fix err when dns error
  build/pxc-entrypoint.sh
Labels: size/XS, community

#1157 K8SPXC-917 release 1.11.0 edit versions
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
Labels: size/XL

#1161 K8SPXC-917 release-1.11.0 fix tests for gke
  e2e-tests/default-cr/compare/statefulset_cluster1-pxc-oc.yml
  e2e-tests/default-cr/compare/statefulset_cluster1-pxc.yml
  e2e-tests/default-cr/run
  e2e-tests/proxy-protocol/run
Labels: size/S

#1162 Fix `proxy-protocol` test
  e2e-tests/proxy-protocol/run
Labels: size/XS

#1165 K8SPXC-916 add missing option examples to cr.yaml
  deploy/cr.yaml
Labels: size/S

#1167 CLOUD-704 Update gopkg.in/yaml.v3
  go.mod
  go.sum
  vendor/gopkg.in/yaml.v3/decode.go
  vendor/modules.txt
Labels: size/XS

#1155 CLOUD-696 rewrite TOC
  source/cluster-wide.rst
  source/index.rst
Labels: size/M, docs

#1153 CLOUD-691 rename the operator in docs
  source/ReleaseNotes/index.rst
  source/TLS.rst
  source/api.rst
  source/cluster-wide.rst
  source/conf.py
  source/constraints.rst
  source/custom-registry.rst
  source/faq.rst
  source/gke.rst
  source/haproxy-conf.rst
  source/helm.rst
  source/images.rst
  source/index.rst
  source/minikube.rst
  source/openshift.rst
  source/proxysql-conf.rst
  source/recovery.rst
  source/storage.rst
  source/update.rst
Labels: size/M, docs

#1168 K8SPXC-917 Versions upgrade
  e2e-tests/init-deploy/compare/service_some-name-proxysql-unready-eks-k122.yml
  e2e-tests/self-healing-chaos/compare/proxy-vars.sql
Labels: size/M

#1158 K8SPXC-960 Clarify that both backup and binlogs should use s3 storage…
  source/backups.rst
Labels: size/XS, docs

#1159 CLOUD-703 update info about user secrets and random passwords
  source/users.rst
Labels: size/XS, docs
