Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2022-07, with the labels that each got.

#1151 Documentation updates for 1.11.0
  Makefile
  requirements.txt
  source/ReleaseNotes/Kubernetes-Operator-for-PXC-RN1.11.0.rst
  source/ReleaseNotes/index.rst
  source/System-Requirements.rst
  source/TLS.rst
  source/_static/css/material.css
  source/_static/css/tabs.css
  source/_templates/theme/header.html
  source/_templates/theme/layout.html
  source/_templates/theme/localtoc.html
  source/_templates/theme/relbar2.html
  source/_templates/theme/sidebar.html
  source/api.rst
  source/backups.rst
  source/cluster-wide.rst
  source/conf.py
  source/constraints.rst
  source/containers-conf.rst
  source/custom-registry.rst
  source/debug.rst
  source/eks.rst
  source/faq.rst
  source/gke.rst
  source/glossary.options.rst
  source/haproxy-conf.rst
  source/helm.rst
  source/images.rst
  source/index.rst
  source/kubernetes.rst
  source/minikube.rst
  source/monitoring.rst
  source/openshift.rst
  source/operator.rst
  source/options.rst
  source/proxysql-conf.rst
  source/recovery.rst
  source/scaling.rst
  source/storage.rst
  source/update.rst
  source/users.rst
Labels: size/XXL, docs

#1184 fix broken link for secrets
  source/monitoring.rst
Labels: size/XS, docs

#1188 Fix gopkg.in/yaml.v3
  go.mod
  go.sum
  vendor/gopkg.in/yaml.v3/parserc.go
  vendor/modules.txt
Labels: size/XS

#1186 K8SPXC-1056 - Comment delete-s3-backup finalizer in the example backup.yaml
  deploy/backup/backup.yaml
Labels: size/XS

#1171 K8SPXC-1030: Don't delete cert-manager certs by default
  deploy/cr.yaml
  e2e-tests/init-deploy/compare/certificate_no-proxysql-ssl-internal.yml
  e2e-tests/init-deploy/compare/certificate_no-proxysql-ssl.yml
  e2e-tests/init-deploy/compare/issuer_no-proxysql-pxc-issuer.yml
  e2e-tests/tls-issue-cert-manager-ref/compare/certificate_some-name-tls-issueref-ssl.yml
  e2e-tests/tls-issue-cert-manager/compare/certificate_some-name-tls-issue-ssl.yml
  e2e-tests/tls-issue-cert-manager/compare/issuer_some-name-tls-issue-pxc-ca-issuer.yml
  e2e-tests/tls-issue-cert-manager/compare/issuer_some-name-tls-issue-pxc-issuer.yml
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/tls.go
Labels: size/L

#1190 K8SPXC-1063 add support for PXC 8.0.28
  e2e-tests/init-deploy/compare/root-80.sql
  e2e-tests/init-deploy/compare/xtrabackup-80.sql
  e2e-tests/self-healing-chaos/compare/proxy-vars-80.sql
  e2e-tests/self-healing/compare/proxy-vars-80.sql
Labels: size/XS

#1191 K8SPXC-1030: Fix deleting SSL secrets named by user
  pkg/controller/pxc/controller.go
Labels: size/M
