Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2022-09, with the labels that each got.

#1202 CLOUD-666 - Replace yq v3 with yq v4 for e2e tests
  Jenkinsfile
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/README.md
  e2e-tests/default-cr/run
  e2e-tests/functions
  e2e-tests/manifest
  e2e-tests/operator-self-healing-chaos/run
  e2e-tests/self-healing-advanced-chaos/run
  e2e-tests/self-healing-chaos/compare/proxy-vars-80.sql
  e2e-tests/self-healing-chaos/run
  e2e-tests/self-healing/compare/proxy-vars-80.sql
  e2e-tests/smart-update/run
  e2e-tests/validation-hook/run
Labels: size/XXL

#1203 K8SPXC-898 - Fix scheduled-backup test by decreasing number of backups
  e2e-tests/functions
  e2e-tests/init-deploy/compare/root-80.sql
  e2e-tests/init-deploy/compare/xtrabackup-80.sql
  e2e-tests/scheduled-backup/run
  e2e-tests/self-healing-chaos/compare/proxy-vars-80.sql
  e2e-tests/self-healing/compare/proxy-vars-80.sql
Labels: size/L

#1181 K8SPXC-1044 set labels and annotations for replicas service
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/proxy-protocol/compare/service_proxy-protocol-haproxy-replicas.yml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/pxc/service.go
Labels: size/L

#1204 K8SPXC-630 update k8s version
  Jenkinsfile
Labels: size/XS
