Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2022-02, with the labels that each got.

#1096 CLOUD-660 public access to failed tests
  Jenkinsfile
  e2e-tests/functions
  e2e-tests/tls-issue-cert-manager/run
Labels: size/M

#1100 CLOUD-650 - Add backup/restore step to upgrade-haproxy test
  e2e-tests/functions
  e2e-tests/upgrade-haproxy/conf/on-demand-backup-minio.yml
  e2e-tests/upgrade-haproxy/conf/restore-on-demand-backup-minio.yaml
  e2e-tests/upgrade-haproxy/run
Labels: size/M

#1104 K8SPXC-939 update cert-manager version
  source/TLS.rst
Labels: size/XS, docs

#1105 CLOUD-682 use dev-latest pmm-server
  e2e-tests/default-cr/run
  e2e-tests/functions
  e2e-tests/monitoring-2-0/run
Labels: size/S
