Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2022-11, with the labels that each got.

#1256 K8SPXC-1122: fix binlog certificate verification
  cmd/pitr/collector/collector.go
  cmd/pitr/recoverer/recoverer.go
  cmd/pitr/storage/storage.go
Labels: size/M

#1262 K8SPXC-1111 - Fix --cluster-ipv4-cidr option in Jenkinsfile
  Jenkinsfile
Labels: size/M

#1243 K8SPXC-1099: update users individually
  pkg/controller/pxc/replication.go
  pkg/controller/pxc/secrets.go
  pkg/controller/pxc/users.go
  pkg/pxc/users/users.go
Labels: size/XXL

#1257 K8SPXC-1082: add `ignoreAnnotations` and `ignoreLabels` options for services
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/replication.go
  pkg/controller/pxc/upgrade.go
Labels: size/L

#1261 K8SPXC-1125: don't use PMM if there is no PMM secrets
  deploy/secrets.yaml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/upgrade.go
  pkg/controller/pxc/users.go
  pkg/pxc/statefulset.go
Labels: size/M

#1264 K8SPXC-1138 decrease the value for timeout in readiness/liveness
  build/liveness-check.sh
  build/readiness-check.sh
Labels: size/XS

#1267 K8SPXC-1137: fix ProxySQL service update
  pkg/controller/pxc/controller.go
  pkg/pxc/service.go
Labels: size/L

#1266 K8SPXC-1094 Remove prior to 1.10.0 versions
  e2e-tests/upgrade-consistency/compare/service_some-name-proxysql-180-k122.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-proxysql-180.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-proxysql-190-k122.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-proxysql-190.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-180-k122.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-180.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-190-k122.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-190.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1100-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1100.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1110-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1110.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1120-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1120.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-180-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-180.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-190-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-190.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1100-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1100.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1110-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1110.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1120-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1120.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-180-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-180.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-190-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-190.yml
  e2e-tests/upgrade-consistency/run
Labels: size/XXL

#1270 K8SPXC-1082: fix service labels and annotations behaviour
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/replication.go
Labels: size/L

#1271 K8SPXC-1146 Absolute offset could lead to extra symbols in GTID
  e2e-tests/pitr/run
Labels: size/S

#1245 K8SPXC-1118: Monitor binlog gaps
  cmd/pitr/collector/collector.go
  config/crd/bases/pxc.percona.com_perconaxtradbclusterbackups.yaml
  config/crd/bases/pxc.percona.com_perconaxtradbclusterrestores.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/manifest
  pkg/apis/pxc/v1/pxc_backup_types.go
  pkg/apis/pxc/v1/pxc_prestore_types.go
  pkg/apis/pxc/v1/pxc_types.go
  pkg/apis/pxc/v1/zz_generated.deepcopy.go
  pkg/controller/pxc/backup.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxcbackup/controller.go
  pkg/controller/pxcrestore/controller.go
  pkg/pxc/app/deployment/binlog-collector.go
  pkg/pxc/backup/restore.go
Labels: size/XL

#1272 K8SPXC-1140: Allow replication channels over SSL
  config/crd/bases/pxc.percona.com_perconaxtradbclusters.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/replication.go
  pkg/pxc/queries/queries.go
Labels: size/L

#1273 K8SPXC-1005: add pitr support for azure backups
  cmd/pitr/collector/collector.go
  cmd/pitr/main.go
  cmd/pitr/pxc/pxc.go
  cmd/pitr/recoverer/recoverer.go
  cmd/pitr/storage/storage.go
  e2e-tests/pitr/conf/pitr.yml
  pkg/apis/pxc/v1/pxc_prestore_types.go
  pkg/controller/pxcrestore/restore.go
  pkg/pxc/app/deployment/binlog-collector.go
  pkg/pxc/backup/restore.go
Labels: size/XL

#1263 K8SPXC-1097: Increase generated pass strength
  build/pxc-entrypoint.sh
  e2e-tests/users/run
  pkg/controller/pxc/secrets.go
Labels: size/M

#1275 K8SPXC-1010: Don't use resource requests for auto tuning
  e2e-tests/auto-tuning/conf/auto-tuning-with-custom-config.yml
  e2e-tests/auto-tuning/conf/auto-tuning-with-limits.yml
  e2e-tests/auto-tuning/conf/auto-tuning-with-requests.yml
  e2e-tests/auto-tuning/conf/auto-tuning-with-template-transform.yml
  e2e-tests/auto-tuning/conf/auto-tuning-with-template.yml
  e2e-tests/auto-tuning/run
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/controller.go
  pkg/pxc/app/config/configmap.go
Labels: size/L

#1278 K8SPXC-955 improve typo in the loadBalancerSourceRanges cr.yaml key name
  deploy/cr.yaml
Labels: size/XS

#1280 K8SPXC-1005: allow `container` field to have subdirs
  cmd/pitr/collector/collector.go
  cmd/pitr/recoverer/recoverer.go
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxcbackup/controller.go
  pkg/pxc/app/deployment/binlog-collector.go
  pkg/pxc/backup/job.go
  pkg/pxc/backup/restore.go
Labels: size/M

#1276 K8SPXC-1118 - Add test case for binlog gap in pitr test
  Jenkinsfile
  e2e-tests/functions
  e2e-tests/pitr/compare/select-gap.sql
  e2e-tests/pitr/conf/on-pitr-minio-gap.yml
  e2e-tests/pitr/conf/restore-on-pitr-minio-gap-error.yaml
  e2e-tests/pitr/conf/restore-on-pitr-minio-gap-force.yaml
  e2e-tests/pitr/run
Labels: size/L

#1284 K8SPXC-1038 - Update manifest generation to be shell agnostic
  Makefile
  e2e-tests/manifest
Labels: size/M

#1283 K8SPXC-1153: Better logging
  cmd/manager/main.go
  deploy/bundle.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  pkg/controller/pxc/users.go
Labels: size/M

#1285 K8SPXC-1038 fix demand-backup-cloud test for 5.7
  e2e-tests/functions
Labels: size/XS

#1287 K8SPXC-1038 - Update versions for release 1.12.0
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
Labels: size/S

#1268 K8SPXC-1113: dual passwords
  e2e-tests/functions
  e2e-tests/users/conf/some-name.yml
  e2e-tests/users/run
  go.mod
  go.sum
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/users.go
  pkg/controller/pxc/users_without_dp.go
  pkg/controller/pxc/version.go
  pkg/pxc/users/users.go
Labels: size/XXL

#1288 K8SPXC-1113: dual passwords (#1268)
  e2e-tests/functions
  e2e-tests/users/conf/some-name.yml
  e2e-tests/users/run
  go.mod
  go.sum
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/users.go
  pkg/controller/pxc/users_without_dp.go
  pkg/controller/pxc/version.go
  pkg/pxc/users/users.go
Labels: size/XXL

#1289 Fix proxysql version in self-healing-chaos test for 5.7
  e2e-tests/self-healing-chaos/compare/proxy-vars.sql
Labels: size/S

#1286 K8SPXC-1005 fix backup deletion check in backup test
  e2e-tests/demand-backup-cloud/run
  e2e-tests/functions
Labels: size/M

#1282 Fixing compare files for openshift
  e2e-tests/init-deploy/compare/service_some-name-proxysql-unready-eks-k121.yml
  e2e-tests/init-deploy/compare/service_some-name-proxysql-unready-eks-k122.yml
  e2e-tests/init-deploy/compare/service_some-name-proxysql-unready-oc-k122.yml
Labels: size/XS

#1291 K8SPXC-1038 - Update chaos-mesh version and tests
  e2e-tests/functions
  e2e-tests/operator-self-healing-chaos/run
  e2e-tests/self-healing-advanced-chaos/run
  e2e-tests/self-healing-chaos/run
Labels: size/M

#1294 Fix security-context test for kubernetes 1.24
  e2e-tests/functions
  e2e-tests/security-context/compare/job.batch_restore-job-restore-pvc-sec-context-k124.yml
  e2e-tests/security-context/compare/job.batch_restore-job-restore-s3-sec-context-k124.yml
Labels: size/L

#1293 K8SPXC-1140 add fields to CR
  deploy/cr.yaml
Labels: size/XS

#1295 K8SPXC-1005 comment backup schedule
  deploy/cr.yaml
Labels: size/S

#1292 K8SPXC-1157 fix HPA
  config/crd/bases/pxc.percona.com_perconaxtradbclusters.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  pkg/apis/pxc/v1/pxc_types.go
Labels: size/S

#1296 K8SPXC-1038 - Fix self-healing-chaos test
  e2e-tests/operator-self-healing-chaos/run
  e2e-tests/self-healing-advanced-chaos/run
  e2e-tests/self-healing-chaos/run
Labels: size/M
