Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2022-06, with the labels that each got.

#1170 Update operator.rst
  source/operator.rst
Labels: size/XS

#1160 K8SPXC-916 fix security context and other options in docs
  source/glossary.options.rst
  source/operator.rst
Labels: size/L, docs

#1173 K8SPXC-823 update pmm client auth
  source/monitoring.rst
  source/users.rst
Labels: size/M, docs

#1174 K8SPXC-985 mention pitr has no filtering
  source/backups.rst
Labels: size/XS, docs

#1169 K8SPXC-907 add example with custom memory allocator to docs
  source/containers-conf.rst
Labels: size/M, docs

#1154 K8SPXC-917 add release notes
  source/ReleaseNotes/Kubernetes-Operator-for-PXC-RN1.11.0.rst
  source/ReleaseNotes/index.rst
  source/System-Requirements.rst
  source/conf.py
  source/images.rst
Labels: size/L, docs
