Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2022-03, with the labels that each got.

#1106 K8SPXC-758 describe the verifyTLS option
  source/glossary.options.rst
  source/operator.rst
Labels: size/S, docs

#1109 Cloud-684 slack notifications
  Jenkinsfile
Labels: size/XS

#1097 CLOUD-677 Update README.md, other quick fixes
  ADOPTERS.md
  CONTRIBUTING.md
  README.md
  e2e-tests/README.md
Labels: size/M, docs

#1111 fix version
  go.mod
  vendor/modules.txt
Labels: size/XS

#1101 CLOUD-672 add tests for cross-site replication
  Jenkinsfile
  e2e-tests/cross-site/compare/select-1.sql
  e2e-tests/cross-site/compare/select-2.sql
  e2e-tests/cross-site/compare/select-3.sql
  e2e-tests/cross-site/conf/cross-site-replica.yml
  e2e-tests/cross-site/conf/cross-site-source.yml
  e2e-tests/cross-site/run
  e2e-tests/functions
  e2e-tests/one-pod/run
  e2e-tests/run
Labels: size/L

#1112 K8SPXC-970 fix wrong link
  source/operator.rst
Labels: size/XS, docs

#1113 HВ-15424 improve version switcher
  Makefile
Labels: size/XS, docs
