Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2022-01, with the labels that each got.

#1080 K8SPXC-931 - add fixed log collector image name and hash
  source/images.rst
Labels: size/L, docs

#1081 Fix security-context diff on kubernetes 1.22
  e2e-tests/security-context/compare/job.batch_xb-on-demand-backup-s3-k122.yml
Labels: size/XS

#1083 fix urls to cr.yaml
  source/backups.rst
  source/constraints.rst
  source/monitoring.rst
  source/storage.rst
Labels: size/S, docs

#1086 K8SPXC-929 - add new images to docs
  source/images.rst
Labels: size/L, docs

#1082 Add example of resources for PITR
  deploy/cr.yaml
Labels: size/XS

#1091 K8SPXC-917 - Update self-healing tests for new PXC version
  e2e-tests/functions
  e2e-tests/self-healing-chaos/compare/proxy-vars-80.sql
  e2e-tests/self-healing/compare/proxy-vars-80.sql
Labels: size/XS

#1092 K8SPXC-758 fix: `operator-sdk generate k8s`
  pkg/apis/pxc/v1/zz_generated.deepcopy.go
Labels: size/XS

#1093 CLOUD-674 add info about build platform
  e2e-tests/README.md
  e2e-tests/build
Labels: size/XS

#1088 K8SPXC-941 Exclude old mongo drivers
  Jenkinsfile
  go.mod
  go.sum
  vendor/modules.txt
Labels: size/XS

#1043 K8SPXC-896-897: check both SSL secret and SSL internal secret in reconsileSSL
  pkg/controller/pxc/tls.go
Labels: size/S, community

#1084 sync query rule when sync user
  pkg/controller/pxc/users.go
Labels: size/XS, community

#1087 CLOUD-677 update naming
  Makefile
  source/ReleaseNotes/index.rst
  source/api.rst
  source/architecture.rst
  source/cluster-wide.rst
  source/conf.py
  source/constraints.rst
  source/custom-registry.rst
  source/eks.rst
  source/gke.rst
  source/haproxy-conf.rst
  source/helm.rst
  source/images.rst
  source/index.rst
  source/minikube.rst
  source/options.rst
  source/proxysql-conf.rst
  source/recovery.rst
  source/update.rst
Labels: size/M, docs

#1095 CLOUD-676 move helm doc to quickstart section
  source/index.rst
Labels: size/XS, docs
