Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2022-12, with the labels that each got.

#1297 Add replication user to tests config
  e2e-tests/conf/secrets.yml
Labels: size/XS

#1306 Fix smart-update2 test for PXC 5.7
  e2e-tests/smart-update2/compare/disabled_telemetry.version-service-cr-5.7-cw.log.json
  e2e-tests/smart-update2/compare/disabled_telemetry.version-service-cr-5.7.log.json
  e2e-tests/smart-update2/compare/disabled_telemetry.version-service-cr-8.0-cw.log.json
  e2e-tests/smart-update2/compare/disabled_telemetry.version-service-cr-8.0.log.json
  e2e-tests/smart-update2/run
Labels: size/M

#1307 Update proxysql version in self-healing-chaos test
  e2e-tests/self-healing-chaos/compare/proxy-vars-80.sql
  e2e-tests/self-healing-chaos/compare/proxy-vars.sql
Labels: size/XS

#1308 K8SPXC-1005: fix azure backup deletion
  cmd/pitr/storage/storage.go
  pkg/controller/pxcbackup/controller.go
Labels: size/S

#1309 K8SPXC-1038 - Fix pitr test by moving the binlog gap case to the end
  e2e-tests/pitr/run
Labels: size/S

#1311 Few tweaks for proxy protocol test on openshift
  e2e-tests/proxy-protocol/run
Labels: size/S

#1312 Add example for creating headless PVC restore service
  deploy/backup/restore.yaml
Labels: size/XS

#1314 K8SPXC-1038 Tweaks for EKS and Openshift
  e2e-tests/functions
  e2e-tests/haproxy/run
  e2e-tests/security-context/compare/job.batch_restore-job-restore-pvc-sec-context-k124-eks.yml
  e2e-tests/security-context/compare/job.batch_restore-job-restore-pvc-sec-context-k124-oc.yml
  e2e-tests/security-context/compare/job.batch_restore-job-restore-s3-sec-context-k124-eks.yml
  e2e-tests/security-context/compare/job.batch_restore-job-restore-s3-sec-context-k124-oc.yml
Labels: size/L

#1315 K8SPXC-1111 - Fix jenkins stage names and obtaining git short commit
  Jenkinsfile
Labels: size/M

#1316 K8SPXC-1038 update after release
  Jenkinsfile
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/functions
  e2e-tests/init-deploy/compare/root-80.sql
  e2e-tests/init-deploy/compare/xtrabackup-80.sql
  e2e-tests/upgrade-consistency/compare/service_some-name-proxysql-1130-k122.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-proxysql-1130.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-1130-k122.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-1130.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1130-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1130.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1130-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1130.yml
  e2e-tests/upgrade-consistency/run
  e2e-tests/upgrade-haproxy/run
  e2e-tests/upgrade-proxysql/run
  e2e-tests/users/compare/select-4-80.sql
  e2e-tests/users/compare/select-5-80.sql
  e2e-tests/users/run
  version/version.go
Labels: size/XXL

#1320 K8SPXC-1173: Unit tests Github action
  .github/workflows/test.yml
Labels: size/S
