Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2023-03, with the labels that each got.

#1349 K8SPXC-362 fixed by Vladislav Safronov
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/upgrade.go
  pkg/controller/pxc/users.go
  pkg/controller/pxc/users_without_dp.go
  pkg/controller/pxc/version.go
Labels: size/M

#1358 K8SPXC-1207 - Remove setTestsResults() from Jenkinsfile
  Jenkinsfile
Labels: size/S

#1348 K8SPXC-1210 Allow configuring HAProxy, HAProxyReplica, ProxySQL service as headless using service annotation
  pkg/pxc/service.go
Labels: size/S

#1365 CLOUD-761 - Add test report and duration in Jenkins test runs
  Jenkinsfile
Labels: size/M

#1332 CLOUD-622 change the old web site.
  docs/architecture/README.md
  docs/architecture/decisions/0001-record-architecture-decisions.md
Labels: size/XS, community

#1359 Fix missing dash in the example branch name
  CONTRIBUTING.md
Labels: size/XS, community
