Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2023-12, with the labels that each got.

#1527 CLOUD-825 - Use community helm chart repo for installing MinIO
  e2e-tests/functions
Labels: size/S

#1541 K8SPXC-1151: Fix status after PiTR finished
  cmd/manager/main.go
  pkg/controller/pxcrestore/controller.go
Labels: size/XS

#1497 Remove adopters tracking
  ADOPTERS.md
  adopters/example/README.md
  adopters/leviatan/README.md
  adopters/users/laimison/README.md
  adopters/users/spron-in/README.md
Labels: size/M

#1521 K8SPXC-200: custom options for xtrabackup binaries
  config/crd/bases/pxc.percona.com_perconaxtradbclusterbackups.yaml
  config/crd/bases/pxc.percona.com_perconaxtradbclusterrestores.yaml
  config/crd/bases/pxc.percona.com_perconaxtradbclusters.yaml
  deploy/backup/backup.yaml
  deploy/backup/restore.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/demand-backup-cloud/compare/job.batch_restore-job-on-demand-backup-azure-demand-backup-cloud-k127.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_restore-job-on-demand-backup-azure-demand-backup-cloud-oc.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_restore-job-on-demand-backup-azure-demand-backup-cloud.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_restore-job-on-demand-backup-s3-demand-backup-cloud-k127.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_restore-job-on-demand-backup-s3-demand-backup-cloud-oc.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_restore-job-on-demand-backup-s3-demand-backup-cloud.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_xb-on-demand-backup-aws-s3-oc.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_xb-on-demand-backup-aws-s3.yml
  e2e-tests/demand-backup-cloud/conf/demand-backup-cloud.yml
  e2e-tests/demand-backup-cloud/run
  e2e-tests/demand-backup/compare/job_restore-job-on-demand-backup-minio-demand-backup-k127.yml
  e2e-tests/demand-backup/compare/job_restore-job-on-demand-backup-minio-demand-backup-oc.yml
  e2e-tests/demand-backup/compare/job_restore-job-on-demand-backup-minio-demand-backup.yml
  e2e-tests/demand-backup/compare/job_xb-on-demand-backup-minio-oc.yml
  e2e-tests/demand-backup/compare/job_xb-on-demand-backup-minio.yml
  e2e-tests/demand-backup/conf/demand-backup.yml
  e2e-tests/demand-backup/conf/on-demand-backup-minio.yml
  e2e-tests/demand-backup/conf/restore-on-demand-backup-minio.yaml
  e2e-tests/demand-backup/run
  e2e-tests/security-context/compare/job.batch_restore-job-restore-pvc-sec-context-k127.yml
  e2e-tests/security-context/compare/job.batch_restore-job-restore-pvc-sec-context.yml
  e2e-tests/security-context/compare/job.batch_restore-job-restore-s3-sec-context-k127.yml
  e2e-tests/security-context/compare/job.batch_restore-job-restore-s3-sec-context.yml
  pkg/apis/pxc/v1/pxc_backup_types.go
  pkg/apis/pxc/v1/pxc_prestore_types.go
  pkg/apis/pxc/v1/pxc_types.go
  pkg/apis/pxc/v1/zz_generated.deepcopy.go
  pkg/controller/pxcbackup/controller.go
  pkg/controller/pxcrestore/controller.go
  pkg/controller/pxcrestore/restore.go
  pkg/pxc/backup/job.go
  pkg/pxc/backup/restore.go
  pkg/util/env.go
Labels: size/XXL

#1517 K8SPXC-927: add `serviceLabels` and `serviceAnnotations` for PXC
  deploy/cr.yaml
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/replication.go
  pkg/controller/pxc/service_test.go
  pkg/pxc/service.go
Labels: size/L

#1546 K8SPXC-1147: log more info if replica channel isn't empty
  pkg/controller/pxc/replication.go
  pkg/pxc/queries/queries.go
Labels: size/M

#1545 K8SPXC-1288 make schedule backup fields mandatory
  config/crd/bases/pxc.percona.com_perconaxtradbclusters.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  pkg/apis/pxc/v1/pxc_types.go
Labels: size/S

#1543 K8SPXC-1159: Wrong cluster status when invalid user password applied
  pkg/controller/pxc/users.go
  pkg/controller/pxc/users_without_dp.go
Labels: size/M

#1542 K8SPXC-878: Remove clustercheck user
  build/pxc-entrypoint.sh
  deploy/secrets.yaml
  e2e-tests/conf/secrets.yml
  e2e-tests/conf/secrets_without_tls.yml
  e2e-tests/init-deploy/compare/clustercheck-80.sql
  e2e-tests/init-deploy/compare/clustercheck.sql
  e2e-tests/init-deploy/run
  e2e-tests/monitoring-2-0/conf/secrets.yaml
  e2e-tests/upgrade-consistency/conf/secrets.yml
  e2e-tests/users/conf/secrets.yml
  e2e-tests/users/run
  pkg/controller/pxc/secrets.go
  pkg/controller/pxc/users.go
  pkg/controller/pxc/users_without_dp.go
  pkg/pxc/users/users.go
Labels: size/L

#1549 K8SPXC-1333: Include namespace to scheduled backup prefix
  pkg/controller/pxc/backup.go
Labels: size/XS

#1494 CLOUD-727 set day and time for all packages
  .github/dependabot.yml
Labels: size/XS

#1557 PMM-12778 update agents check
  e2e-tests/monitoring-2-0/compare/agents-list.json
Labels: size/XS

#1550 K8SPXC-1309 add multi architecture build support
  .github/workflows/reviewdog.yml
  .github/workflows/scan.yml
  .github/workflows/test.yml
  Jenkinsfile
  build/Dockerfile
  e2e-tests/build
  go.mod
Labels: size/M

#1559 K8SPXC-1281: Fix cross-site test
  e2e-tests/cross-site/conf/backup-minio-replica.yml
  e2e-tests/cross-site/conf/backup-minio-source.yml
  e2e-tests/cross-site/conf/cross-site-replica.yml
  e2e-tests/cross-site/conf/cross-site-source.yml
  e2e-tests/cross-site/conf/restore-backup-minio.yml
  e2e-tests/cross-site/run
  e2e-tests/functions
Labels: size/L

#1558 K8SPXC-1329: add `PMM_AGENT_PATHS_TEMPDIR` to pmm-agent sidecar
  e2e-tests/limits/compare/statefulset_no-limits-proxysql-increased-k127.yml
  e2e-tests/limits/compare/statefulset_no-limits-proxysql-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-proxysql-increased.yml
  e2e-tests/limits/compare/statefulset_no-limits-proxysql-k127.yml
  e2e-tests/limits/compare/statefulset_no-limits-proxysql-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-proxysql.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-increased-k127.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-increased.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-k127.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-haproxy-k127.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-haproxy.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc-k127.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc.yml
  pkg/pxc/app/statefulset/haproxy.go
  pkg/pxc/app/statefulset/node.go
  pkg/pxc/app/statefulset/proxysql.go
Labels: size/M

#1560 K8SPXC-1269 add possibility to switch from haproxy to proxysql in 5.7
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/controller_test.go
Labels: size/XS

#1563 K8SPXC-1275: Set GET_MASTER_PUBLIC_KEY=1 if auth plugin is caching_sha2_password
  pkg/controller/pxc/replication.go
  pkg/pxc/queries/queries.go
Labels: size/M

#1567 K8SPXC-1309 fix multi architecture builds
  e2e-tests/build
Labels: size/XS

#1566 K8SPXC-1268 avoid sleep-forever deletion under sst
  build/pxc-entrypoint.sh
Labels: size/XS

#1538 K8SPXC-1079: Standardize service exposure
  .golangci.yml
  config/crd/bases/pxc.percona.com_perconaxtradbclusters.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/haproxy/run
  e2e-tests/proxy-protocol/conf/proxy-protocol.yml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/apis/pxc/v1/zz_generated.deepcopy.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/controller_test.go
  pkg/controller/pxc/replication.go
  pkg/controller/pxc/service_test.go
  pkg/controller/pxc/status.go
  pkg/controller/pxc/status_test.go
  pkg/pxc/service.go
Labels: size/XXL

#1568 K8SPXC-1334: Add support for container lifecycle hooks
  config/crd/bases/pxc.percona.com_perconaxtradbclusters.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/controller_test.go
  pkg/pxc/app/statefulset/haproxy.go
  pkg/pxc/app/statefulset/node.go
  pkg/pxc/app/statefulset/proxysql.go
Labels: size/XXL

#1403 K8SPXC-1237: verify backups and secrets before starting restore
  cmd/pitr/collector/collector.go
  cmd/pitr/recoverer/recoverer.go
  e2e-tests/demand-backup/run
  e2e-tests/functions
  e2e-tests/pitr-gap-errors/conf/pitr-gap-errors.yml
  e2e-tests/pitr-gap-errors/conf/restore-on-pitr-minio.yaml
  e2e-tests/pitr-gap-errors/conf/restore-on-pitr-minio1.yaml
  e2e-tests/pitr-gap-errors/run
  e2e-tests/pitr/conf/pitr.yml
  e2e-tests/pitr/conf/restore-on-pitr-minio.yaml
  e2e-tests/pitr/run
  e2e-tests/security-context/compare/job.batch_restore-job-restore-s3-sec-context-k127.yml
  e2e-tests/security-context/compare/job.batch_restore-job-restore-s3-sec-context.yml
  e2e-tests/security-context/compare/job.batch_xb-on-demand-backup-s3.yml
  e2e-tests/security-context/conf/sec-context-changes.yml
  e2e-tests/security-context/run
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxcbackup/controller.go
  pkg/controller/pxcrestore/controller.go
  pkg/controller/pxcrestore/helpers_test.go
  pkg/controller/pxcrestore/restore.go
  pkg/controller/pxcrestore/restore_test.go
  pkg/controller/pxcrestore/restorer.go
  pkg/pxc/backup/storage/fake/storage.go
  pkg/pxc/backup/storage/options.go
  pkg/pxc/backup/storage/storage.go
Labels: size/XXL

#1556 K8SPXC-1298: add prefix for pmm cluster name
  build/pmm-prerun.sh
  e2e-tests/functions
  e2e-tests/monitoring-2-0/compare/agents-list.json
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-haproxy-k127.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-haproxy.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc-k127.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc.yml
  e2e-tests/monitoring-2-0/conf/envsecrets.yaml
  e2e-tests/monitoring-2-0/conf/monitoring.yml
  e2e-tests/monitoring-2-0/run
  pkg/pxc/app/statefulset/haproxy.go
Labels: size/M

#1524 K8SPXC-1313: Set latest restorable time to latest successful backup
  cmd/pitr/collector/collector.go
  cmd/pitr/pxc/pxc.go
  config/crd/bases/pxc.percona.com_perconaxtradbclusterbackups.yaml
  config/crd/bases/pxc.percona.com_perconaxtradbclusterrestores.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/functions
  e2e-tests/pitr/run
  pkg/apis/pxc/v1/pxc_backup_types.go
  pkg/apis/pxc/v1/zz_generated.deepcopy.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxcbackup/controller.go
  pkg/pxc/app/deployment/binlog-collector.go
  pkg/pxc/backup/pitr.go
Labels: size/L
