Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2023-04, with the labels that each got.

#1370 CLOUD-762 add possibility of enabling/disabling debug mode for e2e tests
  Jenkinsfile
  cmd/pitr/storage/storage.go
  deploy/cr.yaml
  e2e-tests/affinity/run
  e2e-tests/auto-tuning/run
  e2e-tests/big-data/run
  e2e-tests/build
  e2e-tests/cross-site/run
  e2e-tests/default-cr/run
  e2e-tests/demand-backup-cloud/run
  e2e-tests/demand-backup-encrypted-with-tls/run
  e2e-tests/demand-backup/run
  e2e-tests/functions
  e2e-tests/haproxy/run
  e2e-tests/init-deploy/run
  e2e-tests/limits/run
  e2e-tests/monitoring-2-0/run
  e2e-tests/one-pod/run
  e2e-tests/operator-self-healing-chaos/run
  e2e-tests/pitr/run
  e2e-tests/proxy-protocol/run
  e2e-tests/proxysql-sidecar-res-limits/run
  e2e-tests/recreate/run
  e2e-tests/restore-to-encrypted-cluster/run
  e2e-tests/run
  e2e-tests/scaling-proxysql/run
  e2e-tests/scaling/run
  e2e-tests/scheduled-backup/run
  e2e-tests/security-context/run
  e2e-tests/self-healing-advanced-chaos/run
  e2e-tests/self-healing-chaos/run
  e2e-tests/smart-update1/run
  e2e-tests/smart-update2/run
  e2e-tests/storage/run
  e2e-tests/tls-issue-cert-manager-ref/run
  e2e-tests/tls-issue-cert-manager/run
  e2e-tests/tls-issue-self/run
  e2e-tests/upgrade-consistency/run
  e2e-tests/upgrade-haproxy/run
  e2e-tests/upgrade-proxysql/run
  e2e-tests/users/compare/select-4-80.sql
  e2e-tests/users/run
  e2e-tests/validation-hook/run
  pkg/controller/pxcbackup/controller.go
Labels: size/XL

#1383 K8SPXC-1220: handle DNS timeouts in peer-list
  cmd/peer-list/main.go
Labels: size/XS

#1380 K8SPXC-1164: delete-proxysql-pvc deletes secrets after switching proxies
  pkg/controller/pxc/controller.go
Labels: size/S

#1384 K8SPXC-1143 add ignore annotations test
  e2e-tests/functions
  e2e-tests/ignore-labels-annotations/compare/select-1.sql
  e2e-tests/ignore-labels-annotations/compare/service_ignore-annotations-haproxy-crmeta.yml
  e2e-tests/ignore-labels-annotations/compare/service_ignore-annotations-haproxy-manual.yml
  e2e-tests/ignore-labels-annotations/compare/service_ignore-annotations-haproxy-no-ignored-meta.yml
  e2e-tests/ignore-labels-annotations/compare/service_ignore-annotations-haproxy-one-service-label-annotation.yml
  e2e-tests/ignore-labels-annotations/compare/service_ignore-annotations-haproxy-two-service-labels-annotations.yml
  e2e-tests/ignore-labels-annotations/compare/service_ignore-annotations-proxysql-crmeta.yml
  e2e-tests/ignore-labels-annotations/compare/service_ignore-annotations-proxysql-manual.yml
  e2e-tests/ignore-labels-annotations/compare/service_ignore-annotations-proxysql-no-ignored-meta.yml
  e2e-tests/ignore-labels-annotations/compare/service_ignore-annotations-proxysql-one-service-label-annotation.yml
  e2e-tests/ignore-labels-annotations/compare/service_ignore-annotations-proxysql-two-service-labels-annotations.yml
  e2e-tests/ignore-labels-annotations/compare/service_ignore-annotations-pxc-0-crmeta.yml
  e2e-tests/ignore-labels-annotations/compare/service_ignore-annotations-pxc-0-manual.yml
  e2e-tests/ignore-labels-annotations/compare/service_ignore-annotations-pxc-0-no-ignored-meta.yml
  e2e-tests/ignore-labels-annotations/compare/service_ignore-annotations-pxc-0-one-service-label-annotation.yml
  e2e-tests/ignore-labels-annotations/compare/service_ignore-annotations-pxc-0-two-service-labels-annotations.yml
  e2e-tests/ignore-labels-annotations/conf/ignore-annotations.yml
  e2e-tests/ignore-labels-annotations/run
  e2e-tests/run
  e2e-tests/run-pr.csv
  e2e-tests/run-release.csv
Labels: size/XL

#1390 K8SPXC-1149: `delete-pxc-pvc` doesn't delete default secrets
  pkg/controller/pxc/controller.go
Labels: size/S

#1387 K8SPXC-1161: restart haproxy pods after pmm secret change
  e2e-tests/functions
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-haproxy.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc.yml
  e2e-tests/monitoring-2-0/run
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/users.go
Labels: size/M

#1381 K8SPXC-1135: set intializing status when `.status.host` is empty
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/status_test.go
Labels: size/M

#1392 K8SPXC-1163: fix cluster deletion in init state
  pkg/controller/pxc/upgrade.go
Labels: size/XS

#1401 K8SPXC-1037: Initial test setup
  .github/workflows/test.yml
  Makefile
  go.mod
  go.sum
  pkg/controller/pxc/controller_test.go
  pkg/controller/pxc/suite_test.go
Labels: size/L

#1402 CLOUD-783 - Cleanup test cluster before deletion
  Jenkinsfile
Labels: size/XS

#1369 K8SPXC-1233: Logging improvements
  pkg/controller/pxc/backup.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/full_crash_recovery.go
  pkg/controller/pxc/replication.go
  pkg/controller/pxc/secrets.go
  pkg/controller/pxc/upgrade.go
  pkg/controller/pxc/users.go
  pkg/controller/pxc/users_without_dp.go
  pkg/controller/pxc/version.go
  pkg/controller/pxcbackup/controller.go
  pkg/controller/pxcrestore/controller.go
Labels: size/L
