Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2023-05, with the labels that each got.

#1395 K8SPXC-1190 update API for RuntimeClass
  e2e-tests/haproxy/conf/container-rc.yaml
  e2e-tests/haproxy/conf/docker-rc.yaml
Labels: size/XS

#1099 K8SPXC-687 fix: restore reconcile loop getting stuck when restore pod container fails
  pkg/controller/pxcrestore/restore.go
Labels: size/XS

#1399 K8SPXC-1205: `delete-s3-backup` must use storage's `verifyTLS`
  config/crd/bases/pxc.percona.com_perconaxtradbclusterbackups.yaml
  config/crd/bases/pxc.percona.com_perconaxtradbclusterrestores.yaml
  config/crd/bases/pxc.percona.com_perconaxtradbclusters.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/demand-backup/conf/demand-backup.yml
  e2e-tests/demand-backup/run
  e2e-tests/functions
  pkg/apis/pxc/v1/pxc_backup_types.go
  pkg/apis/pxc/v1/zz_generated.deepcopy.go
  pkg/controller/pxcbackup/controller.go
Labels: size/XXL

#1410 K8SPXC-1037: fix reconcile in ginkgo tests
  pkg/apis/pxc/v1/zz_generated.defaults.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/controller_test.go
  pkg/controller/pxc/suite_test.go
  pkg/controller/pxc/upgrade.go
Labels: size/M

#1411 K8 spxc 1037 finalizer test
  Makefile
  pkg/controller/pxc/controller_test.go
  pkg/controller/pxc/testdata/cert-manager.yaml
Labels: size/XXL

#1397 K8SPXC-1122: add `VERIFY_TLS` env to collector pod
  cmd/pitr/collector/collector.go
  deploy/backup/restore.yaml
  e2e-tests/pitr/conf/cert.yml
  e2e-tests/pitr/conf/issuer.yml
  e2e-tests/pitr/conf/pitr.yml
  e2e-tests/pitr/conf/restore-on-pitr-minio.yaml
  e2e-tests/pitr/conf/restore-on-pitr-minio1.yaml
  e2e-tests/pitr/run
  pkg/pxc/app/deployment/binlog-collector.go
  pkg/pxc/backup/restore.go
Labels: size/L

#1418 K8SPXC-1193: remove `isCA: true` from certificates
  e2e-tests/init-deploy/compare/certificate_no-proxysql-ssl-internal.yml
  e2e-tests/init-deploy/compare/certificate_no-proxysql-ssl.yml
  e2e-tests/tls-issue-cert-manager-ref/compare/certificate_some-name-tls-issueref-ssl.yml
  e2e-tests/tls-issue-cert-manager/compare/certificate_some-name-tls-issue-ssl.yml
  pkg/controller/pxc/tls.go
Labels: size/XS

#1416 K8SPXC-1243 fix deletion from server inventory on pod termination
  e2e-tests/limits/compare/statefulset_no-limits-proxysql-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-proxysql-increased.yml
  e2e-tests/limits/compare/statefulset_no-limits-proxysql-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-proxysql.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-increased.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-haproxy.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc.yml
  e2e-tests/monitoring-2-0/run
  pkg/pxc/app/pmm.go
  pkg/pxc/app/statefulset/haproxy.go
  pkg/pxc/app/statefulset/node.go
  pkg/pxc/app/statefulset/proxysql.go
Labels: size/M

#1414 K8SPXC-1225: System users with PASSWORD EXPIRE NEVER policy
  build/pxc-entrypoint.sh
  e2e-tests/pitr/run
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/replication.go
  pkg/controller/pxc/secrets.go
  pkg/controller/pxc/upgrade.go
  pkg/controller/pxc/users.go
  pkg/controller/pxc/users_without_dp.go
  pkg/controller/pxc/version.go
  pkg/pxc/app/deployment/binlog-collector.go
  pkg/pxc/app/pmm.go
  pkg/pxc/app/statefulset/haproxy.go
  pkg/pxc/app/statefulset/node.go
  pkg/pxc/app/statefulset/proxysql.go
  pkg/pxc/backup/job.go
  pkg/pxc/backup/restore.go
  pkg/pxc/users/users.go
Labels: size/L

#1420 K8SPXC-1247: don't use unready proxysql svc for `.status.host`
  e2e-tests/functions
  e2e-tests/proxysql-sidecar-res-limits/run
  pkg/controller/pxc/status.go
  pkg/controller/pxc/status_test.go
Labels: size/M

#1391 K8SPXC-1234 Track pmm agent statuses
  Jenkinsfile
  e2e-tests/functions
  e2e-tests/monitoring-2-0/compare/agents-list.json
  e2e-tests/monitoring-2-0/run
Labels: size/L
