Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2023-01, with the labels that each got.

#1324 K8SPXC-1179 add possibility of using tls connections to mysql
  pkg/pxc/queries/queries.go
  pkg/pxc/users/users.go
Labels: size/XS

#1325 CLOUD-756 - Fix pipeline to delete/post GH results only if no new build initiated
  Jenkinsfile
Labels: size/S

#1327 K8SPXC-1189 update base image to ubi9
  build/Dockerfile
Labels: size/XS

#1326 CLOUD-748 - Add checklist for Github PRs
  .github/pull_request_template.md
Labels: size/M

#1328 K8SPXC-1192 create examples for secret files
  deploy/backup/backup-secret-azure.yaml
  deploy/backup/backup-secret-s3.yaml
Labels: size/XS

#1329 K8SPXC-1192 add missing options into restore.yaml file
  deploy/backup/restore.yaml
Labels: size/XS

#1330 K8SPXC-1192 add destination option
  deploy/backup/restore.yaml
Labels: size/XS
