Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2023-06, with the labels that each got.

#1423 K8SPXC-1106: PITR not uploading files if corrupted binlog exists
  cmd/pitr/collector/collector.go
  cmd/pitr/pxc/pxc.go
  e2e-tests/functions
  e2e-tests/pitr-gap-errors/compare/select-1.sql
  e2e-tests/pitr-gap-errors/compare/select-3.sql
  e2e-tests/pitr-gap-errors/compare/select-5.sql
  e2e-tests/pitr-gap-errors/compare/select-6.sql
  e2e-tests/pitr-gap-errors/compare/select-gap.sql
  e2e-tests/pitr-gap-errors/compare/select-invalid.sql
  e2e-tests/pitr-gap-errors/conf/cert.yml
  e2e-tests/pitr-gap-errors/conf/issuer.yml
  e2e-tests/pitr-gap-errors/conf/on-pitr-minio-gap.yml
  e2e-tests/pitr-gap-errors/conf/on-pitr-minio.yml
  e2e-tests/pitr-gap-errors/conf/on-pitr-minio1.yml
  e2e-tests/pitr-gap-errors/conf/pitr-gap-errors.yml
  e2e-tests/pitr-gap-errors/conf/restore-on-pitr-minio-gap-error.yaml
  e2e-tests/pitr-gap-errors/conf/restore-on-pitr-minio-gap-force.yaml
  e2e-tests/pitr-gap-errors/conf/restore-on-pitr-minio-invalid.yaml
  e2e-tests/pitr-gap-errors/conf/restore-on-pitr-minio.yaml
  e2e-tests/pitr-gap-errors/conf/restore-on-pitr-minio1.yaml
  e2e-tests/pitr-gap-errors/run
  e2e-tests/pitr/run
  e2e-tests/run-distro.csv
  e2e-tests/run-pr.csv
  e2e-tests/run-release.csv
  e2e-tests/scaling/run
Labels: size/XL

#1437 Revert "K8SPXC-1220: handle DNS timeouts in peer-list"
  cmd/peer-list/main.go
Labels: size/XS

#1438 Update operator emblem and use it in README
  README.md
  kubernetes.svg
Labels: size/S, docs

#1439 K8SPXC-1165 - Fix big-data, proxy-protocol and self-healing-chaos tests
  e2e-tests/big-data/run
  e2e-tests/functions
  e2e-tests/proxy-protocol/compare/statefulset_proxy-protocol-pxc-oc.yml
  e2e-tests/self-healing-chaos/compare/proxy-vars.sql
  e2e-tests/self-healing-chaos/run
Labels: size/L

#1441 K8SPXC-1262: improve PITR
  cmd/pitr/collector/collector.go
  cmd/pitr/pxc/pxc.go
  e2e-tests/pitr/run
  pkg/controller/pxc/backup.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxcrestore/controller.go
  pkg/pxc/backup/pitr.go
Labels: size/L
