Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2023-07, with the labels that each got.

#1454 K8SPXC-1165 - Update images and versions for 1.13.0 release
  config/crd/bases/pxc.percona.com_perconaxtradbclusters.yaml
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
Labels: size/L

#1455 K8SPXC-1165 - Update PMM client version in cr.yaml
  deploy/cr.yaml
Labels: size/XS

#1456 K8SPXC-1165 - Fix cert-manager installation on OpenShift 4.10
  e2e-tests/conf/some-name.yml
  e2e-tests/functions
  e2e-tests/pitr-gap-errors/run
  e2e-tests/pitr/run
Labels: size/S

#1457 CLOUD-793 - Set fixed version of yq to 4.34.1
  Jenkinsfile
  e2e-tests/init-deploy/compare/service_no-proxysql-proxysql.yml
  e2e-tests/init-deploy/compare/statefulset_no-proxysql-proxysql.yml
Labels: size/XS

#1458 K8SPXC-1265: Fix marking backup as failed before reaching backoff limit
  pkg/controller/pxcbackup/controller.go
Labels: size/S

#1460 K8SPXC-1165 - Fix image for backup for PXC 1.13.0 release
  deploy/cr.yaml
Labels: size/XS

#1461 K8SPXC-1165 - Update version and images after 1.13.0 release
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/upgrade-consistency/compare/service_some-name-proxysql-1100.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-proxysql-1140.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-1100.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-1140.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1140-k127.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1140-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1140.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1110-k127.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1110-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1110.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1120-k127.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1120-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1120.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1130-k127.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1130-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1130.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1140-k127.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1140-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1140.yml
  e2e-tests/upgrade-consistency/run
  version/version.go
Labels: size/L
