Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2024-11, with the labels that each got.

#1862 CLOUD-868: Remove monitoring-2.0 from pxc distro tests
  e2e-tests/run-distro.csv
Labels: size/XS

#1839 K8SPXC-1420: Disable proxy during PiTR
  Makefile
  build/pxc-entrypoint.sh
  pkg/controller/pxcrestore/controller.go
Labels: size/M

#1838 K8SPXC-1503: Fix exec in pitr and proxysql pods
  clientcmd/clientcmd.go
  pkg/pxc/backup/pitr.go
Labels: size/L, community

#1863 K8SPXC-1500: Allow to pass activeDeadlineSeconds option to backup jobs
  config/crd/bases/pxc.percona.com_perconaxtradbclusterbackups.yaml
  config/crd/bases/pxc.percona.com_perconaxtradbclusters.yaml
  deploy/backup/backup.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/demand-backup-cloud/compare/job.batch_xb-on-demand-backup-aws-s3-k129-oc.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_xb-on-demand-backup-aws-s3-k129.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_xb-on-demand-backup-aws-s3-oc.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_xb-on-demand-backup-aws-s3.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_xb-on-demand-backup-azure-blob-k129-oc.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_xb-on-demand-backup-azure-blob-k129.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_xb-on-demand-backup-azure-blob-oc.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_xb-on-demand-backup-azure-blob.yml
  e2e-tests/demand-backup-cloud/conf/demand-backup-cloud.yml
  e2e-tests/demand-backup-cloud/conf/on-demand-backup-aws-s3.yml
  e2e-tests/demand-backup/compare/job_xb-on-demand-backup-minio-k129-oc.yml
  e2e-tests/demand-backup/compare/job_xb-on-demand-backup-minio-k129.yml
  e2e-tests/demand-backup/compare/job_xb-on-demand-backup-minio-oc.yml
  e2e-tests/demand-backup/compare/job_xb-on-demand-backup-minio.yml
  e2e-tests/demand-backup/conf/demand-backup.yml
  e2e-tests/demand-backup/conf/on-demand-backup-minio.yml
  pkg/apis/pxc/v1/pxc_backup_types.go
  pkg/apis/pxc/v1/pxc_types.go
  pkg/apis/pxc/v1/zz_generated.deepcopy.go
  pkg/pxc/backup/job.go
Labels: size/M, community

#1867 K8SPXC-1458: Check spec.Backup is nil
  pkg/apis/pxc/v1/pxc_types.go
Labels: size/XS

#1871 Update README.md - roadmap link
  README.md
Labels: size/XS

#1870 K8SPXC-1478: update upgrade-consistency after 1.14.1 & 1.15.1
  e2e-tests/upgrade-consistency/compare/service_some-name-proxysql-1141.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-proxysql-1151.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-1141.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-1151.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1140-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1140.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1141-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1141.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1150-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1150.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1151-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1151.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1160-k127-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1160-k127.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1160-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1160.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1140-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1140.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1141-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1141.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1150-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1150.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1151-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1151.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1160-k127-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1160-k127.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1160-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1160.yml
  e2e-tests/upgrade-consistency/run
Labels: size/XXL

#1835 K8SPXC-377: User management
  config/crd/bases/pxc.percona.com_perconaxtradbclusters.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/custom-users/compare/select-1.sql
  e2e-tests/custom-users/compare/user-five-1.sql
  e2e-tests/custom-users/compare/user-five.sql
  e2e-tests/custom-users/compare/user-four-1.sql
  e2e-tests/custom-users/compare/user-four-2.sql
  e2e-tests/custom-users/compare/user-four-3.sql
  e2e-tests/custom-users/compare/user-four-4.sql
  e2e-tests/custom-users/compare/user-four.sql
  e2e-tests/custom-users/compare/user-one-1.sql
  e2e-tests/custom-users/compare/user-one-2.sql
  e2e-tests/custom-users/compare/user-one.sql
  e2e-tests/custom-users/compare/user-three-1.sql
  e2e-tests/custom-users/compare/user-three.sql
  e2e-tests/custom-users/compare/user-two-1.sql
  e2e-tests/custom-users/compare/user-two.sql
  e2e-tests/custom-users/conf/some-name.yml
  e2e-tests/custom-users/conf/user-secrets.yml
  e2e-tests/custom-users/run
  e2e-tests/run-distro.csv
  e2e-tests/run-pr.csv
  e2e-tests/run-release.csv
  pkg/apis/pxc/v1/pxc_types.go
  pkg/apis/pxc/v1/zz_generated.deepcopy.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/users_custom.go
  pkg/controller/pxc/users_custom_test.go
  pkg/pxc/users/users.go
Labels: size/XXL

#1890 K8SPXC-1508 Automate images and provider versions provisioning for Jenkins jobs
  e2e-tests/release_versions
Labels: size/S
