Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2024-12, with the labels that each got.

#1881 K8SPXC-1451: remove comparing version
  pkg/controller/pxc/volumes.go
Labels: size/XS

#1889 K8SPXC-1378: fix `.spec.backup.allowParallel`
  e2e-tests/demand-backup/run
  pkg/controller/pxcbackup/controller.go
  pkg/naming/labels.go
Labels: size/M

#1877 K8SPXC-1420: Add test case to check if proxy stopped during PiTR
  e2e-tests/functions
  e2e-tests/pitr-gap-errors/conf/restore-on-pitr-minio-gap-error.yaml
  e2e-tests/pitr-gap-errors/conf/restore-on-pitr-minio-gap-force.yaml
  e2e-tests/pitr-gap-errors/conf/restore-on-pitr-minio-gap-no-pitr.yaml
  e2e-tests/pitr-gap-errors/conf/restore-on-pitr-minio-invalid.yaml
  e2e-tests/pitr-gap-errors/conf/restore-on-pitr-minio.yaml
  e2e-tests/pitr-gap-errors/conf/restore-on-pitr-minio1.yaml
  e2e-tests/pitr-gap-errors/run
  e2e-tests/pitr/conf/restore-on-pitr-minio-gtid.yaml
  e2e-tests/pitr/conf/restore-on-pitr-minio-time.yaml
  e2e-tests/pitr/conf/restore-on-pitr-minio.yaml
  e2e-tests/pitr/run
Labels: size/L

#1893 K8SPXC-1446: use kubectl in wait_for_delete function
  e2e-tests/functions
Labels: size/XS

#1894 K8SPXC-1456: add tests for initContainer security-context
  e2e-tests/security-context/compare/job.batch_restore-job-restore-pvc-sec-context-k127.yml
  e2e-tests/security-context/compare/job.batch_restore-job-restore-s3-sec-context-k127.yml
  e2e-tests/security-context/compare/statefulset_sec-context-proxysql-changes-k127.yml
  e2e-tests/security-context/compare/statefulset_sec-context-proxysql-changes-oc.yml
  e2e-tests/security-context/compare/statefulset_sec-context-proxysql-changes.yml
  e2e-tests/security-context/compare/statefulset_sec-context-proxysql-k127.yml
  e2e-tests/security-context/compare/statefulset_sec-context-proxysql-oc.yml
  e2e-tests/security-context/compare/statefulset_sec-context-proxysql.yml
  e2e-tests/security-context/compare/statefulset_sec-context-pxc-changes-k127.yml
  e2e-tests/security-context/compare/statefulset_sec-context-pxc-changes.yml
  e2e-tests/security-context/compare/statefulset_sec-context-pxc-k127.yml
  e2e-tests/security-context/compare/statefulset_sec-context-pxc.yml
  e2e-tests/security-context/conf/sec-context-changes.yml
Labels: size/XXL

#1816 K8SPXC-1462: Restart PXC pods after monitor user password change
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/users.go
  pkg/controller/pxc/users_without_dp.go
Labels: size/M, community

#1900 K8SPXC-1410 fix security-context test
  e2e-tests/security-context/compare/statefulset_sec-context-pxc-changes.yml
  e2e-tests/security-context/compare/statefulset_sec-context-pxc.yml
Labels: size/XS

#1844 K8SPXC-1411: allow to enable/disable TLS in a running cluster
  e2e-tests/functions
  e2e-tests/tls-issue-cert-manager-ref/compare/clusterissuer_special-selfsigned-issuer.yml
  e2e-tests/tls-issue-self/compare/pxc_some-name-enabled.yml
  e2e-tests/tls-issue-self/compare/pxc_some-name.yml
  e2e-tests/tls-issue-self/run
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/status.go
  pkg/controller/pxc/tls.go
  pkg/controller/pxc/upgrade.go
  pkg/controller/pxcrestore/controller.go
  pkg/k8s/cluster.go
  pkg/naming/condition.go
  pkg/pxc/app/pvc.go
  pkg/util/map.go
Labels: size/XXL

#1903 K8SPXC-1446: fix pvc-resize and upgrade-consistency for oc
  e2e-tests/pvc-resize/run
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1141-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1151-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1141-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1151-oc.yml
Labels: size/S

#1905 K8SPXC-1222: Fix state check in probes for 8.4
  build/liveness-check.sh
  build/readiness-check.sh
Labels: size/XS

#1904 [CLOUD-878] minor fixes and links from README
  README.md
Labels: size/M

#1907 K8SPXC-1222: Handle new statuses added in 8.4
  cmd/mysql-state-monitor/main.go
Labels: size/M

#1906 K8SPXC-1411: Fix disabling TLS without unsafe flag
  e2e-tests/tls-issue-self/compare/pxc_some-name-enabled.yml
  e2e-tests/tls-issue-self/compare/pxc_some-name.yml
  e2e-tests/tls-issue-self/run
  pkg/apis/pxc/v1/pxc_types.go
Labels: size/S

#1908 K8SPXC-1410: set memory in custom-users test to 2
  e2e-tests/custom-users/conf/some-name.yml
Labels: size/XS

#1909 K8SPXC-1222: Remove state check from readiness probe
  build/Dockerfile
  build/readiness-check.sh
  cmd/mysql-state-monitor/main.go
Labels: size/S

#1910 K8SPXC-377: Check for custom user names uniqueness.
  pkg/apis/pxc/v1/pxc_types.go
Labels: size/XS

#1915 K8SPXC-1222: Remove state check for 5.7
  build/pxc-entrypoint.sh
Labels: size/S

#1917 K8SPXC-1446: Update images and versions for 1.16.0 release
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/functions
  e2e-tests/release_versions
Labels: size/M

#1918 K8SPXC-1446: use PMM 2.44.0
  deploy/cr.yaml
  e2e-tests/release_versions
Labels: size/XS

#1919 K8SPXC-1446: fix pxc2.4 to pxc5.7 in backup image
  e2e-tests/release_versions
Labels: size/XS

#1920 CLOUD-727 bump golang.org/x/net to 0.33.0
  go.mod
  go.sum
Labels: size/XS

#1921 K8SPXC-1446: Release 1.16.0
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/custom-users/compare/user-five-57.sql
  e2e-tests/custom-users/compare/user-four-2-57.sql
  e2e-tests/custom-users/compare/user-four-3-57.sql
  e2e-tests/custom-users/compare/user-four-4-57.sql
  e2e-tests/custom-users/compare/user-four-57.sql
  e2e-tests/custom-users/compare/user-one-2-57.sql
  e2e-tests/custom-users/compare/user-one-57.sql
  e2e-tests/custom-users/compare/user-three-57.sql
  e2e-tests/custom-users/compare/user-two-57.sql
  e2e-tests/custom-users/run
  e2e-tests/functions
  e2e-tests/init-deploy/run
  e2e-tests/release_versions
Labels: size/L

#1923 fix: don't add the storage name twice to the scheduled backup name
  pkg/naming/backup.go
Labels: size/S

#1922 K8SPXC-1446: Update container image versions back to main after 1.16.0
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/functions
  e2e-tests/tls-issue-self/compare/pxc_some-name-enabled.yml
  e2e-tests/tls-issue-self/compare/pxc_some-name.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-proxysql-1170.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-1170.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1141-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1151-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1151.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1160-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1160.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1170-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1170.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1141-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1151-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1151.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1160-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1160.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1170-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1170.yml
  e2e-tests/upgrade-consistency/run
  e2e-tests/upgrade-haproxy/compare/statefulset_upgrade-haproxy-haproxy-k127.yml
  e2e-tests/upgrade-haproxy/compare/statefulset_upgrade-haproxy-haproxy.yml
  e2e-tests/upgrade-haproxy/compare/statefulset_upgrade-haproxy-pxc-k127-oc.yml
  e2e-tests/upgrade-haproxy/compare/statefulset_upgrade-haproxy-pxc-oc.yml
  e2e-tests/upgrade-haproxy/compare/statefulset_upgrade-haproxy-pxc.yml
  e2e-tests/upgrade-proxysql/compare/statefulset_upgrade-proxysql-proxysql-k127.yml
  e2e-tests/upgrade-proxysql/compare/statefulset_upgrade-proxysql-proxysql-oc.yml
  e2e-tests/upgrade-proxysql/compare/statefulset_upgrade-proxysql-proxysql.yml
  e2e-tests/upgrade-proxysql/compare/statefulset_upgrade-proxysql-pxc-k127-oc.yml
  e2e-tests/upgrade-proxysql/compare/statefulset_upgrade-proxysql-pxc-k127.yml
  e2e-tests/upgrade-proxysql/compare/statefulset_upgrade-proxysql-pxc-oc.yml
  e2e-tests/upgrade-proxysql/compare/statefulset_upgrade-proxysql-pxc.yml
  version/version.go
Labels: size/XXL

#1924 K8SPXC-1537: Update images and versions for 1.16.1 release
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/functions
  e2e-tests/release_versions
  e2e-tests/tls-issue-self/compare/pxc_some-name-enabled.yml
  e2e-tests/tls-issue-self/compare/pxc_some-name.yml
  e2e-tests/upgrade-haproxy/compare/statefulset_upgrade-haproxy-haproxy-k127.yml
  e2e-tests/upgrade-haproxy/compare/statefulset_upgrade-haproxy-haproxy.yml
  e2e-tests/upgrade-haproxy/compare/statefulset_upgrade-haproxy-pxc-k127-oc.yml
  e2e-tests/upgrade-haproxy/compare/statefulset_upgrade-haproxy-pxc-k127.yml
  e2e-tests/upgrade-haproxy/compare/statefulset_upgrade-haproxy-pxc-oc.yml
  e2e-tests/upgrade-haproxy/compare/statefulset_upgrade-haproxy-pxc.yml
  e2e-tests/upgrade-proxysql/compare/statefulset_upgrade-proxysql-proxysql-k127-oc.yml
  e2e-tests/upgrade-proxysql/compare/statefulset_upgrade-proxysql-proxysql-k127.yml
  e2e-tests/upgrade-proxysql/compare/statefulset_upgrade-proxysql-proxysql-oc.yml
  e2e-tests/upgrade-proxysql/compare/statefulset_upgrade-proxysql-proxysql.yml
  e2e-tests/upgrade-proxysql/compare/statefulset_upgrade-proxysql-pxc-k127-oc.yml
  e2e-tests/upgrade-proxysql/compare/statefulset_upgrade-proxysql-pxc-k127.yml
  e2e-tests/upgrade-proxysql/compare/statefulset_upgrade-proxysql-pxc-oc.yml
  e2e-tests/upgrade-proxysql/compare/statefulset_upgrade-proxysql-pxc.yml
  version/version.go
Labels: size/XXL

#1928 K8SPXC-1537 Release 1.16.1
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/release_versions
  version/version.go
Labels: size/M

#1930 K8SPXC-1537 new version code preparations in main branch for the next release
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  version/version.go
Labels: size/S

#1931 K8SPXC-1537 Update upgrade-consistency test for 1.16.1 release
  e2e-tests/upgrade-consistency/compare/service_some-name-proxysql-1161.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-1161.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1161-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1161.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1161-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1161.yml
  e2e-tests/upgrade-consistency/run
Labels: size/S
