Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2024-07, with the labels that each got.

#1744 K8SPXC-1358: Add unsafe flags
  config/crd/bases/pxc.percona.com_perconaxtradbclusters.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/affinity/conf/custom.yml
  e2e-tests/affinity/conf/hostname.yml
  e2e-tests/affinity/conf/region.yml
  e2e-tests/affinity/conf/zone.yml
  e2e-tests/demand-backup-cloud/conf/demand-backup-cloud.yml
  e2e-tests/haproxy/conf/haproxy.yml
  e2e-tests/limits/conf/no-limits.yml
  e2e-tests/limits/conf/no-requests-no-limits.yml
  e2e-tests/limits/conf/no-requests.yml
  e2e-tests/monitoring-2-0/conf/monitoring.yml
  e2e-tests/one-pod/compare/statefulset_one-pod-pxc-k127-oc.yml
  e2e-tests/one-pod/compare/statefulset_one-pod-pxc-k127.yml
  e2e-tests/one-pod/compare/statefulset_one-pod-pxc-oc.yml
  e2e-tests/one-pod/compare/statefulset_one-pod-pxc-secret-k127-oc.yml
  e2e-tests/one-pod/compare/statefulset_one-pod-pxc-secret-k127.yml
  e2e-tests/one-pod/compare/statefulset_one-pod-pxc-secret-oc.yml
  e2e-tests/one-pod/compare/statefulset_one-pod-pxc-secret.yml
  e2e-tests/one-pod/compare/statefulset_one-pod-pxc.yml
  e2e-tests/one-pod/conf/one-pod.yml
  e2e-tests/one-pod/run
  e2e-tests/operator-self-healing-chaos/conf/operator-chaos.yml
  e2e-tests/proxysql-sidecar-res-limits/conf/side-car.yml
  e2e-tests/scaling-proxysql/conf/scaling-proxysql.yml
  e2e-tests/scaling-proxysql/run
  e2e-tests/scaling/conf/scaling.yml
  e2e-tests/security-context/conf/sec-context-changes.yml
  e2e-tests/security-context/conf/sec-context.yml
  e2e-tests/self-healing-advanced-chaos/conf/self-healing-advanced.yml
  e2e-tests/smart-update1/conf/smart-update-haproxy.yml
  e2e-tests/smart-update1/conf/smart-update-version-service-reachable.yml
  e2e-tests/smart-update1/conf/smart-update-version-service-unreachable.yml
  e2e-tests/smart-update1/conf/smart-update.yml
  e2e-tests/smart-update2/conf/smart-update-haproxy.yml
  e2e-tests/smart-update2/conf/smart-update-version-service-reachable.yml
  e2e-tests/smart-update2/conf/smart-update-version-service-unreachable.yml
  e2e-tests/smart-update2/conf/smart-update.yml
  e2e-tests/storage/conf/emptydir.yml
  e2e-tests/storage/conf/hostpath.yml
  e2e-tests/tls-issue-cert-manager/conf/some-name-tls-issue-haproxy.yml
  e2e-tests/tls-issue-cert-manager/conf/some-name-tls-issue.yml
  e2e-tests/validation-hook/conf/cr-simple.yaml
  e2e-tests/validation-hook/conf/cr-with-haproxy-and-proxysql.yaml
  e2e-tests/validation-hook/conf/cr-with-invalid-version.yaml
  e2e-tests/validation-hook/conf/cr-with-no-storage.yaml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/apis/pxc/v1/zz_generated.deepcopy.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/tls.go
  pkg/controller/pxc/upgrade.go
  pkg/controller/pxcrestore/controller.go
  pkg/pxc/app/statefulset/node.go
  pkg/pxc/app/statefulset/proxysql.go
  pkg/pxc/backup/restore.go
Labels: size/L

#1748 K8SPXC-1396: Add grant option for xtrabackup user
  build/pxc-entrypoint.sh
  e2e-tests/init-deploy/compare/xtrabackup-80.sql
  e2e-tests/init-deploy/compare/xtrabackup.sql
  pkg/controller/pxc/users.go
  pkg/controller/pxc/users_without_dp.go
  pkg/pxc/users/users.go
Labels: size/M

#1745 K8SPXC-1408: don't block restore on binlog gap
  e2e-tests/pitr-gap-errors/conf/restore-on-pitr-minio-gap-no-pitr.yaml
  e2e-tests/pitr-gap-errors/run
  pkg/controller/pxcrestore/controller.go
Labels: size/M

#1752 K8SPXC-1382: Use credentialSecrets if present
  pkg/pxc/backup/job.go
Labels: size/M

#1741 K8SPXC-1337: inject pitr binary using init container
  build/Dockerfile
  build/pitr-init-entrypoint.sh
  cmd/pitr/pxc/pxc.go
  pkg/controller/pxc/backup.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxcbackup/controller.go
  pkg/controller/pxcrestore/restore.go
  pkg/controller/pxcrestore/restorer.go
  pkg/k8s/utils.go
  pkg/pxc/app/app.go
  pkg/pxc/app/deployment/binlog-collector.go
  pkg/pxc/app/statefulset/init.go
  pkg/pxc/backup/job.go
  pkg/pxc/backup/pitr.go
  pkg/pxc/backup/restore.go
Labels: size/L

#1751 K8SPXC-1355: add prefix to finalizers
  deploy/backup/backup.yaml
  deploy/cr.yaml
  e2e-tests/big-data/conf/some-name.yml
  e2e-tests/conf/some-name.yml
  e2e-tests/cross-site/conf/cross-site-replica.yml
  e2e-tests/cross-site/conf/cross-site-source.yml
  e2e-tests/demand-backup-cloud/conf/demand-backup-cloud.yml
  e2e-tests/demand-backup-cloud/conf/on-demand-backup-aws-s3.yml
  e2e-tests/demand-backup-cloud/conf/on-demand-backup-azure-blob.yml
  e2e-tests/demand-backup-cloud/conf/on-demand-backup-gcp-cs.yml
  e2e-tests/demand-backup/conf/demand-backup.yml
  e2e-tests/demand-backup/conf/on-demand-backup-minio.yml
  e2e-tests/haproxy/conf/haproxy.yml
  e2e-tests/pitr-gap-errors/conf/pitr-gap-errors.yml
  e2e-tests/pitr/conf/pitr.yml
  e2e-tests/proxy-protocol/conf/proxy-protocol.yml
  e2e-tests/proxysql-sidecar-res-limits/conf/side-car.yml
  e2e-tests/pvc-resize/conf/some-name-eks.yml
  e2e-tests/pvc-resize/conf/some-name.yml
  e2e-tests/scaling-proxysql/conf/scaling-proxysql.yml
  e2e-tests/security-context/conf/sec-context-changes.yml
  e2e-tests/security-context/conf/sec-context.yml
  e2e-tests/smart-update1/conf/smart-update-haproxy.yml
  e2e-tests/smart-update1/conf/smart-update-version-service-reachable.yml
  e2e-tests/smart-update1/conf/smart-update-version-service-unreachable.yml
  e2e-tests/smart-update1/conf/smart-update.yml
  e2e-tests/smart-update2/conf/smart-update-haproxy.yml
  e2e-tests/smart-update2/conf/smart-update-version-service-reachable.yml
  e2e-tests/smart-update2/conf/smart-update-version-service-unreachable.yml
  e2e-tests/smart-update2/conf/smart-update.yml
  e2e-tests/smart-update2/run
  e2e-tests/tls-issue-cert-manager-ref/conf/some-name-tls-issueref.yml
  e2e-tests/tls-issue-cert-manager/conf/some-name-tls-issue-haproxy.yml
  e2e-tests/tls-issue-cert-manager/conf/some-name-tls-issue.yml
  e2e-tests/users/conf/some-name.yml
  e2e-tests/validation-hook/conf/cr-with-haproxy-and-proxysql.yaml
  e2e-tests/validation-hook/conf/cr-with-too-long-name.yaml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/backup.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/controller_test.go
  pkg/controller/pxcbackup/controller.go
  pkg/naming/naming.go
Labels: size/L

#1755 K8SPXC-1330: Remove debug log
  pkg/controller/pxc/controller.go
Labels: size/XS

#1743 K8SPXC-1357: don't restart haproxy on pass change
  e2e-tests/functions
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-haproxy-k127.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-haproxy.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc-k127-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc-k127.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc.yml
  e2e-tests/monitoring-2-0/run
  e2e-tests/users/run
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/upgrade.go
  pkg/controller/pxc/users.go
  pkg/controller/pxc/users_without_dp.go
  pkg/pxc/app/statefulset/haproxy.go
  pkg/pxc/app/statefulset/node.go
  pkg/pxc/app/statefulset/proxysql.go
  pkg/pxc/statefulset.go
Labels: size/L

#1754 K8SPXC-1337: add initContainer to backup job
  build/Dockerfile
  build/backup-init-entrypoint.sh
  e2e-tests/demand-backup-cloud/compare/job.batch_xb-on-demand-backup-aws-s3-k129.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_xb-on-demand-backup-aws-s3-oc.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_xb-on-demand-backup-aws-s3.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_xb-on-demand-backup-azure-blob-k129.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_xb-on-demand-backup-azure-blob-oc.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_xb-on-demand-backup-azure-blob.yml
  e2e-tests/demand-backup/compare/job_xb-on-demand-backup-minio-k129.yml
  e2e-tests/demand-backup/compare/job_xb-on-demand-backup-minio-oc.yml
  e2e-tests/demand-backup/compare/job_xb-on-demand-backup-minio.yml
  e2e-tests/security-context/compare/job.batch_xb-on-demand-backup-pvc-k129.yml
  e2e-tests/security-context/compare/job.batch_xb-on-demand-backup-pvc.yml
  e2e-tests/security-context/compare/job.batch_xb-on-demand-backup-s3-k129.yml
  e2e-tests/security-context/compare/job.batch_xb-on-demand-backup-s3.yml
  pkg/pxc/app/statefulset/init.go
  pkg/pxc/backup/job.go
  pkg/pxc/backup/restore.go
Labels: size/L

#1756 K8SPXC-1416: allowParallel:false leads to stuck backups if failed backup exists
  e2e-tests/demand-backup-cloud/compare/job.batch_restore-job-on-demand-backup-azure-demand-backup-cloud-k127-oc.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_restore-job-on-demand-backup-azure-demand-backup-cloud-k127.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_restore-job-on-demand-backup-azure-demand-backup-cloud-k129.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_restore-job-on-demand-backup-s3-demand-backup-cloud-k127-oc.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_restore-job-on-demand-backup-s3-demand-backup-cloud-k127.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_restore-job-on-demand-backup-s3-demand-backup-cloud-k129.yml
  e2e-tests/demand-backup/compare/job_restore-job-on-demand-backup-minio-demand-backup-k127-oc.yml
  e2e-tests/demand-backup/compare/job_restore-job-on-demand-backup-minio-demand-backup-k127.yml
  e2e-tests/demand-backup/compare/job_restore-job-on-demand-backup-minio-demand-backup-k129.yml
  e2e-tests/demand-backup/compare/job_restore-job-on-demand-backup-pvc-bsource-demand-backup.yml
  e2e-tests/demand-backup/compare/job_restore-job-on-demand-backup-pvc-demand-backup.yml
  e2e-tests/demand-backup/compare/job_xb-on-demand-backup-minio-k129.yml
  e2e-tests/demand-backup/compare/job_xb-on-demand-backup-minio-oc.yml
  e2e-tests/demand-backup/compare/job_xb-on-demand-backup-minio.yml
  e2e-tests/demand-backup/conf/demand-backup.yml
  e2e-tests/demand-backup/conf/on-demand-backup-wrong-creds.yml
  e2e-tests/demand-backup/run
  e2e-tests/functions
  e2e-tests/security-context/compare/job.batch_restore-job-restore-pvc-sec-context-k127.yml
  e2e-tests/security-context/compare/job.batch_restore-job-restore-pvc-sec-context-k129.yml
  e2e-tests/security-context/compare/job.batch_restore-job-restore-s3-sec-context-k127.yml
  e2e-tests/security-context/compare/job.batch_restore-job-restore-s3-sec-context-k129.yml
  pkg/controller/pxcbackup/controller.go
Labels: size/L

#1762 K8SPXC-1423: Delete mysql-init secret with finalizer
  pkg/controller/pxc/controller.go
Labels: size/XS

#1757 K8SPXC-1418: CA cert should be valid for 3 years
  pkg/controller/pxc/tls.go
  pkg/pxctls/pxctls.go
Labels: size/XS

#1767 K8SPXC-1358: Disable TLS in cr-minimal.yaml
  deploy/cr-minimal.yaml
Labels: size/XS
