Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2024-10, with the labels that each got.

#1811 GITHUB-ISSUE-1810: Fix newline in last set filename
  cmd/pitr/collector/collector.go
Labels: size/S, community

#1833 K8SPXC-1392 fix KubeAPIWarningLogger .metadata.ownerReferences contains duplicate entries
  pkg/controller/pxc/controller.go
Labels: size/XS

#1813 GITHUB-ISSUE-1812: Fix azure storage restore by removing hardcoded trailing slash
  pkg/pxc/backup/storage/storage.go
Labels: size/XS, community, v1.17.0

#1829 K8SPXC-1155: Fix stuck smart update after invalid configuration
  pkg/controller/pxc/upgrade.go
Labels: size/M

#1845 K8SPXC-1476: Disable PVC resize by default
  Jenkinsfile
  config/crd/bases/pxc.percona.com_perconaxtradbclusters.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/pvc-resize/run
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/volumes.go
Labels: size/L

#1846 K8SPXC-1476: Disable PVC resize by default
  Jenkinsfile
  config/crd/bases/pxc.percona.com_perconaxtradbclusters.yaml
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/pvc-resize/run
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/volumes.go
Labels: size/M

#1849 Use GKE 1.28 on Jenkins
  Jenkinsfile
Labels: size/XS
