Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2024-04, with the labels that each got.

#1624 K8SPXC-1368: PVC: forward dataSource field
  deploy/cr.yaml
  pkg/pxc/app/pvc.go
Labels: size/XS, community

#1680 CLOUD-833 - Add release and after-release targets to Makefile
  Makefile
  deploy/cr-minimal.yaml
  deploy/cr.yaml
Labels: size/M

#1681 CLOUD-833 - Update release and after-release Makefile targets
  Makefile
Labels: size/XS

#1688 K8SPXC-1384 - Fix checking backup deletion in demand-backup test
  e2e-tests/demand-backup/run
Labels: size/XS

#1698 removed unnecessary duplicate prints
  e2e-tests/tls-issue-cert-manager-ref/run
  e2e-tests/tls-issue-cert-manager/run
Labels: size/XS
