Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2024-08, with the labels that each got.

#1769 K8SPXC-1363 fix tests
  e2e-tests/default-cr/compare/statefulset_cluster1-haproxy-k127.yml
  e2e-tests/default-cr/compare/statefulset_cluster1-haproxy.yml
  e2e-tests/default-cr/compare/statefulset_minimal-cluster-haproxy-k127.yml
  e2e-tests/default-cr/compare/statefulset_minimal-cluster-haproxy.yml
  e2e-tests/demand-backup/compare/job_restore-job-on-demand-backup-pvc-bsource-demand-backup-k129.yml
  e2e-tests/demand-backup/compare/job_restore-job-on-demand-backup-pvc-demand-backup-k129.yml
Labels: size/L

#1765 K8SPXC-1259: Use proper haproxy/proxysql entrypoint scripts
  build/Dockerfile
  build/haproxy-entrypoint.sh
  build/haproxy-init-entrypoint.sh
  build/haproxy_add_pxc_nodes.sh
  build/proxysql-entrypoint.sh
  build/proxysql-init-entrypoint.sh
  e2e-tests/affinity/compare/statefulset_custom-proxysql-k127-oc.yml
  e2e-tests/affinity/compare/statefulset_custom-proxysql-k127.yml
  e2e-tests/affinity/compare/statefulset_hostname-proxysql-k127-oc.yml
  e2e-tests/affinity/compare/statefulset_hostname-proxysql-k127.yml
  e2e-tests/affinity/compare/statefulset_region-proxysql-k127-oc.yml
  e2e-tests/affinity/compare/statefulset_region-proxysql-k127.yml
  e2e-tests/affinity/compare/statefulset_zone-proxysql-k127-oc.yml
  e2e-tests/affinity/compare/statefulset_zone-proxysql-k127.yml
  e2e-tests/haproxy/compare/statefulset_haproxy-haproxy-k127.yml
  e2e-tests/haproxy/compare/statefulset_haproxy-haproxy-secret-k127.yml
  e2e-tests/init-deploy/compare/statefulset_some-name-proxysql-k127-oc.yml
  e2e-tests/init-deploy/compare/statefulset_some-name-proxysql-k127.yml
  e2e-tests/limits/compare/statefulset_no-limits-proxysql-increased-k127-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-proxysql-increased-k127.yml
  e2e-tests/limits/compare/statefulset_no-limits-proxysql-k127-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-proxysql-k127.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-proxysql-increased-k127-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-proxysql-increased-k127.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-proxysql-k127-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-proxysql-k127.yml
  e2e-tests/limits/compare/statefulset_no-requests-proxysql-increased-k127-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-proxysql-increased-k127.yml
  e2e-tests/limits/compare/statefulset_no-requests-proxysql-k127-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-proxysql-k127.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-haproxy-k127.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-haproxy-no-prefix-k127.yml
  e2e-tests/proxy-protocol/compare/statefulset_proxy-protocol-haproxy-k127.yml
  e2e-tests/proxysql-sidecar-res-limits/compare/statefulset_side-car-proxysql-k127-oc.yml
  e2e-tests/proxysql-sidecar-res-limits/compare/statefulset_side-car-proxysql-k127.yml
  e2e-tests/security-context/compare/statefulset_sec-context-proxysql-changes-k127.yml
  e2e-tests/security-context/compare/statefulset_sec-context-proxysql-k127.yml
  e2e-tests/storage/compare/statefulset_emptydir-proxysql-k127-oc.yml
  e2e-tests/storage/compare/statefulset_emptydir-proxysql-k127.yml
  e2e-tests/storage/compare/statefulset_hostpath-proxysql-k127-oc.yml
  e2e-tests/storage/compare/statefulset_hostpath-proxysql-k127.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1150-k127-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1150-k127.yml
  e2e-tests/upgrade-haproxy/compare/statefulset_upgrade-haproxy-haproxy-k127.yml
  e2e-tests/upgrade-proxysql/compare/statefulset_upgrade-proxysql-proxysql-k127-oc.yml
  e2e-tests/upgrade-proxysql/compare/statefulset_upgrade-proxysql-proxysql-k127.yml
  pkg/pxc/app/statefulset/haproxy.go
  pkg/pxc/app/statefulset/proxysql.go
Labels: size/XL

#1766 K8SPXC-1428: Fix converting to volume size to GiB
  e2e-tests/pvc-resize/conf/some-name-eks.yml
  e2e-tests/pvc-resize/conf/some-name.yml
  e2e-tests/pvc-resize/run
  pkg/controller/pxc/volumes.go
Labels: size/M

#1774 K8SPXC-1429: reduce error logs on cluster deletion
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/replication.go
  pkg/controller/pxc/status.go
  pkg/controller/pxc/status_test.go
  pkg/controller/pxc/upgrade.go
Labels: size/M

#1777 K8SPXC-1355 fix finalizer condition
  pkg/controller/pxc/backup.go
  pkg/controller/pxcbackup/controller.go
  pkg/naming/naming.go
Labels: size/XS

#1776 K8SPXC-1363: fix tests
  e2e-tests/default-cr/compare/statefulset_cluster1-haproxy-k127.yml
  e2e-tests/default-cr/compare/statefulset_cluster1-haproxy.yml
  e2e-tests/default-cr/compare/statefulset_minimal-cluster-haproxy-k127.yml
  e2e-tests/default-cr/compare/statefulset_minimal-cluster-haproxy.yml
  e2e-tests/demand-backup/compare/job_restore-job-on-demand-backup-pvc-bsource-demand-backup-k129.yml
  e2e-tests/demand-backup/compare/job_restore-job-on-demand-backup-pvc-demand-backup-k129.yml
Labels: size/M

#1778 K8SPXC-1429: remove error msg during cluster deletion
  pkg/controller/pxc/status.go
  pkg/controller/pxc/version.go
Labels: size/S

#1779 K8SPXC-1428: Improve logs on deploying a new cluster
  pkg/controller/pxc/upgrade.go
  pkg/controller/pxc/volumes.go
Labels: size/XS

#1780 K8SPXC-1363 Update images and versions for 1.15.0 release
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/functions
  go.mod
Labels: size/M

#1783 K8SPXC-1363 Update images and versions for 1.15.0 release - 02
  deploy/cr-minimal.yaml
  deploy/cr.yaml
Labels: size/XS

#1784 K8SPXC-1363 Update images and versions for 1.15.0 release - 03
  deploy/cr.yaml
Labels: size/XS

#1787 K8SPXC-1441: Fix crash if operator can't find latest PiTR timeline
  pkg/pxc/backup/pitr.go
Labels: size/XS

#1788 K8SPXC-1381 update haproxy_check_pxc.sh script
  build/haproxy_check_pxc.sh
Labels: size/S

#1789 K8SPXC-1259: Copy proxysql-admin.cnf to correct location
  build/proxysql-entrypoint.sh
Labels: size/XS

#1795 K8SPXC-1363: Add k129 oc support
  e2e-tests/demand-backup-cloud/compare/job.batch_restore-job-on-demand-backup-azure-demand-backup-cloud-k129-oc.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_restore-job-on-demand-backup-s3-demand-backup-cloud-k129-oc.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_xb-on-demand-backup-aws-s3-k129-oc.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_xb-on-demand-backup-azure-blob-k129-oc.yml
  e2e-tests/demand-backup/compare/job_restore-job-on-demand-backup-minio-demand-backup-k129-oc.yml
  e2e-tests/demand-backup/compare/job_restore-job-on-demand-backup-pvc-bsource-demand-backup-k129-oc.yml
  e2e-tests/demand-backup/compare/job_restore-job-on-demand-backup-pvc-demand-backup-k129-oc.yml
  e2e-tests/demand-backup/compare/job_xb-on-demand-backup-minio-k129-oc.yml
  e2e-tests/functions
Labels: size/XL

#1796 K8SPXC-1363: fix scheduled-backup and demand-backup tests
  e2e-tests/demand-backup/run
  e2e-tests/scheduled-backup/run
Labels: size/M

#1798 K8SPXC-1363 - Release 1.15.0
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/demand-backup-cloud/compare/job.batch_restore-job-on-demand-backup-azure-demand-backup-cloud-k129-oc.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_restore-job-on-demand-backup-s3-demand-backup-cloud-k129-oc.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_xb-on-demand-backup-aws-s3-k129-oc.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_xb-on-demand-backup-azure-blob-k129-oc.yml
  e2e-tests/demand-backup/compare/job_restore-job-on-demand-backup-minio-demand-backup-k129-oc.yml
  e2e-tests/demand-backup/compare/job_restore-job-on-demand-backup-pvc-bsource-demand-backup-k129-oc.yml
  e2e-tests/demand-backup/compare/job_restore-job-on-demand-backup-pvc-demand-backup-k129-oc.yml
  e2e-tests/demand-backup/compare/job_xb-on-demand-backup-minio-k129-oc.yml
  e2e-tests/functions
  e2e-tests/pvc-resize/run
  e2e-tests/users/compare/select-2.sql
  go.mod
Labels: size/XL

#1800 K8SPXC-1363 Update container image versions back to main and add a section in the upgrade-consistency test for 1.16.0
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/upgrade-consistency/compare/service_some-name-proxysql-1160.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-1160.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1140-k127.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1150-k127.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1160-k127-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1160-k127.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1160-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1160.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1140-k127.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1150-k127.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1160-k127-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1160-k127.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1160-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1160.yml
  e2e-tests/upgrade-consistency/run
  e2e-tests/users/compare/select-2.sql
  version/version.go
Labels: size/L
