Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2024-02, with the labels that each got.

#1615 K8SPXC-878 - Remove clustercheck user from big-data test secret
  e2e-tests/big-data/conf/secrets_without_tls.yml
Labels: size/XS

#1601 CLOUD-835: Add action to check if manifests are up-to-date
  .github/pull_request_template.md
  .github/workflows/reviewdog.yml
  config/crd/bases/pxc.percona.com_perconaxtradbclusters.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
Labels: size/XXL

#1588 K8SPXC-1341: Resize PVCs on user request
  e2e-tests/pvc-resize/compare/select-1.sql
  e2e-tests/pvc-resize/run
  e2e-tests/run-pr.csv
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/volumes.go
Labels: size/L

#1616 K8SPXC-99 - Small improvements in TLS tests
  e2e-tests/tls-issue-cert-manager-ref/conf/some-name-tls-issueref.yml
  e2e-tests/tls-issue-cert-manager-ref/run
  e2e-tests/tls-issue-cert-manager/conf/some-name-tls-issue-haproxy.yml
  e2e-tests/tls-issue-cert-manager/conf/some-name-tls-issue.yml
  e2e-tests/tls-issue-cert-manager/run
  e2e-tests/tls-issue-self/run
Labels: size/M

#1618 K8SPXC-1341 - Add pvc-resize test into release tests
  e2e-tests/run-pr.csv
  e2e-tests/run-release.csv
Labels: size/XS

#1619 Fix leader election ID
  cmd/manager/main.go
Labels: size/XS

#1625 K8SPXC-1341: Fix resizing PVCs if some are not used by pods
  .github/workflows/reviewdog.yml
  pkg/controller/pxc/volumes.go
Labels: size/M

#1626 K8SPXC-1295 - Fix tests for Kubernetes 1.29
  .github/workflows/reviewdog.yml
  .github/workflows/test.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_restore-job-on-demand-backup-azure-demand-backup-cloud-k129.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_restore-job-on-demand-backup-s3-demand-backup-cloud-k129.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_xb-on-demand-backup-aws-s3-k129.yml
  e2e-tests/demand-backup-cloud/compare/job.batch_xb-on-demand-backup-azure-blob-k129.yml
  e2e-tests/demand-backup/compare/job_restore-job-on-demand-backup-minio-demand-backup-k129.yml
  e2e-tests/demand-backup/compare/job_xb-on-demand-backup-minio-k129.yml
  e2e-tests/functions
  e2e-tests/security-context/compare/job.batch_restore-job-restore-pvc-sec-context-k129.yml
  e2e-tests/security-context/compare/job.batch_restore-job-restore-s3-sec-context-k129.yml
  e2e-tests/security-context/compare/job.batch_xb-on-demand-backup-pvc-k129.yml
  e2e-tests/security-context/compare/job.batch_xb-on-demand-backup-s3-k129.yml
Labels: size/XXL

#1636 K8SPXC-1295 Update images and versions for 1.14.0 release
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
Labels: size/S

#1639 K8SPXC-1295 Update CERT_MANAGER_VER to 1.14.2
  e2e-tests/functions
Labels: size/XS

#1640 K8SPXC-1295 Skip test for EKS in pvc-resize script
  e2e-tests/pvc-resize/run
Labels: size/XS

#1641 K8SPXC-1295 Add file statefulset_monitoring-pxc-no-prefix-k127-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc-no-prefix-k127-oc.yml
Labels: size/L

#1642 K8SPXC-1295 - Remove serviceAnnotations/serviceLabels from cr.yaml
  deploy/cr.yaml
Labels: size/XS

#1647 K8SPXC-1295 - Add max wait in upgrade tests and add version_info file into exclude list for SST
  build/pxc-entrypoint.sh
  e2e-tests/functions
  e2e-tests/run-pr.csv
  e2e-tests/smart-update1/run
  e2e-tests/smart-update2/run
  e2e-tests/upgrade-haproxy/run
  e2e-tests/upgrade-proxysql/run
Labels: size/M
