Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2024-01, with the labels that each got.

#1580 CLOUD-727 update schedule section for gomod
  .github/dependabot.yml
Labels: size/XS

#1581 K8SPXC-1340 add containerSecurityContext for pmm
  deploy/cr.yaml
Labels: size/XS

#1585 K8SPXC-1334: Add lifecycle hooks example
  deploy/cr.yaml
Labels: size/S

#1583 K8SPXC-1298: Correctly set PMM_AGENT_SETUP_NODE_NAME for PMM client
  build/pmm-prerun.sh
  e2e-tests/limits/compare/statefulset_no-limits-proxysql-increased-k127.yml
  e2e-tests/limits/compare/statefulset_no-limits-proxysql-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-proxysql-increased.yml
  e2e-tests/limits/compare/statefulset_no-limits-proxysql-k127.yml
  e2e-tests/limits/compare/statefulset_no-limits-proxysql-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-proxysql.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-increased-k127.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-increased.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-k127.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc.yml
  e2e-tests/monitoring-2-0/compare/agents-list.json
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-haproxy-k127.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-haproxy.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc-k127.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc.yml
  e2e-tests/monitoring-2-0/run
  pkg/pxc/app/pmm.go
Labels: size/L

#1584 K8SPXC-1263: Implement MySQL init file for 5.7
  e2e-tests/demand-backup/compare/secret_demand-backup-mysql-init.yml
  e2e-tests/demand-backup/conf/demand-backup.yml
  e2e-tests/demand-backup/run
  e2e-tests/pitr/compare/secret_pitr-mysql-init.yml
  pkg/controller/pxc/users.go
  pkg/controller/pxc/users_without_dp.go
Labels: size/M

#1587 K8SPXC-1079 Remove serviceAnnotations and serviceLabels from cr.yaml
  deploy/cr.yaml
Labels: size/XS

#1582 K8SPXC-1263 use peer-list from init container in all places
  build/pxc-entrypoint.sh
Labels: size/XS

#1592 K8SPXC-1295 - Fix tests on OpenShift
  deploy/cr.yaml
  e2e-tests/haproxy/conf/haproxy.yml
  e2e-tests/haproxy/run
  e2e-tests/limits/compare/statefulset_no-limits-proxysql-increased-k127-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-proxysql-k127-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-increased-k127-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-pxc-k127-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-pxc-increased-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc-k127-oc.yml
Labels: size/M

#1603 K8SPXC-1345: Fix overriding container probes
  Makefile
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/controller_test.go
  pkg/pxc/app/statefulset/node.go
  pkg/pxc/users/users.go
Labels: size/L

#1605 CLOUD-828 create issue templates
  .github/ISSUE_TEMPLATE/1-feature-request.yml
  .github/ISSUE_TEMPLATE/2-bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: size/M

#1602 CLOUD-820 Update README to mention documentation
  README.md
Labels: size/M

#1600 K8SPXC-1237: fix restore validation
  cmd/pitr/collector/collector.go
  cmd/pitr/main.go
  cmd/pitr/recoverer/recoverer.go
  e2e-tests/big-data/conf/restore-backup-57.yml
  e2e-tests/big-data/conf/restore-backup.yml
  e2e-tests/big-data/conf/secrets_without_tls.yml
  e2e-tests/big-data/run
  e2e-tests/demand-backup/conf/demand-backup.yml
  pkg/apis/pxc/v1/pxc_backup_types.go
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxcbackup/controller.go
  pkg/controller/pxcrestore/restore_test.go
  pkg/controller/pxcrestore/restorer.go
  pkg/pxc/backup/job.go
  pkg/pxc/backup/restore.go
  pkg/pxc/backup/storage/fake/storage.go
  pkg/pxc/backup/storage/options.go
  pkg/pxc/backup/storage/options_test.go
  pkg/pxc/backup/storage/storage.go
Labels: size/XL
