Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2024-09, with the labels that each got.

#1817 CLOUD-857: Add Helm Chart checkbox in PR template
  .github/pull_request_template.md
Labels: size/XS

#1808 K8SPXC-1456: Add support for custom SecurityContext for initContainers
  config/crd/bases/pxc.percona.com_perconaxtradbclusters.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/apis/pxc/v1/zz_generated.deepcopy.go
  pkg/controller/pxc/controller.go
  pkg/pxc/app/statefulset/init.go
Labels: size/L, community

#1828 K8SPXC-1458: Fix getStorageType panic
  pkg/apis/pxc/v1/pxc_backup_types.go
Labels: size/XS

#1824 K8SPXC-1451: disable pvc resize by default
  config/crd/bases/pxc.percona.com_perconaxtradbclusters.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/pvc-resize/run
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/volumes.go
Labels: size/L

#1831 K8SPXC-1454: disable tls by default if `.spec.allowUnsafeConfigurations: true`
  pkg/apis/pxc/v1/pxc_types.go
Labels: size/S
