Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2024-03, with the labels that each got.

#1649 K8SPXC-1295 fix db update for PXC 5.7
  build/pxc-entrypoint.sh
Labels: size/M

#1648 K8SPXC-1295 - Release 1.14.0
  build/pxc-entrypoint.sh
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/functions
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc-no-prefix-k127-oc.yml
  e2e-tests/pvc-resize/run
  e2e-tests/run-pr.csv
  e2e-tests/smart-update1/run
  e2e-tests/smart-update2/run
  e2e-tests/upgrade-haproxy/run
  e2e-tests/upgrade-proxysql/run
Labels: size/L

#1609 K8SPXC-1295 app.kubernetes.io/name: label selector was wrong
  deploy/cr.yaml
Labels: size/XS

#1657 K8SPXC-1295 Update container image versions back to main
  Jenkinsfile
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/upgrade-consistency/compare/service_some-name-proxysql-1150.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-pxc-1150.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1150-k127-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1150-k127.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1150-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-proxysql-1150.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1120-k127-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1120-k127.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1120-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1120.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1130-k127-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1130-k127.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1130-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1130.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1140-k127-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1140-k127.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1140-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1140.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1150-k127-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1150-k127.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1150-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-pxc-1150.yml
  e2e-tests/upgrade-consistency/run
  version/version.go
Labels: size/L

#1655 Update README.md
  README.md
Labels: size/XS

#1637 K8SPXC-1309 Improve arm build
  Jenkinsfile
  build/Dockerfile
  e2e-tests/build
Labels: size/M
