Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2025-04, with the labels that each got.

#2007 K8SPXC-1544: Add prometheus counter for uploaded binlogs
  cmd/pitr/collector/collector.go
Labels: size/S

#2016 K8SPXC-1538 deprecate enabled field for primary
  deploy/cr.yaml
  pkg/apis/pxc/v1/pxc_types.go
Labels: size/XS

#2017 K8SPXC-1607: Update ProxySQL configs using a temp file
  build/proxysql-entrypoint.sh
  build/proxysql_add_pxc_nodes.sh
Labels: size/M

#2019 K8SPXC-1152: return `Starting` state for restores
  pkg/apis/pxc/v1/pxc_prestore_types.go
  pkg/controller/pxcrestore/controller.go
Labels: size/XS

#2018 K8SPXC-1609: Fix needlessly updating binlog collector deployment
  cmd/manager/main.go
  pkg/controller/pxc/controller.go
  pkg/util/log.go
Labels: size/M

#2021 CLOUD-901 - Update tests dependencies
  e2e-tests/functions
  e2e-tests/tls-issue-self/run
Labels: size/S

#2013 K8SPXC-1475: add cloud storage cleanup check
  e2e-tests/demand-backup-cloud/run
Labels: size/M

#2025 K8SPXC-1535: Update images and versions for 1.17.0 release
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/release_versions
Labels: size/M

#2028 K8SPXC-1475: change condition for backup pods num
  e2e-tests/demand-backup-cloud/run
Labels: size/XS

#2027 K8SPXC-1535: Fix upgrade-haproxy Openshift e2e-test
  e2e-tests/upgrade-haproxy/compare/statefulset_upgrade-haproxy-haproxy-oc.yml
Labels: size/XS

#2035 K8SPXC-1620: update cleanup test according to retry changes
  e2e-tests/demand-backup-cloud/run
Labels: size/S

#1843 K8SPXC-1342 community bundle generation.
  .github/dependabot.yml
  .gitignore
  Makefile
  config/bundle/kustomization.yaml
  config/community/kustomization.yaml
  config/crd/kustomization.yaml
  config/manager/cluster/kustomization.yaml
  config/manager/namespace/kustomization.yaml
  config/marketplace/kustomization.yaml
  config/operator/kustomization.yaml
  config/rbac/cluster/kustomization.yaml
  config/rbac/namespace/kustomization.yaml
  config/redhat/kustomization.yaml
  installers/olm/Makefile
  installers/olm/README.md
  installers/olm/bundle.Dockerfile
  installers/olm/bundle.annotations.yaml
  installers/olm/bundle.csv.yaml
  installers/olm/bundle.relatedImages.yaml
  installers/olm/generate.sh
Labels: size/XL

#2037 K8SPXC-1535: Release 1.17.0
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/demand-backup-cloud/run
  e2e-tests/demand-backup-flow-control/run
  e2e-tests/demand-backup-parallel/run
  e2e-tests/release_versions
  e2e-tests/upgrade-haproxy/compare/statefulset_upgrade-haproxy-haproxy-oc.yml
Labels: size/L

#2043 K8SPXC-1599 option for setting loadBalancerClass
  Makefile
  config/crd/bases/pxc.percona.com_perconaxtradbclusters.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/apis/pxc/v1/pxc_types_test.go
  pkg/apis/pxc/v1/zz_generated.deepcopy.go
  pkg/controller/pxc/controller_test.go
  pkg/controller/pxc/replication.go
  pkg/controller/pxc/replication_test.go
  pkg/pxc/service.go
  pkg/pxc/service_test.go
Labels: size/XL

#2044 K8SPXC-1529: Fix cross-site replication for 8.4
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/replication.go
  pkg/pxc/queries/queries.go
Labels: size/S

#2039 K8SPXC-1472 remove loadBalancerIP
  config/crd/bases/pxc.percona.com_perconaxtradbclusters.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/pxc/service.go
Labels: size/M

#2057 K8SPXC-1553 k8s ver bump to 1.30
  Jenkinsfile
Labels: size/XS

#2055 K8SPXC-1624 delete depricated code
  pkg/controller/pxc/controller.go
Labels: size/S
