Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2025-07, with the labels that each got.

#2094 CLOUD-911: Add snyk config
  .e2eignore
  .snyk
Labels: size/S

#2120 K8SPXC-1669 generate default ENDPOINT URL using region
  build/backup/lib/pxc/aws.sh
Labels: size/XS

#2121 K8SPXC-1615 enrich pmm3 e2e with custom name verification
  e2e-tests/monitoring-pmm3/compare/statefulset_monitoring-haproxy-k127.yml
  e2e-tests/monitoring-pmm3/compare/statefulset_monitoring-haproxy-no-prefix-k127.yml
  e2e-tests/monitoring-pmm3/compare/statefulset_monitoring-haproxy-no-prefix-oc.yml
  e2e-tests/monitoring-pmm3/compare/statefulset_monitoring-haproxy-no-prefix.yml
  e2e-tests/monitoring-pmm3/compare/statefulset_monitoring-haproxy-oc.yml
  e2e-tests/monitoring-pmm3/compare/statefulset_monitoring-haproxy.yml
  e2e-tests/monitoring-pmm3/compare/statefulset_monitoring-pxc-k127-no-prefix-oc.yml
  e2e-tests/monitoring-pmm3/compare/statefulset_monitoring-pxc-k127-oc.yml
  e2e-tests/monitoring-pmm3/compare/statefulset_monitoring-pxc-k127.yml
  e2e-tests/monitoring-pmm3/compare/statefulset_monitoring-pxc-no-prefix-k127-oc.yml
  e2e-tests/monitoring-pmm3/compare/statefulset_monitoring-pxc-no-prefix-k127.yml
  e2e-tests/monitoring-pmm3/compare/statefulset_monitoring-pxc-no-prefix-oc.yml
  e2e-tests/monitoring-pmm3/compare/statefulset_monitoring-pxc-no-prefix.yml
  e2e-tests/monitoring-pmm3/compare/statefulset_monitoring-pxc-oc.yml
  e2e-tests/monitoring-pmm3/compare/statefulset_monitoring-pxc.yml
  e2e-tests/monitoring-pmm3/conf/monitoring.yml
  e2e-tests/monitoring-pmm3/run
Labels: size/M

#2133 K8SPXC-1375 backup retention job update
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/backup.go
  pkg/controller/pxc/controller_test.go
  pkg/controller/pxc/suite_test.go
Labels: size/L

#2134 K8SPXC-1415: add version checks for backups and restores
  pkg/pxc/backup/job.go
  pkg/pxc/backup/restore.go
Labels: size/S

#2132 K8SPXC-1472 update deprecation
  config/crd/bases/pxc.percona.com_perconaxtradbclusters.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/service_test.go
  pkg/pxc/service.go
Labels: size/L

#2138 K8SPXC-1553 PMM3 and VS support
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/version.go
  pkg/controller/pxc/vs.go
  pkg/controller/pxc/vs_test.go
Labels: size/L

#2142 K8SPXC-1376: Fix restores for crVersion 1.17.0
  pkg/controller/pxcrestore/controller.go
Labels: size/S

#2123 K8SPXC-1449: improve `updatePod` method
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/pitr.go
  pkg/controller/pxc/upgrade.go
  pkg/controller/pxc/volumes.go
Labels: size/S

#2144 K8SPXC-1382 set AWS credentials only when provided
  build/backup/lib/pxc/aws.sh
Labels: size/XS

#2146 K8SPXC-1548: Minor log improvements
  pkg/pxc/backup/storage/storage.go
Labels: size/S

#2145 Update LICENSE
  LICENSE
Labels: size/S
