Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2025-05, with the labels that each got.

#2061 K8SPXC-1615 add custom name
  config/crd/bases/pxc.percona.com_perconaxtradbclusters.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/pxc/app/statefulset/haproxy.go
  pkg/pxc/app/statefulset/node.go
  pkg/pxc/app/statefulset/proxysql.go
Labels: size/M

#2047 K8SPXC-1597: don't run scheduled backup if cluster isn't ready
  pkg/controller/pxc/backup.go
Labels: size/XS

#2040 K8SPXC-1430 ssl deletion
  e2e-tests/tls-issue-self/run
  pkg/controller/pxc/controller_test.go
  pkg/controller/pxc/tls.go
Labels: size/M

#2042 K8SPXC-1569: add version label to the `crd.yaml`
  Makefile
  cmd/manager/main.go
  config/crd/kustomization.yaml
  config/crd/patches/versionlabel_in_pxc.yaml
  config/crd/patches/versionlabel_in_pxcbackup.yaml
  config/crd/patches/versionlabel_in_pxcrestore.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/status_test.go
  pkg/controller/pxc/suite_test.go
  pkg/controller/pxc/version.go
  pkg/controller/pxc/vs.go
  pkg/controller/pxcbackup/controller.go
  pkg/controller/pxcbackup/suite_test.go
  pkg/controller/pxcrestore/controller.go
  pkg/controller/pxcrestore/controller_test.go
  pkg/controller/pxcrestore/helpers_test.go
  pkg/k8s/utils.go
  pkg/naming/labels.go
  pkg/version/client/api_version_proto_client.go
  pkg/version/client/models/googlerpc_status.go
  pkg/version/client/models/protobuf_any.go
  pkg/version/client/models/version_get_release_notes_response.go
  pkg/version/client/models/version_metadata_response.go
  pkg/version/client/models/version_metadata_v2_response.go
  pkg/version/client/models/version_metadata_v2_version.go
  pkg/version/client/models/version_metadata_version.go
  pkg/version/client/models/version_operator_response.go
  pkg/version/client/models/version_operator_version.go
  pkg/version/client/models/version_product_response.go
  pkg/version/client/models/version_status.go
  pkg/version/client/models/version_version.go
  pkg/version/client/models/version_version_matrix.go
  pkg/version/client/models/version_version_response.go
  pkg/version/client/models/version_version_v2.go
  pkg/version/client/version_service/version_service_apply_parameters.go
  pkg/version/client/version_service/version_service_apply_responses.go
  pkg/version/client/version_service/version_service_client.go
  pkg/version/client/version_service/version_service_get_release_notes_parameters.go
  pkg/version/client/version_service/version_service_get_release_notes_responses.go
  pkg/version/client/version_service/version_service_metadata_parameters.go
  pkg/version/client/version_service/version_service_metadata_responses.go
  pkg/version/client/version_service/version_service_metadata_v2_parameters.go
  pkg/version/client/version_service/version_service_metadata_v2_responses.go
  pkg/version/client/version_service/version_service_operator_parameters.go
  pkg/version/client/version_service/version_service_operator_responses.go
  pkg/version/client/version_service/version_service_product_parameters.go
  pkg/version/client/version_service/version_service_product_responses.go
  pkg/version/server.go
  pkg/version/verison_test.go
  pkg/version/version.go
  pkg/version/version.swagger.yaml
  pkg/version/version.txt
  version/version.go
Labels: size/L

#2064 K8SPXC-1548: Fix deleting objects from s3 if path is url-encoded
  pkg/pxc/backup/storage/storage.go
Labels: size/S

#2059 K8SPXC-1541 update cluster wide condition
  pkg/controller/pxc/version.go
  pkg/controller/pxc/version_test.go
Labels: size/L

#2046 K8SPXC-1376: Don't require matching passwords for restoring a backup
  build/Dockerfile
  build/prepare_restored_cluster.sh
  build/pxc-init-entrypoint.sh
  e2e-tests/demand-backup-without-passwords/compare/select-1.sql
  e2e-tests/demand-backup-without-passwords/conf/backup1.yml
  e2e-tests/demand-backup-without-passwords/conf/restore-backup1.yaml
  e2e-tests/demand-backup-without-passwords/conf/some-name.yml
  e2e-tests/demand-backup-without-passwords/run
  e2e-tests/functions
  e2e-tests/run-pr.csv
  e2e-tests/run-release.csv
  go.mod
  pkg/apis/pxc/v1/pxc_prestore_types.go
  pkg/controller/pxcrestore/controller.go
  pkg/controller/pxcrestore/controller_test.go
  pkg/naming/restore.go
  pkg/pxc/backup/restore.go
  pkg/pxc/backup/restore_test.go
  pkg/test/client.go
  pkg/version/version_test.go
Labels: size/XL

#2071 K8SPXC-1450: handle error when downsizing pvc
  pkg/controller/pxc/volumes.go
Labels: size/XS

#2063 K8SPXC-1347: PITR Restore Fails When spec.pxc.configuration.[mysqld] require_secure_transport=ON is set
  cmd/pitr/pxc/pxc.go
Labels: size/XS

#2075 K8SPXC-1347 add 'require_secure_transport=ON' option for PITR test
  e2e-tests/pitr/conf/pitr.yml
Labels: size/XS

#2069 K8SPXC-1449: reduce errors during pvc resize
  pkg/controller/pxc/upgrade.go
  pkg/controller/pxc/volumes.go
  pkg/k8s/annotation.go
Labels: size/S
