Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2025-03, with the labels that each got.

#1987 K8SPXC-1483: Fix blocking named pipe in binlog collector
  cmd/pitr/collector/collector.go
  cmd/pitr/collector/collector_test.go
Labels: size/L

#1992 Update images for custom-206
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
Labels: size/S

#2001 K8SPXC-1366: Only deal with locks if parallel backups are disabled
  pkg/controller/pxcbackup/controller.go
Labels: size/M

#2003 K8SPXC-1152: add perconaxtradbclusterrestores/finalizers to rbac
  deploy/bundle.yaml
  deploy/cw-bundle.yaml
  deploy/cw-rbac.yaml
  deploy/rbac.yaml
Labels: size/XS

#2004 K8SPXC-1366: Fix releasing backup lock if backup is failed due to deadlines
  e2e-tests/demand-backup-flow-control/conf/backup.yml
  e2e-tests/demand-backup-flow-control/conf/cr.yml
  e2e-tests/demand-backup-flow-control/conf/lease.yaml
  e2e-tests/demand-backup-flow-control/run
  e2e-tests/demand-backup-parallel/run
  e2e-tests/functions
  e2e-tests/run-pr.csv
  e2e-tests/run-release.csv
  pkg/controller/pxc/backup.go
  pkg/controller/pxcbackup/controller.go
  pkg/k8s/lease.go
  pkg/k8s/lease_test.go
  pkg/naming/backup.go
Labels: size/L
