Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2025-02, with the labels that each got.

#1959 K8SPXC-1546: Cache binlog->gtid set pairs
  build/Dockerfile
  build/pxc-entrypoint.sh
  build/pxc-init-entrypoint.sh
  build/wsrep_cmd_notify_handler.sh
  cmd/pitr/collector/cache.go
  cmd/pitr/collector/collector.go
  cmd/pitr/main.go
  cmd/pitr/pxc/pxc.go
  e2e-tests/functions
  pkg/controller/pxc/backup.go
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/pitr.go
  pkg/controller/pxcbackup/controller.go
  pkg/controller/pxcrestore/controller.go
  pkg/naming/binlog_collector.go
  pkg/pxc/app/binlogcollector/binlog-collector.go
  pkg/pxc/backup/pitr.go
  pkg/pxc/backup/storage/options.go
  pkg/pxc/backup/storage/options_test.go
Labels: size/XL

#1943 K8SPXC-1567: binlog-collector: normalize duplicate slashes in the bucket path
  cmd/pitr/collector/collector.go
Labels: size/XS, community

#1970 K8SPXC-1366: Add suspendedDeadlineSeconds
  config/crd/bases/pxc.percona.com_perconaxtradbclusterbackups.yaml
  config/crd/bases/pxc.percona.com_perconaxtradbclusters.yaml
  deploy/backup/backup.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  pkg/apis/pxc/v1/pxc_backup_types.go
  pkg/apis/pxc/v1/pxc_types.go
  pkg/apis/pxc/v1/zz_generated.deepcopy.go
  pkg/controller/pxcbackup/controller.go
  pkg/controller/pxcbackup/deadline.go
  pkg/controller/pxcbackup/deadline_test.go
  pkg/controller/pxcbackup/suite_test.go
Labels: size/XL

#1974 K8SPXC-1570 Jenkinsfile cluster-version set to 1.29 from 1.28
  Jenkinsfile
Labels: size/XS

#1984 CLOUD-727 remove Inel from dependabot and add George
  .github/dependabot.yml
Labels: size/XS

#1610 K8SPXC-1152: restore stucks on operator restart
  config/crd/bases/pxc.percona.com_perconaxtradbclusterrestores.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/security-context/compare/pod_restore-src-restore-pvc-sec-context-oc.yml
  e2e-tests/security-context/compare/pod_restore-src-restore-pvc-sec-context.yml
  pkg/apis/pxc/v1/pxc_prestore_types.go
  pkg/apis/pxc/v1/zz_generated.deepcopy.go
  pkg/controller/pxc/upgrade.go
  pkg/controller/pxcrestore/controller.go
  pkg/controller/pxcrestore/controller_test.go
  pkg/controller/pxcrestore/helpers_test.go
  pkg/controller/pxcrestore/restore.go
  pkg/controller/pxcrestore/restorer.go
  pkg/controller/pxcrestore/util.go
  pkg/pxc/backup/restore.go
Labels: size/XXL
