Repository percona/percona-xtradb-cluster-operator, pull requests merged in 2025-01, with the labels that each got.

#1880 K8SPXC-1543: set controller reference for binlog-collector deployment
  pkg/controller/pxc/backup.go
Labels: size/XS, community

#1916 K8SPXC-1544: Add basic Prometheus metrics for binlog-collector
  cmd/pitr/collector/collector.go
  cmd/pitr/main.go
  pkg/pxc/app/deployment/binlog-collector.go
Labels: size/M, community

#1901 CLOUD-869 Enhance Jenkinsfile to skip builds for specified non-trigger files
  .e2eignore
  Jenkinsfile
Labels: size/L

#1933 K8SPXC-1538 fix loadBalancerSourceRanges for replicas
  pkg/apis/pxc/v1/pxc_types.go
  pkg/pxc/service.go
Labels: size/XS

#1934 K8SPXC-1466 default container annotation
  e2e-tests/functions
  pkg/pxc/statefulset.go
Labels: size/S

#1876 K8SPXC-1510 Enable log_error_suppression_list to reduce spam in MySQL error log
  deploy/cr.yaml
Labels: size/XS

#1958 CLOUD-869 Inverting the check to test whether the previous build's result is anything other than SUCCESS
  Jenkinsfile
Labels: size/XS

#1960 K8SPXC-1547 fix the example of backup object
  deploy/backup/backup.yaml
Labels: size/XS

#1937 K8SPXC-1512: Install binlog UDF component for 8.4
  build/pxc-entrypoint.sh
  cmd/pitr/collector/collector.go
  cmd/pitr/main.go
  cmd/pitr/pxc/pxc.go
  cmd/pitr/recoverer/recoverer.go
Labels: size/L

#1947 K8SPXC-1461: improve pvc resize logs
  pkg/controller/pxc/controller.go
  pkg/controller/pxc/volumes.go
  pkg/naming/naming.go
Labels: size/M

#1935 K8SPXC-1367: add `readinessProbes`, `livenessProbes` fields for pmm
  config/crd/bases/pxc.percona.com_perconaxtradbclusters.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-haproxy-k127.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-haproxy-no-prefix-k127.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-haproxy-no-prefix-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-haproxy-no-prefix.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-haproxy-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-haproxy.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc-k127-no-prefix-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc-k127-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc-k127.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc-no-prefix-k127-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc-no-prefix-k127.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc-no-prefix-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc-no-prefix.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-pxc.yml
  e2e-tests/monitoring-2-0/conf/monitoring.yml
  pkg/apis/pxc/v1/pxc_types.go
  pkg/apis/pxc/v1/zz_generated.deepcopy.go
  pkg/pxc/app/pmm.go
Labels: size/XL

#1936 CLOUD-881: Use release_versions in Makefile release rule
  Makefile
Labels: size/S
